.dx-acc-r .dxm-checked .dxVerticalGrid_CTShowSearchPanel_Office365:before,
.dx-acc-r .dxVerticalGrid_CategoryCollapsed_Office365:before,
.dx-acc-r .dxVerticalGrid_CategoryExpanded_Office365:before,
.dx-acc-r .dxVerticalGrid_CollapsedButton_Office365:before,
.dx-acc-r .dxVerticalGrid_CTClearFilter_Office365:before,
.dx-acc-r .dxVerticalGrid_CTClearFilterDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTDeleteRow_Office365:before,
.dx-acc-r .dxVerticalGrid_CTDeleteRowDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTEditRow_Office365:before,
.dx-acc-r .dxVerticalGrid_CTEditRowDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportCsv_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportCsvDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportDocx_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportDocxDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportPdf_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportPdfDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportRtf_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportRtfDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportXls_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportXlsDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportXlsx_Office365:before,
.dx-acc-r .dxVerticalGrid_CTExportXlsxDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTNewRow_Office365:before,
.dx-acc-r .dxVerticalGrid_CTNewRowDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTRefresh_Office365:before,
.dx-acc-r .dxVerticalGrid_CTRefreshDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTShowFilterEditor_Office365:before,
.dx-acc-r .dxVerticalGrid_CTShowFilterEditorDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_CTShowSearchPanel_Office365:before,
.dx-acc-r .dxVerticalGrid_CTShowSearchPanelDisabled_Office365:before,
.dx-acc-r .dxVerticalGrid_ExpandedButton_Office365:before,
.dx-acc-r .dxVerticalGrid_gvCellError_Office365:before,
.dx-acc-r .dxVerticalGrid_gvFilterRowButton_Office365:before,
.dx-acc-r .dxVerticalGrid_gvHeaderFilter_Office365:before,
.dx-acc-r .dxVerticalGrid_gvHeaderFilterActive_Office365:before,
.dx-acc-r .dxVerticalGrid_gvHeaderSortDown_Office365:before,
.dx-acc-r .dxVerticalGrid_gvHeaderSortUp_Office365:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxm-checked .dxVerticalGrid_CTShowSearchPanel_Office365:before

{
    left: -49px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_CategoryCollapsed_Office365:before

{
    left: -26px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_CategoryExpanded_Office365:before

{
    left: -105px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_CollapsedButton_Office365:before

{
    left: -13px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_CTClearFilter_Office365:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTClearFilterDisabled_Office365:before

{
    left: -17px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_CTDeleteRow_Office365:before

{
    left: -68px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_CTDeleteRowDisabled_Office365:before

{
    left: -34px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_CTEditRow_Office365:before

{
    left: -51px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTEditRowDisabled_Office365:before

{
    left: 0px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_CTExportCsv_Office365:before

{
    left: -17px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_CTExportCsvDisabled_Office365:before

{
    left: -68px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTExportDocx_Office365:before

{
    left: -102px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_CTExportDocxDisabled_Office365:before

{
    left: 0px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_CTExportPdf_Office365:before

{
    left: -85px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_CTExportPdfDisabled_Office365:before

{
    left: -102px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_CTExportRtf_Office365:before

{
    left: -85px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_CTExportRtfDisabled_Office365:before

{
    left: -85px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTExportXls_Office365:before

{
    left: 0px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_CTExportXlsDisabled_Office365:before

{
    left: -51px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_CTExportXlsx_Office365:before

{
    left: -68px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_CTExportXlsxDisabled_Office365:before

{
    left: -34px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTNewRow_Office365:before

{
    left: -17px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTNewRowDisabled_Office365:before

{
    left: -17px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_CTRefresh_Office365:before

{
    left: -51px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_CTRefreshDisabled_Office365:before

{
    left: -102px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTShowFilterEditor_Office365:before

{
    left: 0px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_CTShowFilterEditorDisabled_Office365:before

{
    left: -39px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_CTShowSearchPanel_Office365:before

{
    left: -34px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_CTShowSearchPanelDisabled_Office365:before

{
    left: -34px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_ExpandedButton_Office365:before

{
    left: -79px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_gvCellError_Office365:before

{
    left: -64px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_gvFilterRowButton_Office365:before

{
    left: -92px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_gvHeaderFilter_Office365:before

{
    left: -78px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_gvHeaderFilterActive_Office365:before

{
    left: -91px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_gvHeaderSortDown_Office365:before

{
    left: -52px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_gvHeaderSortUp_Office365:before

{
    left: -65px;
    top: -68px;

}

