.dxGridView_CTClearFilter_Office365,
.dxGridView_CTClearFilterDisabled_Office365,
.dxGridView_CTClearGrouping_Office365,
.dxGridView_CTClearGroupingDisabled_Office365,
.dxGridView_CTCollapseDetailRow_Office365,
.dxGridView_CTCollapseDetailRowDisabled_Office365,
.dxGridView_CTCollapseRow_Office365,
.dxGridView_CTCollapseRowDisabled_Office365,
.dxGridView_CTDeleteRow_Office365,
.dxGridView_CTDeleteRowDisabled_Office365,
.dxGridView_CTEditRow_Office365,
.dxGridView_CTEditRowDisabled_Office365,
.dxGridView_CTExpandDetailRow_Office365,
.dxGridView_CTExpandDetailRowDisabled_Office365,
.dxGridView_CTExpandRow_Office365,
.dxGridView_CTExpandRowDisabled_Office365,
.dxGridView_CTExportCsv_Office365,
.dxGridView_CTExportCsvDisabled_Office365,
.dxGridView_CTExportDocx_Office365,
.dxGridView_CTExportDocxDisabled_Office365,
.dxGridView_CTExportPdf_Office365,
.dxGridView_CTExportPdfDisabled_Office365,
.dxGridView_CTExportRtf_Office365,
.dxGridView_CTExportRtfDisabled_Office365,
.dxGridView_CTExportXls_Office365,
.dxGridView_CTExportXlsDisabled_Office365,
.dxGridView_CTExportXlsx_Office365,
.dxGridView_CTExportXlsxDisabled_Office365,
.dxGridView_CTFullCollapse_Office365,
.dxGridView_CTFullCollapseDisabled_Office365,
.dxGridView_CTFullExpand_Office365,
.dxGridView_CTFullExpandDisabled_Office365,
.dxGridView_CTNewRow_Office365,
.dxGridView_CTNewRowDisabled_Office365,
.dxGridView_CTRefresh_Office365,
.dxGridView_CTRefreshDisabled_Office365,
.dxGridView_CTShowCustDialog_Office365,
.dxGridView_CTShowCustDialogDisabled_Office365,
.dxGridView_CTShowCustomizationWindow_Office365,
.dxGridView_CTShowCustomizationWindowDisabled_Office365,
.dxGridView_CTShowFilterEditor_Office365,
.dxGridView_CTShowFilterEditorDisabled_Office365,
.dxGridView_CTShowFilterRow_Office365,
.dxGridView_CTShowFilterRowDisabled_Office365,
.dxGridView_CTShowGroupPanel_Office365,
.dxGridView_CTShowGroupPanelDisabled_Office365,
.dxGridView_CTShowSearchPanel_Office365,
.dxGridView_CTShowSearchPanelDisabled_Office365,
.dxGridView_gvCellError_Office365,
.dxGridView_gvCMClearFilter_Office365,
.dxGridView_gvCMClearFilterDisabled_Office365,
.dxGridView_gvCMClearGrouping_Office365,
.dxGridView_gvCMClearGroupingDisabled_Office365,
.dxGridView_gvCMCollapseDetailRow_Office365,
.dxGridView_gvCMCollapseDetailRowDisabled_Office365,
.dxGridView_gvCMCollapseRow_Office365,
.dxGridView_gvCMCollapseRowDisabled_Office365,
.dxGridView_gvCMDeleteRow_Office365,
.dxGridView_gvCMDeleteRowDisabled_Office365,
.dxGridView_gvCMEditRow_Office365,
.dxGridView_gvCMEditRowDisabled_Office365,
.dxGridView_gvCMExpandDetailRow_Office365,
.dxGridView_gvCMExpandDetailRowDisabled_Office365,
.dxGridView_gvCMExpandRow_Office365,
.dxGridView_gvCMExpandRowDisabled_Office365,
.dxGridView_gvCMExportCsv_Office365,
.dxGridView_gvCMExportCsvDisabled_Office365,
.dxGridView_gvCMExportDocx_Office365,
.dxGridView_gvCMExportDocxDisabled_Office365,
.dxGridView_gvCMExportPdf_Office365,
.dxGridView_gvCMExportPdfDisabled_Office365,
.dxGridView_gvCMExportRtf_Office365,
.dxGridView_gvCMExportRtfDisabled_Office365,
.dxGridView_gvCMExportXls_Office365,
.dxGridView_gvCMExportXlsDisabled_Office365,
.dxGridView_gvCMExportXlsx_Office365,
.dxGridView_gvCMExportXlsxDisabled_Office365,
.dxGridView_gvCMFullCollapse_Office365,
.dxGridView_gvCMFullCollapseDisabled_Office365,
.dxGridView_gvCMFullExpand_Office365,
.dxGridView_gvCMFullExpandDisabled_Office365,
.dxGridView_gvCMGroupByColumn_Office365,
.dxGridView_gvCMGroupByColumnDisabled_Office365,
.dxGridView_gvCMNewRow_Office365,
.dxGridView_gvCMNewRowDisabled_Office365,
.dxGridView_gvCMRefresh_Office365,
.dxGridView_gvCMRefreshDisabled_Office365,
.dxGridView_gvCMSearchPanel_Office365,
.dxGridView_gvCMSearchPanelDisabled_Office365,
.dxGridView_gvCMShowCustDialog_Office365,
.dxGridView_gvCMShowCustDialogDisabled_Office365,
.dxGridView_gvCMShowCustomizationWindow_Office365,
.dxGridView_gvCMShowCustomizationWindowDisabled_Office365,
.dxGridView_gvCMShowFilterEditor_Office365,
.dxGridView_gvCMShowFilterEditorDisabled_Office365,
.dxGridView_gvCMShowGroupPanel_Office365,
.dxGridView_gvCMShowGroupPanelDisabled_Office365,
.dxGridView_gvCMShowSearchPanel_Office365,
.dxGridView_gvCMShowSearchPanelDisabled_Office365,
.dxGridView_gvCMSortAscending_Office365,
.dxGridView_gvCMSortAscendingDisabled_Office365,
.dxGridView_gvCMSortDescending_Office365,
.dxGridView_gvCMSortDescendingDisabled_Office365,
.dxGridView_gvCMSummaryAverage_Office365,
.dxGridView_gvCMSummaryAverageDisabled_Office365,
.dxGridView_gvCMSummaryCount_Office365,
.dxGridView_gvCMSummaryCountDisabled_Office365,
.dxGridView_gvCMSummaryMax_Office365,
.dxGridView_gvCMSummaryMaxDisabled_Office365,
.dxGridView_gvCMSummaryMin_Office365,
.dxGridView_gvCMSummaryMinDisabled_Office365,
.dxGridView_gvCMSummarySum_Office365,
.dxGridView_gvCMSummarySumDisabled_Office365,
.dxGridView_gvCMUngroupColumn_Office365,
.dxGridView_gvCOApply_Office365,
.dxGridView_gvCOApplyDisabled_Office365,
.dxGridView_gvCOClearFilter_Office365,
.dxGridView_gvCOClearFilterDisabled_Office365,
.dxGridView_gvCOClose_Office365,
.dxGridView_gvCOColumnDrag_Office365,
.dxGridView_gvCOColumnDragDisabled_Office365,
.dxGridView_gvCOColumnGroup_Office365,
.dxGridView_gvCOColumnGroupDisabled_Office365,
.dxGridView_gvCOColumnHide_Office365,
.dxGridView_gvCOColumnHideDisabled_Office365,
.dxGridView_gvCOColumnRemove_Office365,
.dxGridView_gvCOColumnRemoveDisabled_Office365,
.dxGridView_gvCOColumnShow_Office365,
.dxGridView_gvCOColumnShowDisabled_Office365,
.dxGridView_gvCOColumnSort_Office365,
.dxGridView_gvCOColumnSortDisabled_Office365,
.dxGridView_gvCOColumnSortDown_Office365,
.dxGridView_gvCOColumnSortDownDisabled_Office365,
.dxGridView_gvCOColumnSortUp_Office365,
.dxGridView_gvCOColumnSortUpDisabled_Office365,
.dxGridView_gvCOColumnUngroup_Office365,
.dxGridView_gvCOColumnUngroupDisabled_Office365,
.dxGridView_gvCOColumnUnsort_Office365,
.dxGridView_gvCOColumnUnsortDisabled_Office365,
.dxGridView_gvCODragAreaCollapse_Office365,
.dxGridView_gvCODragAreaExpand_Office365,
.dxGridView_gvCOFilterCollapse_Office365,
.dxGridView_gvCOFilterExpand_Office365,
.dxGridView_gvCollapsedButton_Office365,
.dxGridView_gvCollapsedButtonRtl_Office365,
.dxGridView_gvDetailCollapsedButton_Office365,
.dxGridView_gvDetailCollapsedButtonRtl_Office365,
.dxGridView_gvDetailExpandedButton_Office365,
.dxGridView_gvDetailExpandedButtonRtl_Office365,
.dxGridView_gvDragAndDropArrowDown_Office365,
.dxGridView_gvDragAndDropArrowLeft_Office365,
.dxGridView_gvDragAndDropArrowRight_Office365,
.dxGridView_gvDragAndDropArrowUp_Office365,
.dxGridView_gvDragAndDropHideColumn_Office365,
.dxGridView_gvExpandedButton_Office365,
.dxGridView_gvExpandedButtonRtl_Office365,
.dxGridView_gvFilterRowButton_Office365,
.dxGridView_gvFixedGroupRow_Office365,
.dxGridView_gvHeaderFilter_Office365,
.dxGridView_gvHeaderFilterActive_Office365,
.dxGridView_gvHeaderSortDown_Office365,
.dxGridView_gvHeaderSortUp_Office365,
.dxGridView_gvHideAdaptiveDetailButton_Office365,
.dxGridView_gvParentGroupRows_Office365,
.dxGridView_gvShowAdaptiveDetailButton_Office365,
.dxGridView_WindowResizer_Office365,
.dxGridView_WindowResizerRtl_Office365,
.dxgvADSB:hover .dxGridView_gvShowAdaptiveDetailButton_Office365,
.dxgvFocusedGroupRow_Office365 .dxGridView_gvCollapsedButton_Office365,
.dxgvFocusedGroupRow_Office365 .dxGridView_gvCollapsedButtonRtl_Office365,
.dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailCollapsedButton_Office365,
.dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailCollapsedButtonRtl_Office365,
.dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailExpandedButton_Office365,
.dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailExpandedButtonRtl_Office365,
.dxgvFocusedGroupRow_Office365 .dxGridView_gvExpandedButton_Office365,
.dxgvFocusedGroupRow_Office365 .dxGridView_gvExpandedButtonRtl_Office365,
.dxgvFocusedRow_Office365 .dxGridView_gvShowAdaptiveDetailButton_Office365,
.dxgvFocusedRow_Office365 .dxgvADSB:hover .dxGridView_gvShowAdaptiveDetailButton_Office365,
.dxm-checked .dxGridView_CTShowCustomizationWindow_Office365,
.dxm-checked .dxGridView_CTShowFilterRow_Office365,
.dxm-checked .dxGridView_CTShowGroupPanel_Office365,
.dxm-checked .dxGridView_CTShowSearchPanel_Office365,
.dxm-checked .dxGridView_gvCMClearFilter_Office365,
.dxm-checked .dxGridView_gvCMClearGrouping_Office365,
.dxm-checked .dxGridView_gvCMCollapseDetailRow_Office365,
.dxm-checked .dxGridView_gvCMCollapseRow_Office365,
.dxm-checked .dxGridView_gvCMDeleteRow_Office365,
.dxm-checked .dxGridView_gvCMEditRow_Office365,
.dxm-checked .dxGridView_gvCMExpandDetailRow_Office365,
.dxm-checked .dxGridView_gvCMExpandRow_Office365,
.dxm-checked .dxGridView_gvCMFullCollapse_Office365,
.dxm-checked .dxGridView_gvCMFullExpand_Office365,
.dxm-checked .dxGridView_gvCMGroupByColumn_Office365,
.dxm-checked .dxGridView_gvCMNewRow_Office365,
.dxm-checked .dxGridView_gvCMRefresh_Office365,
.dxm-checked .dxGridView_gvCMSearchPanel_Office365,
.dxm-checked .dxGridView_gvCMShowCustomizationWindow_Office365,
.dxm-checked .dxGridView_gvCMShowFilterEditor_Office365,
.dxm-checked .dxGridView_gvCMShowGroupPanel_Office365,
.dxm-checked .dxGridView_gvCMShowSearchPanel_Office365,
.dxm-checked .dxGridView_gvCMSortAscending_Office365,
.dxm-checked .dxGridView_gvCMSortDescending_Office365,
.dxm-checked .dxGridView_gvCMSummaryAverage_Office365,
.dxm-checked .dxGridView_gvCMSummaryCount_Office365,
.dxm-checked .dxGridView_gvCMSummaryMax_Office365,
.dxm-checked .dxGridView_gvCMSummaryMin_Office365,
.dxm-checked .dxGridView_gvCMSummarySum_Office365,
.dxm-checked .dxGridView_gvCMUngroupColumn_Office365
{
    background-image: url('sprite.svg');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxIE .dx-acc-r .dxGridView_CTClearFilter_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTClearFilterDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTClearGrouping_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTClearGroupingDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTCollapseDetailRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTCollapseDetailRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTCollapseRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTCollapseRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTDeleteRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTDeleteRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTEditRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTEditRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExpandDetailRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExpandDetailRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExpandRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExpandRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportCsv_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportCsvDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportDocx_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportDocxDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportPdf_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportPdfDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportRtf_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportRtfDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportXls_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportXlsDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportXlsx_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTExportXlsxDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTFullCollapse_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTFullCollapseDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTFullExpand_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTFullExpandDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTNewRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTNewRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTRefresh_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTRefreshDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowCustDialog_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowCustDialogDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowCustomizationWindow_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowCustomizationWindowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowFilterEditor_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowFilterEditorDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowFilterRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowFilterRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowGroupPanel_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowGroupPanelDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowSearchPanel_Office365::before,
.dxIE .dx-acc-r .dxGridView_CTShowSearchPanelDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCellError_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMClearFilter_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMClearFilterDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMClearGrouping_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMClearGroupingDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMCollapseDetailRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMCollapseDetailRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMCollapseRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMCollapseRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMDeleteRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMDeleteRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMEditRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMEditRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExpandDetailRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExpandDetailRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExpandRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExpandRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportCsv_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportCsvDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportDocx_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportDocxDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportPdf_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportPdfDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportRtf_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportRtfDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportXls_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportXlsDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportXlsx_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMExportXlsxDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMFullCollapse_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMFullCollapseDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMFullExpand_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMFullExpandDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMGroupByColumn_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMGroupByColumnDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMNewRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMNewRowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMRefresh_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMRefreshDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSearchPanel_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSearchPanelDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMShowCustDialog_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMShowCustDialogDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMShowCustomizationWindow_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMShowCustomizationWindowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMShowFilterEditor_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMShowFilterEditorDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMShowGroupPanel_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMShowGroupPanelDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMShowSearchPanel_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMShowSearchPanelDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSortAscending_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSortAscendingDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSortDescending_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSortDescendingDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSummaryAverage_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSummaryAverageDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSummaryCount_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSummaryCountDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSummaryMax_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSummaryMaxDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSummaryMin_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSummaryMinDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSummarySum_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMSummarySumDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCMUngroupColumn_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOApply_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOApplyDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOClearFilter_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOClearFilterDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOClose_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnDrag_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnDragDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnGroup_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnGroupDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnHide_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnHideDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnRemove_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnRemoveDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnShow_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnShowDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnSort_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnSortDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnSortDown_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnSortDownDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnSortUp_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnSortUpDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnUngroup_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnUngroupDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnUnsort_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOColumnUnsortDisabled_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCODragAreaCollapse_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCODragAreaExpand_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOFilterCollapse_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCOFilterExpand_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCollapsedButton_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvCollapsedButtonRtl_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvDetailCollapsedButton_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvDetailCollapsedButtonRtl_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvDetailExpandedButton_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvDetailExpandedButtonRtl_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvDragAndDropArrowDown_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvDragAndDropArrowLeft_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvDragAndDropArrowRight_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvDragAndDropArrowUp_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvDragAndDropHideColumn_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvExpandedButton_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvExpandedButtonRtl_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvFilterRowButton_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvFixedGroupRow_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvHeaderFilter_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvHeaderFilterActive_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvHeaderSortDown_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvHeaderSortUp_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvHideAdaptiveDetailButton_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvParentGroupRows_Office365::before,
.dxIE .dx-acc-r .dxGridView_gvShowAdaptiveDetailButton_Office365::before,
.dxIE .dx-acc-r .dxGridView_WindowResizer_Office365::before,
.dxIE .dx-acc-r .dxGridView_WindowResizerRtl_Office365::before,
.dxIE .dx-acc-r .dxgvADSB:hover .dxGridView_gvShowAdaptiveDetailButton_Office365::before,
.dxIE .dx-acc-r .dxgvFocusedGroupRow_Office365 .dxGridView_gvCollapsedButton_Office365::before,
.dxIE .dx-acc-r .dxgvFocusedGroupRow_Office365 .dxGridView_gvCollapsedButtonRtl_Office365::before,
.dxIE .dx-acc-r .dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailCollapsedButton_Office365::before,
.dxIE .dx-acc-r .dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailCollapsedButtonRtl_Office365::before,
.dxIE .dx-acc-r .dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailExpandedButton_Office365::before,
.dxIE .dx-acc-r .dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailExpandedButtonRtl_Office365::before,
.dxIE .dx-acc-r .dxgvFocusedGroupRow_Office365 .dxGridView_gvExpandedButton_Office365::before,
.dxIE .dx-acc-r .dxgvFocusedGroupRow_Office365 .dxGridView_gvExpandedButtonRtl_Office365::before,
.dxIE .dx-acc-r .dxgvFocusedRow_Office365 .dxGridView_gvShowAdaptiveDetailButton_Office365::before,
.dxIE .dx-acc-r .dxgvFocusedRow_Office365 .dxgvADSB:hover .dxGridView_gvShowAdaptiveDetailButton_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_CTShowCustomizationWindow_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_CTShowFilterRow_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_CTShowGroupPanel_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_CTShowSearchPanel_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMClearFilter_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMClearGrouping_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMCollapseDetailRow_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMCollapseRow_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMDeleteRow_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMEditRow_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMExpandDetailRow_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMExpandRow_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMFullCollapse_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMFullExpand_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMGroupByColumn_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMNewRow_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMRefresh_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMSearchPanel_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMShowCustomizationWindow_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMShowFilterEditor_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMShowGroupPanel_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMShowSearchPanel_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMSortAscending_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMSortDescending_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMSummaryAverage_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMSummaryCount_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMSummaryMax_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMSummaryMin_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMSummarySum_Office365::before,
.dxIE .dx-acc-r .dxm-checked .dxGridView_gvCMUngroupColumn_Office365::before{
    width: 323px;
}
.dxGridView_CTClearFilter_Office365
{
    background-position: -17px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTClearFilterDisabled_Office365
{
    background-position: -221px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTClearGrouping_Office365
{
    background-position: -221px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTClearGroupingDisabled_Office365
{
    background-position: -272px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseDetailRow_Office365
{
    background-position: 0px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseDetailRowDisabled_Office365
{
    background-position: -187px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseRow_Office365
{
    background-position: -187px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseRowDisabled_Office365
{
    background-position: -204px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTDeleteRow_Office365
{
    background-position: -102px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTDeleteRowDisabled_Office365
{
    background-position: -255px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTEditRow_Office365
{
    background-position: -17px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTEditRowDisabled_Office365
{
    background-position: -272px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandDetailRow_Office365
{
    background-position: -170px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandDetailRowDisabled_Office365
{
    background-position: -51px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandRow_Office365
{
    background-position: -34px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandRowDisabled_Office365
{
    background-position: -187px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportCsv_Office365
{
    background-position: -285px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportCsvDisabled_Office365
{
    background-position: 0px -165px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportDocx_Office365
{
    background-position: -51px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportDocxDisabled_Office365
{
    background-position: -51px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportPdf_Office365
{
    background-position: 0px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportPdfDisabled_Office365
{
    background-position: -136px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportRtf_Office365
{
    background-position: -34px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportRtfDisabled_Office365
{
    background-position: -119px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportXls_Office365
{
    background-position: -306px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportXlsDisabled_Office365
{
    background-position: -255px -46px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportXlsx_Office365
{
    background-position: -238px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportXlsxDisabled_Office365
{
    background-position: -153px -46px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullCollapse_Office365
{
    background-position: -51px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullCollapseDisabled_Office365
{
    background-position: -102px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullExpand_Office365
{
    background-position: -221px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullExpandDisabled_Office365
{
    background-position: -204px -46px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTNewRow_Office365
{
    background-position: -272px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTNewRowDisabled_Office365
{
    background-position: -204px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTRefresh_Office365
{
    background-position: -85px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTRefreshDisabled_Office365
{
    background-position: -289px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustDialog_Office365
{
    background-position: -255px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustDialogDisabled_Office365
{
    background-position: -306px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustomizationWindow_Office365
{
    background-position: -102px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustomizationWindowDisabled_Office365
{
    background-position: -68px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowFilterEditor_Office365
{
    background-position: -91px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_CTShowFilterEditorDisabled_Office365
{
    background-position: -13px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_CTShowFilterRow_Office365
{
    background-position: -34px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowFilterRowDisabled_Office365
{
    background-position: -204px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowGroupPanel_Office365
{
    background-position: -221px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowGroupPanelDisabled_Office365
{
    background-position: -272px -46px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowSearchPanel_Office365
{
    background-position: -211px -165px;
    width: 14px;
    height: 14px;
}
.dxGridView_CTShowSearchPanelDisabled_Office365
{
    background-position: -306px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCellError_Office365
{
    background-position: -106px -165px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_Office365
{
    background-position: -289px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearFilterDisabled_Office365
{
    background-position: -68px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGrouping_Office365
{
    background-position: -85px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGroupingDisabled_Office365
{
    background-position: -102px -46px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRow_Office365
{
    background-position: -170px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRowDisabled_Office365
{
    background-position: -204px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRow_Office365
{
    background-position: -272px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRowDisabled_Office365
{
    background-position: -268px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRow_Office365
{
    background-position: -102px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRowDisabled_Office365
{
    background-position: -187px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRow_Office365
{
    background-position: -187px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRowDisabled_Office365
{
    background-position: -153px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRow_Office365
{
    background-position: -255px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRowDisabled_Office365
{
    background-position: -119px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRow_Office365
{
    background-position: -34px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRowDisabled_Office365
{
    background-position: -34px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportCsv_Office365
{
    background-position: -136px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportCsvDisabled_Office365
{
    background-position: -17px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportDocx_Office365
{
    background-position: -221px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportDocxDisabled_Office365
{
    background-position: -302px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportPdf_Office365
{
    background-position: -17px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportPdfDisabled_Office365
{
    background-position: -306px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportRtf_Office365
{
    background-position: -306px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportRtfDisabled_Office365
{
    background-position: -34px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportXls_Office365
{
    background-position: -102px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportXlsDisabled_Office365
{
    background-position: -85px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportXlsx_Office365
{
    background-position: -136px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportXlsxDisabled_Office365
{
    background-position: -68px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapse_Office365
{
    background-position: -289px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapseDisabled_Office365
{
    background-position: -17px -165px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpand_Office365
{
    background-position: -153px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpandDisabled_Office365
{
    background-position: -238px -46px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumn_Office365
{
    background-position: -238px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumnDisabled_Office365
{
    background-position: -170px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRow_Office365
{
    background-position: -153px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRowDisabled_Office365
{
    background-position: 0px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefresh_Office365
{
    background-position: -119px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefreshDisabled_Office365
{
    background-position: -289px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanel_Office365
{
    background-position: -151px -165px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMSearchPanelDisabled_Office365
{
    background-position: -170px -46px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustDialog_Office365
{
    background-position: -51px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustDialogDisabled_Office365
{
    background-position: -272px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindow_Office365
{
    background-position: -102px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindowDisabled_Office365
{
    background-position: -204px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditor_Office365
{
    background-position: -182px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvCMShowFilterEditorDisabled_Office365
{
    background-position: -39px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvCMShowGroupPanel_Office365
{
    background-position: -255px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanelDisabled_Office365
{
    background-position: -136px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanel_Office365
{
    background-position: -196px -165px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMShowSearchPanelDisabled_Office365
{
    background-position: -187px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscending_Office365
{
    background-position: -238px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscendingDisabled_Office365
{
    background-position: -136px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescending_Office365
{
    background-position: -289px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescendingDisabled_Office365
{
    background-position: -51px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverage_Office365
{
    background-position: -238px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverageDisabled_Office365
{
    background-position: -119px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCount_Office365
{
    background-position: -51px -165px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCountDisabled_Office365
{
    background-position: -170px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMax_Office365
{
    background-position: -170px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMaxDisabled_Office365
{
    background-position: -68px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMin_Office365
{
    background-position: -221px -46px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMinDisabled_Office365
{
    background-position: -85px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySum_Office365
{
    background-position: -221px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySumDisabled_Office365
{
    background-position: -119px -63px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMUngroupColumn_Office365
{
    background-position: 0px -114px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCOApply_Office365
{
    background-position: -46px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOApplyDisabled_Office365
{
    background-position: -207px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOClearFilter_Office365
{
    background-position: -153px -97px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCOClearFilterDisabled_Office365
{
    background-position: -204px -131px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCOClose_Office365
{
    background-position: -69px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnDrag_Office365
{
    background-position: -230px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCOColumnDragDisabled_Office365
{
    background-position: -249px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCOColumnGroup_Office365
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnGroupDisabled_Office365
{
    background-position: -184px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnHide_Office365
{
    background-position: -184px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnHideDisabled_Office365
{
    background-position: -276px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnRemove_Office365
{
    background-position: -92px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnRemoveDisabled_Office365
{
    background-position: -69px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnShow_Office365
{
    background-position: -46px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnShowDisabled_Office365
{
    background-position: -230px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSort_Office365
{
    background-position: -92px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortDisabled_Office365
{
    background-position: 0px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortDown_Office365
{
    background-position: -138px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortDownDisabled_Office365
{
    background-position: -299px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortUp_Office365
{
    background-position: -23px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortUpDisabled_Office365
{
    background-position: -115px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUngroup_Office365
{
    background-position: -161px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUngroupDisabled_Office365
{
    background-position: -253px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUnsort_Office365
{
    background-position: -161px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUnsortDisabled_Office365
{
    background-position: -138px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCODragAreaCollapse_Office365
{
    background-position: -226px -165px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCODragAreaExpand_Office365
{
    background-position: -240px -165px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCOFilterCollapse_Office365
{
    background-position: -207px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOFilterExpand_Office365
{
    background-position: -23px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCollapsedButton_Office365
{
    background-position: -280px -165px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvCollapsedButtonRtl_Office365
{
    background-position: -117px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvDetailCollapsedButton_Office365
{
    background-position: -156px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvDetailCollapsedButtonRtl_Office365
{
    background-position: -247px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvDetailExpandedButton_Office365
{
    background-position: -208px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvDetailExpandedButtonRtl_Office365
{
    background-position: -104px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvDragAndDropArrowDown_Office365
{
    background-position: -305px -182px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowLeft_Office365
{
    background-position: -283px -182px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDragAndDropArrowRight_Office365
{
    background-position: -273px -182px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDragAndDropArrowUp_Office365
{
    background-position: -293px -182px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_Office365
{
    background-position: -255px -80px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvExpandedButton_Office365
{
    background-position: -26px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvExpandedButtonRtl_Office365
{
    background-position: -234px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvFilterRowButton_Office365
{
    background-position: -130px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvFixedGroupRow_Office365
{
    background-position: -68px -165px;
    width: 22px;
    height: 14px;
}
.dxGridView_gvHeaderFilter_Office365
{
    background-position: -169px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvHeaderFilterActive_Office365
{
    background-position: -65px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvHeaderSortDown_Office365
{
    background-position: -221px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvHeaderSortUp_Office365
{
    background-position: -260px -182px;
    width: 12px;
    height: 12px;
}
.dxGridView_gvHideAdaptiveDetailButton_Office365
{
    background-position: -34px -46px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvParentGroupRows_Office365
{
    background-position: -115px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvShowAdaptiveDetailButton_Office365
{
    background-position: -85px -46px;
    width: 16px;
    height: 16px;
}
.dxGridView_WindowResizer_Office365
{
    background-position: -166px -165px;
    width: 14px;
    height: 14px;
}
.dxGridView_WindowResizerRtl_Office365
{
    background-position: -91px -165px;
    width: 14px;
    height: 14px;
}
.dxgvADSB:hover .dxGridView_gvShowAdaptiveDetailButton_Office365
{
    background-position: -68px -46px;
    width: 16px;
    height: 16px;
}
.dxgvFocusedGroupRow_Office365 .dxGridView_gvCollapsedButton_Office365
{
    background-position: -293px -165px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_Office365 .dxGridView_gvCollapsedButtonRtl_Office365
{
    background-position: 0px -182px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailCollapsedButton_Office365
{
    background-position: -254px -165px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailCollapsedButtonRtl_Office365
{
    background-position: -143px -182px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailExpandedButton_Office365
{
    background-position: -52px -182px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_Office365 .dxGridView_gvDetailExpandedButtonRtl_Office365
{
    background-position: -306px -165px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_Office365 .dxGridView_gvExpandedButton_Office365
{
    background-position: -267px -165px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedGroupRow_Office365 .dxGridView_gvExpandedButtonRtl_Office365
{
    background-position: -195px -182px;
    width: 12px;
    height: 12px;
}
.dxgvFocusedRow_Office365 .dxGridView_gvShowAdaptiveDetailButton_Office365
{
    background-position: -187px -46px;
    width: 16px;
    height: 16px;
}
.dxgvFocusedRow_Office365 .dxgvADSB:hover .dxGridView_gvShowAdaptiveDetailButton_Office365
{
    background-position: -51px -46px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_CTShowCustomizationWindow_Office365
{
    background-position: 0px -80px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_CTShowFilterRow_Office365
{
    background-position: -153px -80px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_CTShowGroupPanel_Office365
{
    background-position: -306px -97px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_CTShowSearchPanel_Office365
{
    background-position: -181px -165px;
    width: 14px;
    height: 14px;
}
.dxm-checked .dxGridView_gvCMClearFilter_Office365
{
    background-position: 0px -46px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMClearGrouping_Office365
{
    background-position: -119px -148px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMCollapseDetailRow_Office365
{
    background-position: -85px -80px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMCollapseRow_Office365
{
    background-position: -153px -148px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMDeleteRow_Office365
{
    background-position: -255px -131px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMEditRow_Office365
{
    background-position: -85px -63px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMExpandDetailRow_Office365
{
    background-position: -272px -97px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMExpandRow_Office365
{
    background-position: -17px -46px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMFullCollapse_Office365
{
    background-position: -17px -80px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMFullExpand_Office365
{
    background-position: -119px -46px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMGroupByColumn_Office365
{
    background-position: -289px -114px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMNewRow_Office365
{
    background-position: -170px -97px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMRefresh_Office365
{
    background-position: -136px -46px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSearchPanel_Office365
{
    background-position: -136px -165px;
    width: 14px;
    height: 14px;
}
.dxm-checked .dxGridView_gvCMShowCustomizationWindow_Office365
{
    background-position: -68px -131px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMShowFilterEditor_Office365
{
    background-position: -78px -182px;
    width: 12px;
    height: 12px;
}
.dxm-checked .dxGridView_gvCMShowGroupPanel_Office365
{
    background-position: -136px -80px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMShowSearchPanel_Office365
{
    background-position: -121px -165px;
    width: 14px;
    height: 14px;
}
.dxm-checked .dxGridView_gvCMSortAscending_Office365
{
    background-position: 0px -148px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSortDescending_Office365
{
    background-position: -238px -131px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSummaryAverage_Office365
{
    background-position: -238px -97px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSummaryCount_Office365
{
    background-position: -34px -165px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSummaryMax_Office365
{
    background-position: -68px -114px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSummaryMin_Office365
{
    background-position: -289px -46px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMSummarySum_Office365
{
    background-position: -306px -46px;
    width: 16px;
    height: 16px;
}
.dxm-checked .dxGridView_gvCMUngroupColumn_Office365
{
    background-position: -17px -148px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvFilterRowButton_Office365
{
margin-left: 8px;
}

