.dx-acc-r .dxm-hovered .dxXtraReports_BtnFirstPage_MaterialCustom:before,
.dx-acc-r .dxm-hovered .dxXtraReports_BtnLastPage_MaterialCustom:before,
.dx-acc-r .dxm-hovered .dxXtraReports_BtnNextPage_MaterialCustom:before,
.dx-acc-r .dxm-hovered .dxXtraReports_BtnPrevPage_MaterialCustom:before,
.dx-acc-r .dxm-hovered .dxXtraReports_BtnPrint_MaterialCustom:before,
.dx-acc-r .dxm-hovered .dxXtraReports_BtnPrintPage_MaterialCustom:before,
.dx-acc-r .dxm-hovered .dxXtraReports_BtnSave_MaterialCustom:before,
.dx-acc-r .dxm-hovered .dxXtraReports_BtnSaveWindow_MaterialCustom:before,
.dx-acc-r .dxm-hovered .dxXtraReports_BtnSearch_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnFirstPage_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnFirstPageDisabled_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnLastPage_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnLastPageDisabled_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnNextPage_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnNextPageDisabled_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnPrevPage_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnPrevPageDisabled_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnPrint_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnPrintDisabled_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnPrintPage_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnPrintPageDisabled_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnSave_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnSaveDisabled_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnSaveWindow_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnSearch_MaterialCustom:before,
.dx-acc-r .dxXtraReports_BtnSearchDisabled_MaterialCustom:before,
.dx-acc-r .dxXtraReports_PageBorder_blc_MaterialCustom:before,
.dx-acc-r .dxXtraReports_PageBorder_brc_MaterialCustom:before,
.dx-acc-r .dxXtraReports_PageBorder_tlc_MaterialCustom:before,
.dx-acc-r .dxXtraReports_PageBorder_trc_MaterialCustom:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxm-hovered .dxXtraReports_BtnFirstPage_MaterialCustom:before

{
    left: -19px;
    top: -38px;

}
.dx-acc-r .dxm-hovered .dxXtraReports_BtnLastPage_MaterialCustom:before

{
    left: -76px;
    top: -19px;

}
.dx-acc-r .dxm-hovered .dxXtraReports_BtnNextPage_MaterialCustom:before

{
    left: -38px;
    top: 0px;

}
.dx-acc-r .dxm-hovered .dxXtraReports_BtnPrevPage_MaterialCustom:before

{
    left: -57px;
    top: -19px;

}
.dx-acc-r .dxm-hovered .dxXtraReports_BtnPrint_MaterialCustom:before

{
    left: -51px;
    top: -57px;

}
.dx-acc-r .dxm-hovered .dxXtraReports_BtnPrintPage_MaterialCustom:before

{
    left: -17px;
    top: -74px;

}
.dx-acc-r .dxm-hovered .dxXtraReports_BtnSave_MaterialCustom:before

{
    left: -85px;
    top: -57px;

}
.dx-acc-r .dxm-hovered .dxXtraReports_BtnSaveWindow_MaterialCustom:before

{
    left: -51px;
    top: -74px;

}
.dx-acc-r .dxm-hovered .dxXtraReports_BtnSearch_MaterialCustom:before

{
    left: 0px;
    top: -57px;

}
.dx-acc-r .dxXtraReports_BtnFirstPage_MaterialCustom:before

{
    left: 0px;
    top: -38px;

}
.dx-acc-r .dxXtraReports_BtnFirstPageDisabled_MaterialCustom:before

{
    left: -57px;
    top: 0px;

}
.dx-acc-r .dxXtraReports_BtnLastPage_MaterialCustom:before

{
    left: -76px;
    top: 0px;

}
.dx-acc-r .dxXtraReports_BtnLastPageDisabled_MaterialCustom:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxXtraReports_BtnNextPage_MaterialCustom:before

{
    left: -19px;
    top: 0px;

}
.dx-acc-r .dxXtraReports_BtnNextPageDisabled_MaterialCustom:before

{
    left: 0px;
    top: -19px;

}
.dx-acc-r .dxXtraReports_BtnPrevPage_MaterialCustom:before

{
    left: -38px;
    top: -19px;

}
.dx-acc-r .dxXtraReports_BtnPrevPageDisabled_MaterialCustom:before

{
    left: -19px;
    top: -19px;

}
.dx-acc-r .dxXtraReports_BtnPrint_MaterialCustom:before

{
    left: -72px;
    top: -38px;

}
.dx-acc-r .dxXtraReports_BtnPrintDisabled_MaterialCustom:before

{
    left: -89px;
    top: -38px;

}
.dx-acc-r .dxXtraReports_BtnPrintPage_MaterialCustom:before

{
    left: 0px;
    top: -74px;

}
.dx-acc-r .dxXtraReports_BtnPrintPageDisabled_MaterialCustom:before

{
    left: -55px;
    top: -38px;

}
.dx-acc-r .dxXtraReports_BtnSave_MaterialCustom:before

{
    left: -34px;
    top: -57px;

}
.dx-acc-r .dxXtraReports_BtnSaveDisabled_MaterialCustom:before

{
    left: -68px;
    top: -74px;

}
.dx-acc-r .dxXtraReports_BtnSaveWindow_MaterialCustom:before

{
    left: -68px;
    top: -57px;

}
.dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_MaterialCustom:before

{
    left: -34px;
    top: -74px;

}
.dx-acc-r .dxXtraReports_BtnSearch_MaterialCustom:before

{
    left: -38px;
    top: -38px;

}
.dx-acc-r .dxXtraReports_BtnSearchDisabled_MaterialCustom:before

{
    left: -17px;
    top: -57px;

}
.dx-acc-r .dxXtraReports_PageBorder_blc_MaterialCustom:before

{
    left: -95px;
    top: -19px;

}
.dx-acc-r .dxXtraReports_PageBorder_brc_MaterialCustom:before

{
    left: -85px;
    top: -74px;

}
.dx-acc-r .dxXtraReports_PageBorder_tlc_MaterialCustom:before

{
    left: -95px;
    top: 0px;

}
.dx-acc-r .dxXtraReports_PageBorder_trc_MaterialCustom:before

{
    left: -96px;
    top: -74px;

}
.dx-acc-r .dxXtraReports_PageBorder_t_MaterialCustom :before

{
    content: url('pageTopBorder.svg');

}
.dx-acc-r .dxXtraReports_PageBorder_l_MaterialCustom :before

{
    content: url('pageLeftBorder.svg');

}
.dx-acc-r .dxXtraReports_PageBorder_r_MaterialCustom :before

{
    content: url('pageRightBorder.svg');

}
.dx-acc-r .dxXtraReports_PageBorder_b_MaterialCustom :before

{
    content: url('pageBottomBorder.svg');

}

