.dxm-checked .dxVerticalGrid_CTShowSearchPanel_MaterialCustom,
.dxVerticalGrid_CategoryCollapsed_MaterialCustom,
.dxVerticalGrid_CategoryExpanded_MaterialCustom,
.dxVerticalGrid_CollapsedButton_MaterialCustom,
.dxVerticalGrid_CTClearFilter_MaterialCustom,
.dxVerticalGrid_CTClearFilterDisabled_MaterialCustom,
.dxVerticalGrid_CTDeleteRow_MaterialCustom,
.dxVerticalGrid_CTDeleteRowDisabled_MaterialCustom,
.dxVerticalGrid_CTEditRow_MaterialCustom,
.dxVerticalGrid_CTEditRowDisabled_MaterialCustom,
.dxVerticalGrid_CTExportCsv_MaterialCustom,
.dxVerticalGrid_CTExportCsvDisabled_MaterialCustom,
.dxVerticalGrid_CTExportDocx_MaterialCustom,
.dxVerticalGrid_CTExportDocxDisabled_MaterialCustom,
.dxVerticalGrid_CTExportPdf_MaterialCustom,
.dxVerticalGrid_CTExportPdfDisabled_MaterialCustom,
.dxVerticalGrid_CTExportRtf_MaterialCustom,
.dxVerticalGrid_CTExportRtfDisabled_MaterialCustom,
.dxVerticalGrid_CTExportXls_MaterialCustom,
.dxVerticalGrid_CTExportXlsDisabled_MaterialCustom,
.dxVerticalGrid_CTExportXlsx_MaterialCustom,
.dxVerticalGrid_CTExportXlsxDisabled_MaterialCustom,
.dxVerticalGrid_CTNewRow_MaterialCustom,
.dxVerticalGrid_CTNewRowDisabled_MaterialCustom,
.dxVerticalGrid_CTRefresh_MaterialCustom,
.dxVerticalGrid_CTRefreshDisabled_MaterialCustom,
.dxVerticalGrid_CTShowFilterEditor_MaterialCustom,
.dxVerticalGrid_CTShowFilterEditorDisabled_MaterialCustom,
.dxVerticalGrid_CTShowSearchPanel_MaterialCustom,
.dxVerticalGrid_CTShowSearchPanelDisabled_MaterialCustom,
.dxVerticalGrid_ExpandedButton_MaterialCustom,
.dxVerticalGrid_gvCellError_MaterialCustom,
.dxVerticalGrid_gvFilterRowButton_MaterialCustom,
.dxVerticalGrid_gvHeaderFilter_MaterialCustom,
.dxVerticalGrid_gvHeaderFilterActive_MaterialCustom,
.dxVerticalGrid_gvHeaderSortDown_MaterialCustom,
.dxVerticalGrid_gvHeaderSortUp_MaterialCustom
{
    background-image: url('sprite.svg');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxIE .dx-acc-r .dxm-checked .dxVerticalGrid_CTShowSearchPanel_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CategoryCollapsed_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CategoryExpanded_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CollapsedButton_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTClearFilter_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTClearFilterDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTDeleteRow_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTDeleteRowDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTEditRow_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTEditRowDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportCsv_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportCsvDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportDocx_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportDocxDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportPdf_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportPdfDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportRtf_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportRtfDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportXls_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportXlsDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportXlsx_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTExportXlsxDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTNewRow_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTNewRowDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTRefresh_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTRefreshDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTShowFilterEditor_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTShowFilterEditorDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTShowSearchPanel_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_CTShowSearchPanelDisabled_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_ExpandedButton_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_gvCellError_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_gvFilterRowButton_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_gvHeaderFilter_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_gvHeaderFilterActive_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_gvHeaderSortDown_MaterialCustom::before,
.dxIE .dx-acc-r .dxVerticalGrid_gvHeaderSortUp_MaterialCustom::before{
    width: 69px;
}
.dxm-checked .dxVerticalGrid_CTShowSearchPanel_MaterialCustom
{
    background-position: -30px -102px;
    width: 14px;
    height: 14px;
}
.dxVerticalGrid_CategoryCollapsed_MaterialCustom
{
    background-position: -13px -132px;
    width: 12px;
    height: 12px;
}
.dxVerticalGrid_CategoryExpanded_MaterialCustom
{
    background-position: -26px -132px;
    width: 12px;
    height: 12px;
}
.dxVerticalGrid_CollapsedButton_MaterialCustom
{
    background-position: -39px -132px;
    width: 12px;
    height: 12px;
}
.dxVerticalGrid_CTClearFilter_MaterialCustom
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTClearFilterDisabled_MaterialCustom
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTDeleteRow_MaterialCustom
{
    background-position: -51px -17px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTDeleteRowDisabled_MaterialCustom
{
    background-position: -17px -34px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTEditRow_MaterialCustom
{
    background-position: -17px -85px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTEditRowDisabled_MaterialCustom
{
    background-position: -17px -51px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportCsv_MaterialCustom
{
    background-position: -51px -34px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportCsvDisabled_MaterialCustom
{
    background-position: -34px 0px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportDocx_MaterialCustom
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportDocxDisabled_MaterialCustom
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportPdf_MaterialCustom
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportPdfDisabled_MaterialCustom
{
    background-position: -17px 0px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportRtf_MaterialCustom
{
    background-position: -34px -17px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportRtfDisabled_MaterialCustom
{
    background-position: -51px 0px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportXls_MaterialCustom
{
    background-position: -34px -51px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportXlsDisabled_MaterialCustom
{
    background-position: -34px -85px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportXlsx_MaterialCustom
{
    background-position: -51px -68px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTExportXlsxDisabled_MaterialCustom
{
    background-position: -34px -34px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTNewRow_MaterialCustom
{
    background-position: -17px -68px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTNewRowDisabled_MaterialCustom
{
    background-position: -51px -51px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTRefresh_MaterialCustom
{
    background-position: -17px -17px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTRefreshDisabled_MaterialCustom
{
    background-position: -34px -68px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_CTShowFilterEditor_MaterialCustom
{
    background-position: -30px -117px;
    width: 14px;
    height: 14px;
}
.dxVerticalGrid_CTShowFilterEditorDisabled_MaterialCustom
{
    background-position: -45px -102px;
    width: 14px;
    height: 14px;
}
.dxVerticalGrid_CTShowSearchPanel_MaterialCustom
{
    background-position: -51px -85px;
    width: 14px;
    height: 14px;
}
.dxVerticalGrid_CTShowSearchPanelDisabled_MaterialCustom
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxVerticalGrid_ExpandedButton_MaterialCustom
{
    background-position: -45px -117px;
    width: 12px;
    height: 12px;
}
.dxVerticalGrid_gvCellError_MaterialCustom
{
    background-position: 0px -102px;
    width: 14px;
    height: 14px;
}
.dxVerticalGrid_gvFilterRowButton_MaterialCustom
{
    background-position: 0px -117px;
    width: 14px;
    height: 14px;
}
.dxVerticalGrid_gvHeaderFilter_MaterialCustom
{
    background-position: -15px -102px;
    width: 14px;
    height: 14px;
}
.dxVerticalGrid_gvHeaderFilterActive_MaterialCustom
{
    background-position: -15px -117px;
    width: 14px;
    height: 14px;
}
.dxVerticalGrid_gvHeaderSortDown_MaterialCustom
{
    background-position: -52px -132px;
    width: 12px;
    height: 12px;
}
.dxVerticalGrid_gvHeaderSortUp_MaterialCustom
{
    background-position: 0px -132px;
    width: 12px;
    height: 12px;
}

