.dxm-hovered .dxXtraReports_BtnFirstPage_ModernoCustom,
.dxm-hovered .dxXtraReports_BtnLastPage_ModernoCustom,
.dxm-hovered .dxXtraReports_BtnNextPage_ModernoCustom,
.dxm-hovered .dxXtraReports_BtnPrevPage_ModernoCustom,
.dxm-hovered .dxXtraReports_BtnPrint_ModernoCustom,
.dxm-hovered .dxXtraReports_BtnPrintPage_ModernoCustom,
.dxm-hovered .dxXtraReports_BtnSave_ModernoCustom,
.dxm-hovered .dxXtraReports_BtnSaveWindow_ModernoCustom,
.dxm-hovered .dxXtraReports_BtnSearch_ModernoCustom,
.dxXtraReports_BtnFirstPage_ModernoCustom,
.dxXtraReports_BtnFirstPageDisabled_ModernoCustom,
.dxXtraReports_BtnLastPage_ModernoCustom,
.dxXtraReports_BtnLastPageDisabled_ModernoCustom,
.dxXtraReports_BtnNextPage_ModernoCustom,
.dxXtraReports_BtnNextPageDisabled_ModernoCustom,
.dxXtraReports_BtnPrevPage_ModernoCustom,
.dxXtraReports_BtnPrevPageDisabled_ModernoCustom,
.dxXtraReports_BtnPrint_ModernoCustom,
.dxXtraReports_BtnPrintDisabled_ModernoCustom,
.dxXtraReports_BtnPrintPage_ModernoCustom,
.dxXtraReports_BtnPrintPageDisabled_ModernoCustom,
.dxXtraReports_BtnSave_ModernoCustom,
.dxXtraReports_BtnSaveDisabled_ModernoCustom,
.dxXtraReports_BtnSaveWindow_ModernoCustom,
.dxXtraReports_BtnSaveWindowDisabled_ModernoCustom,
.dxXtraReports_BtnSearch_ModernoCustom,
.dxXtraReports_BtnSearchDisabled_ModernoCustom,
.dxXtraReports_PageBorder_blc_ModernoCustom,
.dxXtraReports_PageBorder_brc_ModernoCustom,
.dxXtraReports_PageBorder_tlc_ModernoCustom,
.dxXtraReports_PageBorder_trc_ModernoCustom
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxm-hovered .dxXtraReports_BtnFirstPage_ModernoCustom
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnLastPage_ModernoCustom
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnNextPage_ModernoCustom
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrevPage_ModernoCustom
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrint_ModernoCustom
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrintPage_ModernoCustom
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSave_ModernoCustom
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSaveWindow_ModernoCustom
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSearch_ModernoCustom
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPage_ModernoCustom
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPageDisabled_ModernoCustom
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPage_ModernoCustom
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPageDisabled_ModernoCustom
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPage_ModernoCustom
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPageDisabled_ModernoCustom
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPage_ModernoCustom
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPageDisabled_ModernoCustom
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrint_ModernoCustom
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintDisabled_ModernoCustom
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPage_ModernoCustom
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPageDisabled_ModernoCustom
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSave_ModernoCustom
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveDisabled_ModernoCustom
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindow_ModernoCustom
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindowDisabled_ModernoCustom
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearch_ModernoCustom
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearchDisabled_ModernoCustom
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_PageBorder_blc_ModernoCustom
{
    background-position: 0px -481px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_brc_ModernoCustom
{
    background-position: 0px -470px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_tlc_ModernoCustom
{
    background-position: 0px -492px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_trc_ModernoCustom
{
    background-position: 0px -459px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_t_ModernoCustom,
.dxXtraReports_PageBorder_l_ModernoCustom,
.dxXtraReports_PageBorder_r_ModernoCustom,
.dxXtraReports_PageBorder_b_ModernoCustom {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t_ModernoCustom {
    background-image: url('pageTopBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l_ModernoCustom {
    background-image: url('pageLeftBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r_ModernoCustom {
    background-image: url('pageRightBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b_ModernoCustom {
    background-image: url('pageBottomBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

