<?xml version="1.0" encoding="utf-8" ?>
<parameters>
	<parameter Name="Font" Value="14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif"></parameter>
	<parameter Name="Base Color" Value="#1279C0" Type="Color"></parameter>
	<parameter Name="Gradient Start Color" Value="#1D85CD" Type="Color" Base="Base Color" Expression="1,0.945,1.066"></parameter>
	<parameter Name="Gradient End Color" Value="#086CB3" Type="Color" Base="Base Color" Expression="1,1.055,0.933"></parameter>
	<parameter Name="Border Color" Value="#0A67A8" Type="Color" Base="Base Color" Expression="1,1.033,0.88"></parameter>
	<parameter Name="Link Color" Value="#045CAD" Type="Color" Base="Base Color" Expression="1,1.077,0.907"></parameter>
	<parameter Name="Shadow Color" Value="#0A67A8" Type="Color" Base="Base Color" Expression="1,1.033,0.88"></parameter>
	<parameter Name="Alt Color" Value="#EEF6FB" Type="Color" Base="Base Color" Expression="1,0.055,1.307"></parameter>
	<parameter Name="CardView Hover Border Color" Value="#0F67A3" Type="Color" Base="Base Color" Expression="1,1,0.917"></parameter>
	<parameter Name="CardView FilterPopup Button Color" Value="#2C4D79" Type="Color" Base="Base Color" Expression="1.05,0.699,0.625"></parameter>
	<parameter Name="CardView FilterPopup Border Color" Value="#A3C0E8" Type="Color" Base="Base Color" Expression="1.05,0.322,1.204"></parameter>
	<parameter Name="Editors Hover Color" Value="#1D85CD" Type="Color" Base="Base Color" Expression="1,0.943,1.063"></parameter>
	<parameter Name="Editors Disabled Label Color" Value="#D1DFF3" Type="Color" Base="Base Color" Expression="1.052,0.144,1.265"></parameter>
	<parameter Name="Spreadsheet Color" Value="#0A67AB" Type="Color" Base="Base Color" Expression="1,1.041,0.892"></parameter>
	<parameter Name="TreeList Error Color" Value="#DBEBFF" Type="Color" Base="Base Color" Expression="1.041,0.155,1.333"></parameter>
	<parameter Name="Popup Border Color" Value="#C4DDEF" Type="Color" Base="Base Color" Expression="1,0.188,1.234"></parameter>
	<parameter Name="SiteMap FlowItem Color" Value="#5689C5" Type="Color" Base="Base Color" Expression="1.041,0.621,1.03"></parameter>
	<parameter Name="TabControl Border Color" Value="#AECAF0" Type="Color" Base="Base Color" Expression="1.052,0.3,1.25"></parameter>
	<parameter Name="Pager Link Color" Value="#3F66A0" Type="Color" Base="Base Color" Expression="1.052,0.66,0.826"></parameter>
</parameters>
