.dx-acc-r .dxctToolbar_Office365 .dxm-hovered .dxWeb_mAdaptiveMenu_Office365:before,
.dx-acc-r .dxctToolbar_Office365 .dxm-hovered .dxWeb_mHorizontalPopOut_Office365:before,
.dx-acc-r .dxctToolbar_Office365 .dxWeb_mAdaptiveMenu_Office365:before,
.dx-acc-r .dxeListBoxItemSelected_Office365 .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmCopyButton_Office365:before,
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmCreateButton_Office365:before,
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmDeleteButton_Office365:before,
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmDwnlButton_Office365:before,
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmMoveButton_Office365:before,
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmRefreshButton_Office365:before,
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmRenameButton_Office365:before,
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmUplButton_Office365:before,
.dx-acc-r .dxfm-file .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r .dxfm-file .dxWeb_edtCheckBoxUnchecked_Office365:before,
.dx-acc-r .dxgvFocusedRow_Office365 .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r .dxgvFocusedRow_Office365 .dxWeb_edtCheckBoxGrayed_Office365:before,
.dx-acc-r .dxgvFocusedRow_Office365 .dxWeb_edtCheckBoxUnchecked_Office365:before,
.dx-acc-r .dxigControl_Office365.dxTouchUI .dxWeb_igCloseButton_Office365:before,
.dx-acc-r .dxigControl_Office365.dxTouchUI .dxWeb_igPauseButton_Office365:before,
.dx-acc-r .dxigControl_Office365.dxTouchUI .dxWeb_igPlayButton_Office365:before,
.dx-acc-r .dxis-nextBtnHorWrapperHover .dxWeb_isNextPageBtnHor_Office365:before,
.dx-acc-r .dxis-nextBtnHorWrapperPressed .dxWeb_isNextPageBtnHor_Office365:before,
.dx-acc-r .dxis-nextBtnVertWrapperHover .dxWeb_isNextPageBtnVert_Office365:before,
.dx-acc-r .dxis-nextBtnVertWrapperPressed .dxWeb_isNextPageBtnVert_Office365:before,
.dx-acc-r .dxis-prevBtnHorWrapperHover .dxWeb_isPrevPageBtnHor_Office365:before,
.dx-acc-r .dxis-prevBtnHorWrapperPressed .dxWeb_isPrevPageBtnHor_Office365:before,
.dx-acc-r .dxis-prevBtnVertWrapperHover .dxWeb_isPrevPageBtnVert_Office365:before,
.dx-acc-r .dxis-prevBtnVertWrapperPressed .dxWeb_isPrevPageBtnVert_Office365:before,
.dx-acc-r .dxm-checked .dxWeb_mHorizontalPopOut_Office365:before,
.dx-acc-r .dxm-checked .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-checked .dxWeb_mVerticalPopOutRtl_Office365:before,
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mHorizontalPopOut_Office365:before,
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mSubMenuItemChecked_Office365:before,
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOutRtl_Office365:before,
.dx-acc-r .dxm-disabled .dxWeb_mHorizontalPopOut_Office365:before,
.dx-acc-r .dxm-disabled .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-disabled .dxWeb_mVerticalPopOutRtl_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_fmCopyButton_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_fmCreateButton_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_fmDeleteButton_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_fmDwnlButton_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_fmMoveButton_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_fmRefreshButton_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_fmRenameButton_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_fmUplButton_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_mAdaptiveMenu_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_mHorizontalPopOut_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-hovered .dxWeb_mVerticalPopOutRtl_Office365:before,
.dx-acc-r .dxmLite_Office365 .dxm-left .dxm-back-icon:before,
.dx-acc-r .dxm-scrollBtnHovered .dxWeb_mScrollDown_Office365:before,
.dx-acc-r .dxm-scrollBtnHovered .dxWeb_mScrollUp_Office365:before,
.dx-acc-r .dxm-scrollBtnPressed .dxWeb_mScrollDown_Office365:before,
.dx-acc-r .dxm-scrollBtnPressed .dxWeb_mScrollUp_Office365:before,
.dx-acc-r .dxm-selected .dxWeb_mHorizontalPopOut_Office365:before,
.dx-acc-r .dxm-selected .dxWeb_mSubMenuItemChecked_Office365:before,
.dx-acc-r .dxm-selected .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-selected .dxWeb_mVerticalPopOutRtl_Office365:before,
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mHorizontalPopOut_Office365:before,
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOutRtl_Office365:before,
.dx-acc-r .dxm-vertical .dxm-checked .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-vertical .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-vertical .dxm-hovered .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-vertical .dxm-selected .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-vertical .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxm-vertical .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office365:before,
.dx-acc-r .dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office365:before,
.dx-acc-r .dxpc-pinBtnChecked .dxWeb_pcPinButton_Office365:before,
.dx-acc-r .dxp-hoverDropDownButton .dxWeb_pPopOut_Office365:before,
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpand_Office365:before,
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_Office365:before,
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_Office365:before,
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowRight_Office365:before,
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowTop_Office365:before,
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpand_Office365:before,
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_Office365:before,
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_Office365:before,
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_Office365:before,
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_Office365:before,
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpand_Office365:before,
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_Office365:before,
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_Office365:before,
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_Office365:before,
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_Office365:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpand_Office365:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_Office365:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_Office365:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowRight_Office365:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowTop_Office365:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpand_Office365:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_Office365:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_Office365:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_Office365:before,
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_Office365:before,
.dx-acc-r .dxp-pressedDropDownButton .dxWeb_pPopOut_Office365:before,
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrDown_Office365:before,
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrPopOut_Office365:before,
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrUp_Office365:before,
.dx-acc-r .dxr-grExpBtnHover .dxWeb_rPopOut_Office365:before,
.dx-acc-r .dxr-grExpBtnPressed .dxWeb_rPopOut_Office365:before,
.dx-acc-r .dxr-itemDisabled .dxWeb_rPopOut_Office365:before,
.dx-acc-r .dxr-itemHover .dxWeb_rPopOut_Office365:before,
.dx-acc-r .dxr-itemPressed .dxWeb_rPopOut_Office365:before,
.dx-acc-r .dxrp-collapseBtnHover .dxWeb_rpCollapseButton_Office365:before,
.dx-acc-r .dxrp-collapseBtnPressed .dxWeb_rpCollapseButton_Office365:before,
.dx-acc-r .dxrpCollapsed .dxrp-collapseBtnHover .dxWeb_rpCollapseButton_Office365:before,
.dx-acc-r .dxrpCollapsed .dxrp-collapseBtnPressed .dxWeb_rpCollapseButton_Office365:before,
.dx-acc-r .dxrpCollapsed .dxWeb_rpCollapseButton_Office365:before,
.dx-acc-r .dxtlFocusedNode_Office365 .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r .dxtlFocusedNode_Office365 .dxWeb_edtCheckBoxGrayed_Office365:before,
.dx-acc-r .dxtlFocusedNode_Office365 .dxWeb_edtCheckBoxUnchecked_Office365:before,
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxGrayed_Office365:before,
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxUnchecked_Office365:before,
.dx-acc-r .dxtv-ndSel .dxWeb_fmFolder_Office365:before,
.dx-acc-r .dxtv-ndSel .dxWeb_fmFolderLocked_Office365:before,
.dx-acc-r .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r .dxWeb_edtCheckBoxCheckedDisabled_Office365:before,
.dx-acc-r .dxWeb_edtCheckBoxGrayed_Office365:before,
.dx-acc-r .dxWeb_edtCheckBoxGrayedDisabled_Office365:before,
.dx-acc-r .dxWeb_edtCheckBoxUnchecked_Office365:before,
.dx-acc-r .dxWeb_edtCheckBoxUncheckedDisabled_Office365:before,
.dx-acc-r .dxWeb_fmBreadCrumbsSeparatorArrow_Office365:before,
.dx-acc-r .dxWeb_fmBreadCrumbsUpButton_Office365:before,
.dx-acc-r .dxWeb_fmBreadCrumbsUpButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_fmBreadCrumbsUpButtonHover_Office365:before,
.dx-acc-r .dxWeb_fmCopyButton_Office365:before,
.dx-acc-r .dxWeb_fmCopyButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_fmCreateButton_Office365:before,
.dx-acc-r .dxWeb_fmCreateButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_fmDeleteButton_Office365:before,
.dx-acc-r .dxWeb_fmDeleteButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_fmDwnlButton_Office365:before,
.dx-acc-r .dxWeb_fmDwnlButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_fmExpandFolderContBtn_Office365:before,
.dx-acc-r .dxWeb_fmFolder_Office365:before,
.dx-acc-r .dxWeb_fmFolderLocked_Office365:before,
.dx-acc-r .dxWeb_fmMoveButton_Office365:before,
.dx-acc-r .dxWeb_fmMoveButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_fmRefreshButton_Office365:before,
.dx-acc-r .dxWeb_fmRefreshButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_fmRenameButton_Office365:before,
.dx-acc-r .dxWeb_fmRenameButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_fmUplButton_Office365:before,
.dx-acc-r .dxWeb_fmUplButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_igCloseButton_Office365:before,
.dx-acc-r .dxWeb_igNavigationBarMarker_Office365:before,
.dx-acc-r .dxWeb_igNextButton_Office365:before,
.dx-acc-r .dxWeb_igNextButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_igNextButtonHover_Office365:before,
.dx-acc-r .dxWeb_igNextButtonPressed_Office365:before,
.dx-acc-r .dxWeb_igPauseButton_Office365:before,
.dx-acc-r .dxWeb_igPlayButton_Office365:before,
.dx-acc-r .dxWeb_igPrevButton_Office365:before,
.dx-acc-r .dxWeb_igPrevButtonDisabled_Office365:before,
.dx-acc-r .dxWeb_igPrevButtonHover_Office365:before,
.dx-acc-r .dxWeb_igPrevButtonPressed_Office365:before,
.dx-acc-r .dxWeb_isDot_Office365:before,
.dx-acc-r .dxWeb_isDotDisabled_Office365:before,
.dx-acc-r .dxWeb_isDotSelected_Office365:before,
.dx-acc-r .dxWeb_isNextBtnHor_Office365:before,
.dx-acc-r .dxWeb_isNextBtnHor_Office365.dxWeb_isNextBtnHorHover_Office365:before,
.dx-acc-r .dxWeb_isNextBtnHor_Office365.dxWeb_isNextBtnHorPressed_Office365:before,
.dx-acc-r .dxWeb_isNextBtnHorDisabled_Office365:before,
.dx-acc-r .dxWeb_isNextBtnVert_Office365:before,
.dx-acc-r .dxWeb_isNextBtnVert_Office365.dxWeb_isNextBtnVertHover_Office365:before,
.dx-acc-r .dxWeb_isNextBtnVert_Office365.dxWeb_isNextBtnVertPressed_Office365:before,
.dx-acc-r .dxWeb_isNextBtnVertDisabled_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnHor_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnHorDisabled_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnHorOutside_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnHorOutside_Office365.dxWeb_isNextPageBtnHorOutsideHover_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnHorOutside_Office365.dxWeb_isNextPageBtnHorOutsidePressed_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnHorOutsideDisabled_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnVert_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnVertDisabled_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnVertOutside_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnVertOutside_Office365.dxWeb_isNextPageBtnVertOutsideHover_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnVertOutside_Office365.dxWeb_isNextPageBtnVertOutsidePressed_Office365:before,
.dx-acc-r .dxWeb_isNextPageBtnVertOutsideDisabled_Office365:before,
.dx-acc-r .dxWeb_isPauseBtn_Office365:before,
.dx-acc-r .dxWeb_isPlayBtn_Office365:before,
.dx-acc-r .dxWeb_isPrevBtnHor_Office365:before,
.dx-acc-r .dxWeb_isPrevBtnHor_Office365.dxWeb_isPrevBtnHorHover_Office365:before,
.dx-acc-r .dxWeb_isPrevBtnHor_Office365.dxWeb_isPrevBtnHorPressed_Office365:before,
.dx-acc-r .dxWeb_isPrevBtnHorDisabled_Office365:before,
.dx-acc-r .dxWeb_isPrevBtnVert_Office365:before,
.dx-acc-r .dxWeb_isPrevBtnVert_Office365.dxWeb_isPrevBtnVertHover_Office365:before,
.dx-acc-r .dxWeb_isPrevBtnVert_Office365.dxWeb_isPrevBtnVertPressed_Office365:before,
.dx-acc-r .dxWeb_isPrevBtnVertDisabled_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnHor_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnHorDisabled_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnHorOutside_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnHorOutside_Office365.dxWeb_isPrevPageBtnHorOutsideHover_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnHorOutside_Office365.dxWeb_isPrevPageBtnHorOutsidePressed_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnHorOutsideDisabled_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnVert_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnVertDisabled_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnVertOutside_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnVertOutside_Office365.dxWeb_isPrevPageBtnVertOutsideHover_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnVertOutside_Office365.dxWeb_isPrevPageBtnVertOutsidePressed_Office365:before,
.dx-acc-r .dxWeb_isPrevPageBtnVertOutsideDisabled_Office365:before,
.dx-acc-r .dxWeb_izEWCloseButton_Office365:before,
.dx-acc-r .dxWeb_izHint_Office365:before,
.dx-acc-r .dxWeb_mAdaptiveMenu_Office365:before,
.dx-acc-r .dxWeb_mHorizontalPopOut_Office365:before,
.dx-acc-r .dxWeb_mScrollDown_Office365:before,
.dx-acc-r .dxWeb_mScrollUp_Office365:before,
.dx-acc-r .dxWeb_mSubMenuItem_Office365:before,
.dx-acc-r .dxWeb_mSubMenuItemChecked_Office365:before,
.dx-acc-r .dxWeb_mVerticalPopOut_Office365:before,
.dx-acc-r .dxWeb_mVerticalPopOutRtl_Office365:before,
.dx-acc-r .dxWeb_nbCollapse_Office365:before,
.dx-acc-r .dxWeb_nbExpand_Office365:before,
.dx-acc-r .dxWeb_pAll_Office365:before,
.dx-acc-r .dxWeb_pAllDisabled_Office365:before,
.dx-acc-r .dxWeb_pcCloseButton_Office365:before,
.dx-acc-r .dxWeb_pcCollapseButton_Office365:before,
.dx-acc-r .dxWeb_pcExpandButton_Office365:before,
.dx-acc-r .dxWeb_pcMaximizeButton_Office365:before,
.dx-acc-r .dxWeb_pcPinButton_Office365:before,
.dx-acc-r .dxWeb_pcRefreshButton_Office365:before,
.dx-acc-r .dxWeb_pcSizeGrip_Office365:before,
.dx-acc-r .dxWeb_pcSizeGripRtl_Office365:before,
.dx-acc-r .dxWeb_pFirst_Office365:before,
.dx-acc-r .dxWeb_pFirstDisabled_Office365:before,
.dx-acc-r .dxWeb_pLast_Office365:before,
.dx-acc-r .dxWeb_pLastDisabled_Office365:before,
.dx-acc-r .dxWeb_pNext_Office365:before,
.dx-acc-r .dxWeb_pNextDisabled_Office365:before,
.dx-acc-r .dxWeb_pnlExpand_Office365:before,
.dx-acc-r .dxWeb_pnlExpandArrowBottom_Office365:before,
.dx-acc-r .dxWeb_pnlExpandArrowLeft_Office365:before,
.dx-acc-r .dxWeb_pnlExpandArrowRight_Office365:before,
.dx-acc-r .dxWeb_pnlExpandArrowTop_Office365:before,
.dx-acc-r .dxWeb_pPopOut_Office365:before,
.dx-acc-r .dxWeb_pPopOutDisabled_Office365:before,
.dx-acc-r .dxWeb_pPrev_Office365:before,
.dx-acc-r .dxWeb_pPrevDisabled_Office365:before,
.dx-acc-r .dxWeb_rDialogBoxLauncher_Office365:before,
.dx-acc-r .dxWeb_rDialogBoxLauncherDisabled_Office365:before,
.dx-acc-r .dxWeb_rDialogBoxLauncherHover_Office365:before,
.dx-acc-r .dxWeb_rDialogBoxLauncherPressed_Office365:before,
.dx-acc-r .dxWeb_rGlrDown_Office365:before,
.dx-acc-r .dxWeb_rGlrDownDisabled_Office365:before,
.dx-acc-r .dxWeb_rGlrDownHover_Office365:before,
.dx-acc-r .dxWeb_rGlrPopOut_Office365:before,
.dx-acc-r .dxWeb_rGlrPopOutDisabled_Office365:before,
.dx-acc-r .dxWeb_rGlrPopOutHover_Office365:before,
.dx-acc-r .dxWeb_rGlrUp_Office365:before,
.dx-acc-r .dxWeb_rGlrUpDisabled_Office365:before,
.dx-acc-r .dxWeb_rGlrUpHover_Office365:before,
.dx-acc-r .dxWeb_rMinBtn_Office365:before,
.dx-acc-r .dxWeb_rMinBtn_Office365.dxWeb_rMinBtnHover_Office365:before,
.dx-acc-r .dxWeb_rMinBtn_Office365.dxWeb_rMinBtnPressed_Office365:before,
.dx-acc-r .dxWeb_rMinBtnChecked_Office365.dxWeb_rMinBtn_Office365:before,
.dx-acc-r .dxWeb_rMinBtnChecked_Office365.dxWeb_rMinBtnDisabled_Office365:before,
.dx-acc-r .dxWeb_rMinBtnChecked_Office365.dxWeb_rMinBtnHover_Office365:before,
.dx-acc-r .dxWeb_rMinBtnChecked_Office365.dxWeb_rMinBtnPressed_Office365:before,
.dx-acc-r .dxWeb_rMinBtnDisabled_Office365:before,
.dx-acc-r .dxWeb_rpCollapseButton_Office365:before,
.dx-acc-r .dxWeb_rPinBtn_Office365:before,
.dx-acc-r .dxWeb_rPopOut_Office365:before,
.dx-acc-r .dxWeb_splHCollapseBackwardButton_Office365:before,
.dx-acc-r .dxWeb_splHCollapseBackwardButtonHover_Office365:before,
.dx-acc-r .dxWeb_splHCollapseForwardButton_Office365:before,
.dx-acc-r .dxWeb_splHCollapseForwardButtonHover_Office365:before,
.dx-acc-r .dxWeb_splHSeparator_Office365:before,
.dx-acc-r .dxWeb_splHSeparatorHover_Office365:before,
.dx-acc-r .dxWeb_splVCollapseBackwardButton_Office365:before,
.dx-acc-r .dxWeb_splVCollapseBackwardButtonHover_Office365:before,
.dx-acc-r .dxWeb_splVCollapseForwardButton_Office365:before,
.dx-acc-r .dxWeb_splVCollapseForwardButtonHover_Office365:before,
.dx-acc-r .dxWeb_splVSeparator_Office365:before,
.dx-acc-r .dxWeb_splVSeparatorHover_Office365:before,
.dx-acc-r .dxWeb_tcScrollLeft_Office365:before,
.dx-acc-r .dxWeb_tcScrollLeftDisabled_Office365:before,
.dx-acc-r .dxWeb_tcScrollLeftHover_Office365:before,
.dx-acc-r .dxWeb_tcScrollLeftPressed_Office365:before,
.dx-acc-r .dxWeb_tcScrollRight_Office365:before,
.dx-acc-r .dxWeb_tcScrollRightDisabled_Office365:before,
.dx-acc-r .dxWeb_tcScrollRightHover_Office365:before,
.dx-acc-r .dxWeb_tcScrollRightPressed_Office365:before,
.dx-acc-r .dxWeb_tvColBtn_Office365:before,
.dx-acc-r .dxWeb_tvColBtnRtl_Office365:before,
.dx-acc-r .dxWeb_tvExpBtn_Office365:before,
.dx-acc-r .dxWeb_tvExpBtnRtl_Office365:before,
.dx-acc-r .dxWeb_ucClearButton_Office365:before,
.dx-acc-r .dxWeb_ucClearButtonDisabled_Office365:before,
.dx-acc-r div.dxfm-fileF .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r div.dxfm-fileF .dxWeb_edtCheckBoxUnchecked_Office365:before,
.dx-acc-r div.dxfm-fileF.dxfm-file.dxfm-fileSA .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r div.dxfm-fileF.dxfm-file.dxfm-fileSI .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r div.dxfm-fileH.dxfm-file.dxfm-fileSA .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r div.dxfm-fileH.dxfm-file.dxfm-fileSI .dxWeb_edtCheckBoxChecked_Office365:before,
.dx-acc-r div.dxfm-fileSA.dxfm-file .dxWeb_edtCheckBoxChecked_Office365:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxctToolbar_Office365 .dxm-hovered .dxWeb_mAdaptiveMenu_Office365:before

{
    left: -153px;
    top: -315px;

}
.dx-acc-r .dxctToolbar_Office365 .dxm-hovered .dxWeb_mHorizontalPopOut_Office365:before

{
    left: -204px;
    top: -298px;

}
.dx-acc-r .dxctToolbar_Office365 .dxWeb_mAdaptiveMenu_Office365:before

{
    left: -221px;
    top: -281px;

}
.dx-acc-r .dxeListBoxItemSelected_Office365 .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -135px;
    top: -362px;

}
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmCopyButton_Office365:before

{
    left: -150px;
    top: -185px;

}
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmCreateButton_Office365:before

{
    left: -175px;
    top: -210px;

}
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmDeleteButton_Office365:before

{
    left: -275px;
    top: -185px;

}
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmDwnlButton_Office365:before

{
    left: -50px;
    top: -235px;

}
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmMoveButton_Office365:before

{
    left: -100px;
    top: -210px;

}
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmRefreshButton_Office365:before

{
    left: -275px;
    top: -210px;

}
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmRenameButton_Office365:before

{
    left: -125px;
    top: -185px;

}
.dx-acc-r .dxfmControl_Office365 .dxmLite_Office365 .dxm-popupMain .dxm-gutter .dxm-hovered .dxWeb_fmUplButton_Office365:before

{
    left: -75px;
    top: -235px;

}
.dx-acc-r .dxfm-file .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -60px;
    top: -362px;

}
.dx-acc-r .dxfm-file .dxWeb_edtCheckBoxUnchecked_Office365:before

{
    left: -210px;
    top: -332px;

}
.dx-acc-r .dxgvFocusedRow_Office365 .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -60px;
    top: -332px;

}
.dx-acc-r .dxgvFocusedRow_Office365 .dxWeb_edtCheckBoxGrayed_Office365:before

{
    left: 0px;
    top: -347px;

}
.dx-acc-r .dxgvFocusedRow_Office365 .dxWeb_edtCheckBoxUnchecked_Office365:before

{
    left: -255px;
    top: -332px;

}
.dx-acc-r .dxigControl_Office365.dxTouchUI .dxWeb_igCloseButton_Office365:before

{
    left: -242px;
    top: -235px;

}
.dx-acc-r .dxigControl_Office365.dxTouchUI .dxWeb_igPauseButton_Office365:before

{
    left: -42px;
    top: -260px;

}
.dx-acc-r .dxigControl_Office365.dxTouchUI .dxWeb_igPlayButton_Office365:before

{
    left: -126px;
    top: -260px;

}
.dx-acc-r .dxis-nextBtnHorWrapperHover .dxWeb_isNextPageBtnHor_Office365:before

{
    left: -204px;
    top: -362px;

}
.dx-acc-r .dxis-nextBtnHorWrapperPressed .dxWeb_isNextPageBtnHor_Office365:before

{
    left: -217px;
    top: -362px;

}
.dx-acc-r .dxis-nextBtnVertWrapperHover .dxWeb_isNextPageBtnVert_Office365:before

{
    left: -52px;
    top: -377px;

}
.dx-acc-r .dxis-nextBtnVertWrapperPressed .dxWeb_isNextPageBtnVert_Office365:before

{
    left: -178px;
    top: -362px;

}
.dx-acc-r .dxis-prevBtnHorWrapperHover .dxWeb_isPrevPageBtnHor_Office365:before

{
    left: -52px;
    top: -390px;

}
.dx-acc-r .dxis-prevBtnHorWrapperPressed .dxWeb_isPrevPageBtnHor_Office365:before

{
    left: -165px;
    top: -362px;

}
.dx-acc-r .dxis-prevBtnVertWrapperHover .dxWeb_isPrevPageBtnVert_Office365:before

{
    left: -295px;
    top: -362px;

}
.dx-acc-r .dxis-prevBtnVertWrapperPressed .dxWeb_isPrevPageBtnVert_Office365:before

{
    left: -78px;
    top: -377px;

}
.dx-acc-r .dxm-checked .dxWeb_mHorizontalPopOut_Office365:before

{
    left: -34px;
    top: -298px;

}
.dx-acc-r .dxm-checked .dxWeb_mVerticalPopOut_Office365:before

{
    left: -253px;
    top: -315px;

}
.dx-acc-r .dxm-checked .dxWeb_mVerticalPopOutRtl_Office365:before

{
    left: 0px;
    top: -362px;

}
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mHorizontalPopOut_Office365:before

{
    left: 0px;
    top: -281px;

}
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mSubMenuItemChecked_Office365:before

{
    left: -204px;
    top: -260px;

}
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOut_Office365:before

{
    left: -150px;
    top: -362px;

}
.dx-acc-r .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOutRtl_Office365:before

{
    left: -270px;
    top: -332px;

}
.dx-acc-r .dxm-disabled .dxWeb_mHorizontalPopOut_Office365:before

{
    left: -51px;
    top: -281px;

}
.dx-acc-r .dxm-disabled .dxWeb_mVerticalPopOut_Office365:before

{
    left: -90px;
    top: -332px;

}
.dx-acc-r .dxm-disabled .dxWeb_mVerticalPopOutRtl_Office365:before

{
    left: -238px;
    top: -315px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmCopyButton_Office365:before

{
    left: -25px;
    top: -185px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmCreateButton_Office365:before

{
    left: -100px;
    top: -235px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmDeleteButton_Office365:before

{
    left: -100px;
    top: -185px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmDwnlButton_Office365:before

{
    left: -25px;
    top: -235px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmMoveButton_Office365:before

{
    left: -50px;
    top: -210px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmRefreshButton_Office365:before

{
    left: -125px;
    top: -235px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmRenameButton_Office365:before

{
    left: -200px;
    top: -185px;

}
.dx-acc-r .dxm-hovered .dxWeb_fmUplButton_Office365:before

{
    left: -75px;
    top: -185px;

}
.dx-acc-r .dxm-hovered .dxWeb_mAdaptiveMenu_Office365:before

{
    left: -51px;
    top: -315px;

}
.dx-acc-r .dxm-hovered .dxWeb_mHorizontalPopOut_Office365:before

{
    left: -153px;
    top: -298px;

}
.dx-acc-r .dxm-hovered .dxWeb_mVerticalPopOut_Office365:before

{
    left: -150px;
    top: -332px;

}
.dx-acc-r .dxm-hovered .dxWeb_mVerticalPopOutRtl_Office365:before

{
    left: -165px;
    top: -332px;

}
.dx-acc-r .dxmLite_Office365 .dxm-left .dxm-back-icon:before

{
    left: -298px;
    top: -315px;

}
.dx-acc-r .dxm-scrollBtnHovered .dxWeb_mScrollDown_Office365:before

{
    left: -129px;
    top: -390px;

}
.dx-acc-r .dxm-scrollBtnHovered .dxWeb_mScrollUp_Office365:before

{
    left: -189px;
    top: -390px;

}
.dx-acc-r .dxm-scrollBtnPressed .dxWeb_mScrollDown_Office365:before

{
    left: -139px;
    top: -390px;

}
.dx-acc-r .dxm-scrollBtnPressed .dxWeb_mScrollUp_Office365:before

{
    left: -159px;
    top: -390px;

}
.dx-acc-r .dxm-selected .dxWeb_mHorizontalPopOut_Office365:before

{
    left: -17px;
    top: -298px;

}
.dx-acc-r .dxm-selected .dxWeb_mSubMenuItemChecked_Office365:before

{
    left: -30px;
    top: -347px;

}
.dx-acc-r .dxm-selected .dxWeb_mVerticalPopOut_Office365:before

{
    left: -90px;
    top: -362px;

}
.dx-acc-r .dxm-selected .dxWeb_mVerticalPopOutRtl_Office365:before

{
    left: -210px;
    top: -347px;

}
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mHorizontalPopOut_Office365:before

{
    left: -85px;
    top: -298px;

}
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOut_Office365:before

{
    left: -225px;
    top: -347px;

}
.dx-acc-r .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOutRtl_Office365:before

{
    left: -15px;
    top: -332px;

}
.dx-acc-r .dxm-vertical .dxm-checked .dxWeb_mVerticalPopOut_Office365:before

{
    left: -285px;
    top: -347px;

}
.dx-acc-r .dxm-vertical .dxm-checked.dxm-hovered .dxWeb_mVerticalPopOut_Office365:before

{
    left: -135px;
    top: -332px;

}
.dx-acc-r .dxm-vertical .dxm-hovered .dxWeb_mVerticalPopOut_Office365:before

{
    left: -105px;
    top: -332px;

}
.dx-acc-r .dxm-vertical .dxm-selected .dxWeb_mVerticalPopOut_Office365:before

{
    left: -296px;
    top: -111px;

}
.dx-acc-r .dxm-vertical .dxm-selected.dxm-hovered .dxWeb_mVerticalPopOut_Office365:before

{
    left: -296px;
    top: -148px;

}
.dx-acc-r .dxm-vertical .dxWeb_mVerticalPopOut_Office365:before

{
    left: -45px;
    top: -362px;

}
.dx-acc-r .dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office365:before

{
    left: -17px;
    top: -281px;

}
.dx-acc-r .dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office365:before

{
    left: -221px;
    top: -315px;

}
.dx-acc-r .dxpc-pinBtnChecked .dxWeb_pcPinButton_Office365:before

{
    left: -297px;
    top: -59px;

}
.dx-acc-r .dxp-hoverDropDownButton .dxWeb_pPopOut_Office365:before

{
    left: -300px;
    top: -185px;

}
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpand_Office365:before

{
    left: -185px;
    top: -260px;

}
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_Office365:before

{
    left: -187px;
    top: -281px;

}
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_Office365:before

{
    left: -102px;
    top: -281px;

}
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowRight_Office365:before

{
    left: -68px;
    top: -315px;

}
.dx-acc-r .dxpnl-btnHover .dxWeb_pnlExpandArrowTop_Office365:before

{
    left: -238px;
    top: -298px;

}
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpand_Office365:before

{
    left: -242px;
    top: -260px;

}
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_Office365:before

{
    left: -272px;
    top: -281px;

}
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_Office365:before

{
    left: -255px;
    top: -281px;

}
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_Office365:before

{
    left: -170px;
    top: -298px;

}
.dx-acc-r .dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_Office365:before

{
    left: -136px;
    top: -281px;

}
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpand_Office365:before

{
    left: -136px;
    top: -298px;

}
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_Office365:before

{
    left: -255px;
    top: -298px;

}
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_Office365:before

{
    left: -136px;
    top: -315px;

}
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_Office365:before

{
    left: -119px;
    top: -298px;

}
.dx-acc-r .dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_Office365:before

{
    left: -68px;
    top: -298px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpand_Office365:before

{
    left: -119px;
    top: -281px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_Office365:before

{
    left: -170px;
    top: -315px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_Office365:before

{
    left: -102px;
    top: -315px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowRight_Office365:before

{
    left: -85px;
    top: -315px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowTop_Office365:before

{
    left: -34px;
    top: -281px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpand_Office365:before

{
    left: -204px;
    top: -315px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_Office365:before

{
    left: -221px;
    top: -298px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_Office365:before

{
    left: -102px;
    top: -298px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_Office365:before

{
    left: -187px;
    top: -298px;

}
.dx-acc-r .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_Office365:before

{
    left: -289px;
    top: -281px;

}
.dx-acc-r .dxp-pressedDropDownButton .dxWeb_pPopOut_Office365:before

{
    left: -98px;
    top: -390px;

}
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrDown_Office365:before

{
    left: -253px;
    top: -390px;

}
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrPopOut_Office365:before

{
    left: -237px;
    top: -390px;

}
.dx-acc-r .dxr-glrBtnPressed .dxWeb_rGlrUp_Office365:before

{
    left: -285px;
    top: -390px;

}
.dx-acc-r .dxr-grExpBtnHover .dxWeb_rPopOut_Office365:before

{
    left: -199px;
    top: -390px;

}
.dx-acc-r .dxr-grExpBtnPressed .dxWeb_rPopOut_Office365:before

{
    left: -169px;
    top: -390px;

}
.dx-acc-r .dxr-itemDisabled .dxWeb_rPopOut_Office365:before

{
    left: -209px;
    top: -390px;

}
.dx-acc-r .dxr-itemHover .dxWeb_rPopOut_Office365:before

{
    left: -119px;
    top: -390px;

}
.dx-acc-r .dxr-itemPressed .dxWeb_rPopOut_Office365:before

{
    left: -219px;
    top: -390px;

}
.dx-acc-r .dxrp-collapseBtnHover .dxWeb_rpCollapseButton_Office365:before

{
    left: -26px;
    top: -390px;

}
.dx-acc-r .dxrp-collapseBtnPressed .dxWeb_rpCollapseButton_Office365:before

{
    left: -247px;
    top: -377px;

}
.dx-acc-r .dxrpCollapsed .dxrp-collapseBtnHover .dxWeb_rpCollapseButton_Office365:before

{
    left: -299px;
    top: -260px;

}
.dx-acc-r .dxrpCollapsed .dxrp-collapseBtnPressed .dxWeb_rpCollapseButton_Office365:before

{
    left: -282px;
    top: -362px;

}
.dx-acc-r .dxrpCollapsed .dxWeb_rpCollapseButton_Office365:before

{
    left: 0px;
    top: -377px;

}
.dx-acc-r .dxtlFocusedNode_Office365 .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -165px;
    top: -347px;

}
.dx-acc-r .dxtlFocusedNode_Office365 .dxWeb_edtCheckBoxGrayed_Office365:before

{
    left: -225px;
    top: -332px;

}
.dx-acc-r .dxtlFocusedNode_Office365 .dxWeb_edtCheckBoxUnchecked_Office365:before

{
    left: -105px;
    top: -362px;

}
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -297px;
    top: -170px;

}
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxGrayed_Office365:before

{
    left: -120px;
    top: -362px;

}
.dx-acc-r .dxtv-ndSel .dxWeb_edtCheckBoxUnchecked_Office365:before

{
    left: -90px;
    top: -347px;

}
.dx-acc-r .dxtv-ndSel .dxWeb_fmFolder_Office365:before

{
    left: 0px;
    top: -298px;

}
.dx-acc-r .dxtv-ndSel .dxWeb_fmFolderLocked_Office365:before

{
    left: -204px;
    top: -281px;

}
.dx-acc-r .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -75px;
    top: -362px;

}
.dx-acc-r .dxWeb_edtCheckBoxCheckedDisabled_Office365:before

{
    left: -296px;
    top: -37px;

}
.dx-acc-r .dxWeb_edtCheckBoxGrayed_Office365:before

{
    left: -105px;
    top: -347px;

}
.dx-acc-r .dxWeb_edtCheckBoxGrayedDisabled_Office365:before

{
    left: -45px;
    top: -332px;

}
.dx-acc-r .dxWeb_edtCheckBoxUnchecked_Office365:before

{
    left: -30px;
    top: -332px;

}
.dx-acc-r .dxWeb_edtCheckBoxUncheckedDisabled_Office365:before

{
    left: -270px;
    top: -347px;

}
.dx-acc-r .dxWeb_fmBreadCrumbsSeparatorArrow_Office365:before

{
    left: -305px;
    top: -235px;

}
.dx-acc-r .dxWeb_fmBreadCrumbsUpButton_Office365:before

{
    left: -195px;
    top: -347px;

}
.dx-acc-r .dxWeb_fmBreadCrumbsUpButtonDisabled_Office365:before

{
    left: -180px;
    top: -347px;

}
.dx-acc-r .dxWeb_fmBreadCrumbsUpButtonHover_Office365:before

{
    left: -283px;
    top: -315px;

}
.dx-acc-r .dxWeb_fmCopyButton_Office365:before

{
    left: -175px;
    top: -235px;

}
.dx-acc-r .dxWeb_fmCopyButtonDisabled_Office365:before

{
    left: -250px;
    top: -210px;

}
.dx-acc-r .dxWeb_fmCreateButton_Office365:before

{
    left: -175px;
    top: -185px;

}
.dx-acc-r .dxWeb_fmCreateButtonDisabled_Office365:before

{
    left: -225px;
    top: -210px;

}
.dx-acc-r .dxWeb_fmDeleteButton_Office365:before

{
    left: -250px;
    top: -185px;

}
.dx-acc-r .dxWeb_fmDeleteButtonDisabled_Office365:before

{
    left: -50px;
    top: -185px;

}
.dx-acc-r .dxWeb_fmDwnlButton_Office365:before

{
    left: -75px;
    top: -210px;

}
.dx-acc-r .dxWeb_fmDwnlButtonDisabled_Office365:before

{
    left: -200px;
    top: -210px;

}
.dx-acc-r .dxWeb_fmExpandFolderContBtn_Office365:before

{
    left: -280px;
    top: -260px;

}
.dx-acc-r .dxWeb_fmFolder_Office365:before

{
    left: -119px;
    top: -315px;

}
.dx-acc-r .dxWeb_fmFolderLocked_Office365:before

{
    left: -17px;
    top: -315px;

}
.dx-acc-r .dxWeb_fmMoveButton_Office365:before

{
    left: -225px;
    top: -185px;

}
.dx-acc-r .dxWeb_fmMoveButtonDisabled_Office365:before

{
    left: -150px;
    top: -210px;

}
.dx-acc-r .dxWeb_fmRefreshButton_Office365:before

{
    left: 0px;
    top: -185px;

}
.dx-acc-r .dxWeb_fmRefreshButtonDisabled_Office365:before

{
    left: -125px;
    top: -210px;

}
.dx-acc-r .dxWeb_fmRenameButton_Office365:before

{
    left: 0px;
    top: -235px;

}
.dx-acc-r .dxWeb_fmRenameButtonDisabled_Office365:before

{
    left: 0px;
    top: -210px;

}
.dx-acc-r .dxWeb_fmUplButton_Office365:before

{
    left: -150px;
    top: -235px;

}
.dx-acc-r .dxWeb_fmUplButtonDisabled_Office365:before

{
    left: -25px;
    top: -210px;

}
.dx-acc-r .dxWeb_igCloseButton_Office365:before

{
    left: -84px;
    top: -260px;

}
.dx-acc-r .dxWeb_igNavigationBarMarker_Office365:before

{
    left: -208px;
    top: -377px;

}
.dx-acc-r .dxWeb_igNextButton_Office365:before

{
    left: -222px;
    top: -74px;

}
.dx-acc-r .dxWeb_igNextButtonDisabled_Office365:before

{
    left: -148px;
    top: -37px;

}
.dx-acc-r .dxWeb_igNextButtonHover_Office365:before

{
    left: 0px;
    top: -37px;

}
.dx-acc-r .dxWeb_igNextButtonPressed_Office365:before

{
    left: -148px;
    top: -148px;

}
.dx-acc-r .dxWeb_igPauseButton_Office365:before

{
    left: 0px;
    top: -260px;

}
.dx-acc-r .dxWeb_igPlayButton_Office365:before

{
    left: -105px;
    top: -260px;

}
.dx-acc-r .dxWeb_igPrevButton_Office365:before

{
    left: -148px;
    top: -74px;

}
.dx-acc-r .dxWeb_igPrevButtonDisabled_Office365:before

{
    left: -74px;
    top: -111px;

}
.dx-acc-r .dxWeb_igPrevButtonHover_Office365:before

{
    left: -185px;
    top: -37px;

}
.dx-acc-r .dxWeb_igPrevButtonPressed_Office365:before

{
    left: -74px;
    top: -74px;

}
.dx-acc-r .dxWeb_isDot_Office365:before

{
    left: -284px;
    top: -235px;

}
.dx-acc-r .dxWeb_isDotDisabled_Office365:before

{
    left: -263px;
    top: -235px;

}
.dx-acc-r .dxWeb_isDotSelected_Office365:before

{
    left: -21px;
    top: -260px;

}
.dx-acc-r .dxWeb_isNextBtnHor_Office365:before

{
    left: -259px;
    top: -148px;

}
.dx-acc-r .dxWeb_isNextBtnHor_Office365.dxWeb_isNextBtnHorHover_Office365:before

{
    left: 0px;
    top: -111px;

}
.dx-acc-r .dxWeb_isNextBtnHor_Office365.dxWeb_isNextBtnHorPressed_Office365:before

{
    left: -222px;
    top: -37px;

}
.dx-acc-r .dxWeb_isNextBtnHorDisabled_Office365:before

{
    left: -185px;
    top: -111px;

}
.dx-acc-r .dxWeb_isNextBtnVert_Office365:before

{
    left: -37px;
    top: 0px;

}
.dx-acc-r .dxWeb_isNextBtnVert_Office365.dxWeb_isNextBtnVertHover_Office365:before

{
    left: -111px;
    top: -148px;

}
.dx-acc-r .dxWeb_isNextBtnVert_Office365.dxWeb_isNextBtnVertPressed_Office365:before

{
    left: -111px;
    top: 0px;

}
.dx-acc-r .dxWeb_isNextBtnVertDisabled_Office365:before

{
    left: -148px;
    top: -111px;

}
.dx-acc-r .dxWeb_isNextPageBtnHor_Office365:before

{
    left: -26px;
    top: -377px;

}
.dx-acc-r .dxWeb_isNextPageBtnHorDisabled_Office365:before

{
    left: -191px;
    top: -362px;

}
.dx-acc-r .dxWeb_isNextPageBtnHorOutside_Office365:before

{
    left: -74px;
    top: -148px;

}
.dx-acc-r .dxWeb_isNextPageBtnHorOutside_Office365.dxWeb_isNextPageBtnHorOutsideHover_Office365:before

{
    left: -37px;
    top: -74px;

}
.dx-acc-r .dxWeb_isNextPageBtnHorOutside_Office365.dxWeb_isNextPageBtnHorOutsidePressed_Office365:before

{
    left: -37px;
    top: -111px;

}
.dx-acc-r .dxWeb_isNextPageBtnHorOutsideDisabled_Office365:before

{
    left: -185px;
    top: 0px;

}
.dx-acc-r .dxWeb_isNextPageBtnVert_Office365:before

{
    left: -195px;
    top: -377px;

}
.dx-acc-r .dxWeb_isNextPageBtnVertDisabled_Office365:before

{
    left: -256px;
    top: -362px;

}
.dx-acc-r .dxWeb_isNextPageBtnVertOutside_Office365:before

{
    left: -148px;
    top: 0px;

}
.dx-acc-r .dxWeb_isNextPageBtnVertOutside_Office365.dxWeb_isNextPageBtnVertOutsideHover_Office365:before

{
    left: -222px;
    top: -111px;

}
.dx-acc-r .dxWeb_isNextPageBtnVertOutside_Office365.dxWeb_isNextPageBtnVertOutsidePressed_Office365:before

{
    left: -259px;
    top: -111px;

}
.dx-acc-r .dxWeb_isNextPageBtnVertOutsideDisabled_Office365:before

{
    left: 0px;
    top: -74px;

}
.dx-acc-r .dxWeb_isPauseBtn_Office365:before

{
    left: -63px;
    top: -260px;

}
.dx-acc-r .dxWeb_isPlayBtn_Office365:before

{
    left: -221px;
    top: -235px;

}
.dx-acc-r .dxWeb_isPrevBtnHor_Office365:before

{
    left: -74px;
    top: 0px;

}
.dx-acc-r .dxWeb_isPrevBtnHor_Office365.dxWeb_isPrevBtnHorHover_Office365:before

{
    left: -222px;
    top: 0px;

}
.dx-acc-r .dxWeb_isPrevBtnHor_Office365.dxWeb_isPrevBtnHorPressed_Office365:before

{
    left: -37px;
    top: -37px;

}
.dx-acc-r .dxWeb_isPrevBtnHorDisabled_Office365:before

{
    left: -259px;
    top: -37px;

}
.dx-acc-r .dxWeb_isPrevBtnVert_Office365:before

{
    left: -259px;
    top: -74px;

}
.dx-acc-r .dxWeb_isPrevBtnVert_Office365.dxWeb_isPrevBtnVertHover_Office365:before

{
    left: -185px;
    top: -74px;

}
.dx-acc-r .dxWeb_isPrevBtnVert_Office365.dxWeb_isPrevBtnVertPressed_Office365:before

{
    left: -111px;
    top: -74px;

}
.dx-acc-r .dxWeb_isPrevBtnVertDisabled_Office365:before

{
    left: -185px;
    top: -148px;

}
.dx-acc-r .dxWeb_isPrevPageBtnHor_Office365:before

{
    left: -221px;
    top: -377px;

}
.dx-acc-r .dxWeb_isPrevPageBtnHorDisabled_Office365:before

{
    left: -243px;
    top: -362px;

}
.dx-acc-r .dxWeb_isPrevPageBtnHorOutside_Office365:before

{
    left: -111px;
    top: -111px;

}
.dx-acc-r .dxWeb_isPrevPageBtnHorOutside_Office365.dxWeb_isPrevPageBtnHorOutsideHover_Office365:before

{
    left: -74px;
    top: -37px;

}
.dx-acc-r .dxWeb_isPrevPageBtnHorOutside_Office365.dxWeb_isPrevPageBtnHorOutsidePressed_Office365:before

{
    left: -259px;
    top: 0px;

}
.dx-acc-r .dxWeb_isPrevPageBtnHorOutsideDisabled_Office365:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxWeb_isPrevPageBtnVert_Office365:before

{
    left: -117px;
    top: -377px;

}
.dx-acc-r .dxWeb_isPrevPageBtnVertDisabled_Office365:before

{
    left: -39px;
    top: -377px;

}
.dx-acc-r .dxWeb_isPrevPageBtnVertOutside_Office365:before

{
    left: -111px;
    top: -37px;

}
.dx-acc-r .dxWeb_isPrevPageBtnVertOutside_Office365.dxWeb_isPrevPageBtnVertOutsideHover_Office365:before

{
    left: 0px;
    top: -148px;

}
.dx-acc-r .dxWeb_isPrevPageBtnVertOutside_Office365.dxWeb_isPrevPageBtnVertOutsidePressed_Office365:before

{
    left: -222px;
    top: -148px;

}
.dx-acc-r .dxWeb_isPrevPageBtnVertOutsideDisabled_Office365:before

{
    left: -37px;
    top: -148px;

}
.dx-acc-r .dxWeb_izEWCloseButton_Office365:before

{
    left: -272px;
    top: -298px;

}
.dx-acc-r .dxWeb_izHint_Office365:before

{
    left: -150px;
    top: -347px;

}
.dx-acc-r .dxWeb_mAdaptiveMenu_Office365:before

{
    left: -68px;
    top: -281px;

}
.dx-acc-r .dxWeb_mHorizontalPopOut_Office365:before

{
    left: -34px;
    top: -315px;

}
.dx-acc-r .dxWeb_mScrollDown_Office365:before

{
    left: -149px;
    top: -390px;

}
.dx-acc-r .dxWeb_mScrollUp_Office365:before

{
    left: -109px;
    top: -390px;

}
.dx-acc-r .dxWeb_mSubMenuItem_Office365:before

{
    left: -261px;
    top: -260px;

}
.dx-acc-r .dxWeb_mSubMenuItemChecked_Office365:before

{
    left: -166px;
    top: -260px;

}
.dx-acc-r .dxWeb_mVerticalPopOut_Office365:before

{
    left: -180px;
    top: -332px;

}
.dx-acc-r .dxWeb_mVerticalPopOutRtl_Office365:before

{
    left: -297px;
    top: -133px;

}
.dx-acc-r .dxWeb_nbCollapse_Office365:before

{
    left: -91px;
    top: -377px;

}
.dx-acc-r .dxWeb_nbExpand_Office365:before

{
    left: -130px;
    top: -377px;

}
.dx-acc-r .dxWeb_pAll_Office365:before

{
    left: -76px;
    top: -390px;

}
.dx-acc-r .dxWeb_pAllDisabled_Office365:before

{
    left: -300px;
    top: -347px;

}
.dx-acc-r .dxWeb_pcCloseButton_Office365:before

{
    left: -153px;
    top: -281px;

}
.dx-acc-r .dxWeb_pcCollapseButton_Office365:before

{
    left: -289px;
    top: -298px;

}
.dx-acc-r .dxWeb_pcExpandButton_Office365:before

{
    left: -238px;
    top: -281px;

}
.dx-acc-r .dxWeb_pcMaximizeButton_Office365:before

{
    left: 0px;
    top: -315px;

}
.dx-acc-r .dxWeb_pcPinButton_Office365:before

{
    left: -296px;
    top: -74px;

}
.dx-acc-r .dxWeb_pcRefreshButton_Office365:before

{
    left: 0px;
    top: -332px;

}
.dx-acc-r .dxWeb_pcSizeGrip_Office365:before

{
    left: -60px;
    top: -347px;

}
.dx-acc-r .dxWeb_pcSizeGripRtl_Office365:before

{
    left: -15px;
    top: -362px;

}
.dx-acc-r .dxWeb_pFirst_Office365:before

{
    left: -240px;
    top: -347px;

}
.dx-acc-r .dxWeb_pFirstDisabled_Office365:before

{
    left: -30px;
    top: -362px;

}
.dx-acc-r .dxWeb_pLast_Office365:before

{
    left: -120px;
    top: -332px;

}
.dx-acc-r .dxWeb_pLastDisabled_Office365:before

{
    left: -255px;
    top: -347px;

}
.dx-acc-r .dxWeb_pNext_Office365:before

{
    left: -75px;
    top: -347px;

}
.dx-acc-r .dxWeb_pNextDisabled_Office365:before

{
    left: -75px;
    top: -332px;

}
.dx-acc-r .dxWeb_pnlExpand_Office365:before

{
    left: -147px;
    top: -260px;

}
.dx-acc-r .dxWeb_pnlExpandArrowBottom_Office365:before

{
    left: -85px;
    top: -281px;

}
.dx-acc-r .dxWeb_pnlExpandArrowLeft_Office365:before

{
    left: -170px;
    top: -281px;

}
.dx-acc-r .dxWeb_pnlExpandArrowRight_Office365:before

{
    left: -51px;
    top: -298px;

}
.dx-acc-r .dxWeb_pnlExpandArrowTop_Office365:before

{
    left: -187px;
    top: -315px;

}
.dx-acc-r .dxWeb_pPopOut_Office365:before

{
    left: -301px;
    top: -224px;

}
.dx-acc-r .dxWeb_pPopOutDisabled_Office365:before

{
    left: -65px;
    top: -390px;

}
.dx-acc-r .dxWeb_pPrev_Office365:before

{
    left: -240px;
    top: -332px;

}
.dx-acc-r .dxWeb_pPrevDisabled_Office365:before

{
    left: -120px;
    top: -347px;

}
.dx-acc-r .dxWeb_rDialogBoxLauncher_Office365:before

{
    left: -296px;
    top: -89px;

}
.dx-acc-r .dxWeb_rDialogBoxLauncherDisabled_Office365:before

{
    left: -303px;
    top: -126px;

}
.dx-acc-r .dxWeb_rDialogBoxLauncherHover_Office365:before

{
    left: -296px;
    top: -126px;

}
.dx-acc-r .dxWeb_rDialogBoxLauncherPressed_Office365:before

{
    left: -303px;
    top: -89px;

}
.dx-acc-r .dxWeb_rGlrDown_Office365:before

{
    left: -296px;
    top: -398px;

}
.dx-acc-r .dxWeb_rGlrDownDisabled_Office365:before

{
    left: -269px;
    top: -390px;

}
.dx-acc-r .dxWeb_rGlrDownHover_Office365:before

{
    left: -296px;
    top: -165px;

}
.dx-acc-r .dxWeb_rGlrPopOut_Office365:before

{
    left: -229px;
    top: -390px;

}
.dx-acc-r .dxWeb_rGlrPopOutDisabled_Office365:before

{
    left: -245px;
    top: -390px;

}
.dx-acc-r .dxWeb_rGlrPopOutHover_Office365:before

{
    left: -304px;
    top: -273px;

}
.dx-acc-r .dxWeb_rGlrUp_Office365:before

{
    left: -261px;
    top: -390px;

}
.dx-acc-r .dxWeb_rGlrUpDisabled_Office365:before

{
    left: -304px;
    top: -165px;

}
.dx-acc-r .dxWeb_rGlrUpHover_Office365:before

{
    left: -293px;
    top: -390px;

}
.dx-acc-r .dxWeb_rMinBtn_Office365:before

{
    left: -156px;
    top: -377px;

}
.dx-acc-r .dxWeb_rMinBtn_Office365.dxWeb_rMinBtnHover_Office365:before

{
    left: -169px;
    top: -377px;

}
.dx-acc-r .dxWeb_rMinBtn_Office365.dxWeb_rMinBtnPressed_Office365:before

{
    left: -182px;
    top: -377px;

}
.dx-acc-r .dxWeb_rMinBtnChecked_Office365.dxWeb_rMinBtn_Office365:before

{
    left: -286px;
    top: -377px;

}
.dx-acc-r .dxWeb_rMinBtnChecked_Office365.dxWeb_rMinBtnDisabled_Office365:before

{
    left: -13px;
    top: -390px;

}
.dx-acc-r .dxWeb_rMinBtnChecked_Office365.dxWeb_rMinBtnHover_Office365:before

{
    left: -143px;
    top: -377px;

}
.dx-acc-r .dxWeb_rMinBtnChecked_Office365.dxWeb_rMinBtnPressed_Office365:before

{
    left: -269px;
    top: -362px;

}
.dx-acc-r .dxWeb_rMinBtnDisabled_Office365:before

{
    left: -230px;
    top: -362px;

}
.dx-acc-r .dxWeb_rpCollapseButton_Office365:before

{
    left: -39px;
    top: -390px;

}
.dx-acc-r .dxWeb_rPinBtn_Office365:before

{
    left: -45px;
    top: -347px;

}
.dx-acc-r .dxWeb_rPopOut_Office365:before

{
    left: -179px;
    top: -390px;

}
.dx-acc-r .dxWeb_splHCollapseBackwardButton_Office365:before

{
    left: -304px;
    top: -398px;

}
.dx-acc-r .dxWeb_splHCollapseBackwardButtonHover_Office365:before

{
    left: -277px;
    top: -390px;

}
.dx-acc-r .dxWeb_splHCollapseForwardButton_Office365:before

{
    left: -301px;
    top: -390px;

}
.dx-acc-r .dxWeb_splHCollapseForwardButtonHover_Office365:before

{
    left: -288px;
    top: -398px;

}
.dx-acc-r .dxWeb_splHSeparator_Office365:before

{
    left: -296px;
    top: -17px;

}
.dx-acc-r .dxWeb_splHSeparatorHover_Office365:before

{
    left: -296px;
    top: -54px;

}
.dx-acc-r .dxWeb_splVCollapseBackwardButton_Office365:before

{
    left: -306px;
    top: 0px;

}
.dx-acc-r .dxWeb_splVCollapseBackwardButtonHover_Office365:before

{
    left: -306px;
    top: -9px;

}
.dx-acc-r .dxWeb_splVCollapseForwardButton_Office365:before

{
    left: -307px;
    top: -252px;

}
.dx-acc-r .dxWeb_splVCollapseForwardButtonHover_Office365:before

{
    left: -305px;
    top: -244px;

}
.dx-acc-r .dxWeb_splVSeparator_Office365:before

{
    left: -296px;
    top: 0px;

}
.dx-acc-r .dxWeb_splVSeparatorHover_Office365:before

{
    left: -301px;
    top: 0px;

}
.dx-acc-r .dxWeb_tcScrollLeft_Office365:before

{
    left: -234px;
    top: -377px;

}
.dx-acc-r .dxWeb_tcScrollLeftDisabled_Office365:before

{
    left: -299px;
    top: -377px;

}
.dx-acc-r .dxWeb_tcScrollLeftHover_Office365:before

{
    left: -104px;
    top: -377px;

}
.dx-acc-r .dxWeb_tcScrollLeftPressed_Office365:before

{
    left: -273px;
    top: -377px;

}
.dx-acc-r .dxWeb_tcScrollRight_Office365:before

{
    left: -260px;
    top: -377px;

}
.dx-acc-r .dxWeb_tcScrollRightDisabled_Office365:before

{
    left: -13px;
    top: -377px;

}
.dx-acc-r .dxWeb_tcScrollRightHover_Office365:before

{
    left: 0px;
    top: -390px;

}
.dx-acc-r .dxWeb_tcScrollRightPressed_Office365:before

{
    left: -65px;
    top: -377px;

}
.dx-acc-r .dxWeb_tvColBtn_Office365:before

{
    left: -301px;
    top: -199px;

}
.dx-acc-r .dxWeb_tvColBtnRtl_Office365:before

{
    left: -87px;
    top: -390px;

}
.dx-acc-r .dxWeb_tvExpBtn_Office365:before

{
    left: -300px;
    top: -210px;

}
.dx-acc-r .dxWeb_tvExpBtnRtl_Office365:before

{
    left: -300px;
    top: -332px;

}
.dx-acc-r .dxWeb_ucClearButton_Office365:before

{
    left: -200px;
    top: -235px;

}
.dx-acc-r .dxWeb_ucClearButtonDisabled_Office365:before

{
    left: -223px;
    top: -260px;

}
.dx-acc-r div.dxfm-fileF .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -268px;
    top: -315px;

}
.dx-acc-r div.dxfm-fileF .dxWeb_edtCheckBoxUnchecked_Office365:before

{
    left: -297px;
    top: -22px;

}
.dx-acc-r div.dxfm-fileF.dxfm-file.dxfm-fileSA .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -15px;
    top: -347px;

}
.dx-acc-r div.dxfm-fileF.dxfm-file.dxfm-fileSI .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -285px;
    top: -332px;

}
.dx-acc-r div.dxfm-fileH.dxfm-file.dxfm-fileSA .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -297px;
    top: -96px;

}
.dx-acc-r div.dxfm-fileH.dxfm-file.dxfm-fileSI .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -195px;
    top: -332px;

}
.dx-acc-r div.dxfm-fileSA.dxfm-file .dxWeb_edtCheckBoxChecked_Office365:before

{
    left: -135px;
    top: -347px;

}

