.dxHtmlEditor_heConstrainProportionsBottom_Office2010Silver,
.dxHtmlEditor_heConstrainProportionsBottomRtl_Office2010Silver,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2010Silver,
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Office2010Silver,
.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2010Silver,
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Office2010Silver,
.dxHtmlEditor_heConstrainProportionsTop_Office2010Silver,
.dxHtmlEditor_heConstrainProportionsTopRtl_Office2010Silver,
.dxHtmlEditor_heEnumIcon_Office2010Silver,
.dxHtmlEditor_heErrorFrameCloseButton_Office2010Silver,
.dxHtmlEditor_heEventIcon_Office2010Silver,
.dxHtmlEditor_heFieldIcon_Office2010Silver,
.dxHtmlEditor_heReset_Office2010Silver,
.dxHtmlEditor_heSizeGrip_Office2010Silver,
.dxHtmlEditor_heSizeGripRtl_Office2010Silver,
.dxHtmlEditor_heTagInspectorChangeButton_Office2010Silver,
.dxHtmlEditor_heTagInspectorRemoveButton_Office2010Silver,
.dxHtmlEditor_heTagInspectorSeparator_Office2010Silver,
.dxHtmlEditor_heToolbarPopOut_Office2010Silver,
.dxHtmlEditor_heXmlItemIcon_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2010Silver
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxHtmlEditor_heConstrainProportionsBottom_Office2010Silver
{
    background-position: -33px -57px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsBottomRtl_Office2010Silver
{
    background-position: -45px -57px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2010Silver
{
    background-position: -24px -21px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Office2010Silver
{
    background-position: 0px -21px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2010Silver
{
    background-position: -12px -21px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Office2010Silver
{
    background-position: -36px -21px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsTop_Office2010Silver
{
    background-position: -53px -65px;
    width: 11px;
    height: 5px;
}
.dxHtmlEditor_heConstrainProportionsTopRtl_Office2010Silver
{
    background-position: -41px -65px;
    width: 11px;
    height: 5px;
}
.dxHtmlEditor_heEnumIcon_Office2010Silver
{
    background-position: -17px -40px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heErrorFrameCloseButton_Office2010Silver
{
    background-position: -14px -57px;
    width: 13px;
    height: 9px;
}
.dxHtmlEditor_heEventIcon_Office2010Silver
{
    background-position: 0px -40px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heFieldIcon_Office2010Silver
{
    background-position: -48px -21px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heReset_Office2010Silver
{
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
}
.dxHtmlEditor_heSizeGrip_Office2010Silver
{
    background-position: 0px -57px;
    width: 13px;
    height: 13px;
}
.dxHtmlEditor_heSizeGripRtl_Office2010Silver
{
    background-position: -51px -40px;
    width: 13px;
    height: 13px;
}
.dxHtmlEditor_heTagInspectorChangeButton_Office2010Silver
{
    background-position: -41px 0px;
    width: 19px;
    height: 19px;
}
.dxHtmlEditor_heTagInspectorRemoveButton_Office2010Silver
{
    background-position: -21px 0px;
    width: 19px;
    height: 19px;
}
.dxHtmlEditor_heTagInspectorSeparator_Office2010Silver
{
    background-position: -28px -57px;
    width: 4px;
    height: 7px;
}
.dxHtmlEditor_heToolbarPopOut_Office2010Silver
{
    background-position: -57px -57px;
    width: 7px;
    height: 4px;
}
.dxHtmlEditor_heXmlItemIcon_Office2010Silver
{
    background-position: -34px -40px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2010Silver
{
    background-position: -25px -67px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2010Silver
{
    background-position: -61px -13px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2010Silver
{
    background-position: -21px -67px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2010Silver
{
    background-position: -61px 0px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2010Silver
{
    background-position: -33px -67px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2010Silver
{
    background-position: -37px -67px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2010Silver
{
    background-position: -61px -5px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2010Silver
{
    background-position: -61px -9px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2010Silver
{
    background-position: -29px -67px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2010Silver
{
    background-position: -61px -17px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2010Silver,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2010Silver,
.dxHtmlEditor_heConstrainProportionsBottom_Office2010Silver,
.dxHtmlEditor_heConstrainProportionsTop_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2010Silver,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2010Silver
{
	display:block;
}
