.dxGridView_CTClearFilter_Office2010Silver,
.dxGridView_CTClearFilterDisabled_Office2010Silver,
.dxGridView_CTClearGrouping_Office2010Silver,
.dxGridView_CTClearGroupingDisabled_Office2010Silver,
.dxGridView_CTCollapseDetailRow_Office2010Silver,
.dxGridView_CTCollapseDetailRowDisabled_Office2010Silver,
.dxGridView_CTCollapseRow_Office2010Silver,
.dxGridView_CTCollapseRowDisabled_Office2010Silver,
.dxGridView_CTDeleteRow_Office2010Silver,
.dxGridView_CTDeleteRowDisabled_Office2010Silver,
.dxGridView_CTEditRow_Office2010Silver,
.dxGridView_CTEditRowDisabled_Office2010Silver,
.dxGridView_CTExpandDetailRow_Office2010Silver,
.dxGridView_CTExpandDetailRowDisabled_Office2010Silver,
.dxGridView_CTExpandRow_Office2010Silver,
.dxGridView_CTExpandRowDisabled_Office2010Silver,
.dxGridView_CTExportCsv_Office2010Silver,
.dxGridView_CTExportCsvDisabled_Office2010Silver,
.dxGridView_CTExportDocx_Office2010Silver,
.dxGridView_CTExportDocxDisabled_Office2010Silver,
.dxGridView_CTExportPdf_Office2010Silver,
.dxGridView_CTExportPdfDisabled_Office2010Silver,
.dxGridView_CTExportRtf_Office2010Silver,
.dxGridView_CTExportRtfDisabled_Office2010Silver,
.dxGridView_CTExportXls_Office2010Silver,
.dxGridView_CTExportXlsDisabled_Office2010Silver,
.dxGridView_CTExportXlsx_Office2010Silver,
.dxGridView_CTExportXlsxDisabled_Office2010Silver,
.dxGridView_CTFullCollapse_Office2010Silver,
.dxGridView_CTFullCollapseDisabled_Office2010Silver,
.dxGridView_CTFullExpand_Office2010Silver,
.dxGridView_CTFullExpandDisabled_Office2010Silver,
.dxGridView_CTNewRow_Office2010Silver,
.dxGridView_CTNewRowDisabled_Office2010Silver,
.dxGridView_CTRefresh_Office2010Silver,
.dxGridView_CTRefreshDisabled_Office2010Silver,
.dxGridView_CTShowCustDialog_Office2010Silver,
.dxGridView_CTShowCustDialogDisabled_Office2010Silver,
.dxGridView_CTShowCustomizationWindow_Office2010Silver,
.dxGridView_CTShowCustomizationWindowDisabled_Office2010Silver,
.dxGridView_CTShowFilterEditor_Office2010Silver,
.dxGridView_CTShowFilterEditorDisabled_Office2010Silver,
.dxGridView_CTShowFilterRow_Office2010Silver,
.dxGridView_CTShowFilterRowDisabled_Office2010Silver,
.dxGridView_CTShowGroupPanel_Office2010Silver,
.dxGridView_CTShowGroupPanelDisabled_Office2010Silver,
.dxGridView_CTShowSearchPanel_Office2010Silver,
.dxGridView_CTShowSearchPanelDisabled_Office2010Silver,
.dxGridView_gvCellError_Office2010Silver,
.dxGridView_gvCMClearFilter_Office2010Silver,
.dxGridView_gvCMClearFilterDisabled_Office2010Silver,
.dxGridView_gvCMClearGrouping_Office2010Silver,
.dxGridView_gvCMClearGroupingDisabled_Office2010Silver,
.dxGridView_gvCMCollapseDetailRow_Office2010Silver,
.dxGridView_gvCMCollapseDetailRowDisabled_Office2010Silver,
.dxGridView_gvCMCollapseRow_Office2010Silver,
.dxGridView_gvCMCollapseRowDisabled_Office2010Silver,
.dxGridView_gvCMDeleteRow_Office2010Silver,
.dxGridView_gvCMDeleteRowDisabled_Office2010Silver,
.dxGridView_gvCMEditRow_Office2010Silver,
.dxGridView_gvCMEditRowDisabled_Office2010Silver,
.dxGridView_gvCMExpandDetailRow_Office2010Silver,
.dxGridView_gvCMExpandDetailRowDisabled_Office2010Silver,
.dxGridView_gvCMExpandRow_Office2010Silver,
.dxGridView_gvCMExpandRowDisabled_Office2010Silver,
.dxGridView_gvCMExportCsv_Office2010Silver,
.dxGridView_gvCMExportCsvDisabled_Office2010Silver,
.dxGridView_gvCMExportDocx_Office2010Silver,
.dxGridView_gvCMExportDocxDisabled_Office2010Silver,
.dxGridView_gvCMExportPdf_Office2010Silver,
.dxGridView_gvCMExportPdfDisabled_Office2010Silver,
.dxGridView_gvCMExportRtf_Office2010Silver,
.dxGridView_gvCMExportRtfDisabled_Office2010Silver,
.dxGridView_gvCMExportXls_Office2010Silver,
.dxGridView_gvCMExportXlsDisabled_Office2010Silver,
.dxGridView_gvCMExportXlsx_Office2010Silver,
.dxGridView_gvCMExportXlsxDisabled_Office2010Silver,
.dxGridView_gvCMFullCollapse_Office2010Silver,
.dxGridView_gvCMFullCollapseDisabled_Office2010Silver,
.dxGridView_gvCMFullExpand_Office2010Silver,
.dxGridView_gvCMFullExpandDisabled_Office2010Silver,
.dxGridView_gvCMGroupByColumn_Office2010Silver,
.dxGridView_gvCMGroupByColumnDisabled_Office2010Silver,
.dxGridView_gvCMNewRow_Office2010Silver,
.dxGridView_gvCMNewRowDisabled_Office2010Silver,
.dxGridView_gvCMRefresh_Office2010Silver,
.dxGridView_gvCMRefreshDisabled_Office2010Silver,
.dxGridView_gvCMSearchPanel_Office2010Silver,
.dxGridView_gvCMSearchPanelDisabled_Office2010Silver,
.dxGridView_gvCMShowCustDialog_Office2010Silver,
.dxGridView_gvCMShowCustDialogDisabled_Office2010Silver,
.dxGridView_gvCMShowCustomizationWindow_Office2010Silver,
.dxGridView_gvCMShowCustomizationWindowDisabled_Office2010Silver,
.dxGridView_gvCMShowFilterEditor_Office2010Silver,
.dxGridView_gvCMShowFilterEditorDisabled_Office2010Silver,
.dxGridView_gvCMShowGroupPanel_Office2010Silver,
.dxGridView_gvCMShowGroupPanelDisabled_Office2010Silver,
.dxGridView_gvCMShowSearchPanel_Office2010Silver,
.dxGridView_gvCMShowSearchPanelDisabled_Office2010Silver,
.dxGridView_gvCMSortAscending_Office2010Silver,
.dxGridView_gvCMSortAscendingDisabled_Office2010Silver,
.dxGridView_gvCMSortDescending_Office2010Silver,
.dxGridView_gvCMSortDescendingDisabled_Office2010Silver,
.dxGridView_gvCMSummaryAverage_Office2010Silver,
.dxGridView_gvCMSummaryAverageDisabled_Office2010Silver,
.dxGridView_gvCMSummaryCount_Office2010Silver,
.dxGridView_gvCMSummaryCountDisabled_Office2010Silver,
.dxGridView_gvCMSummaryMax_Office2010Silver,
.dxGridView_gvCMSummaryMaxDisabled_Office2010Silver,
.dxGridView_gvCMSummaryMin_Office2010Silver,
.dxGridView_gvCMSummaryMinDisabled_Office2010Silver,
.dxGridView_gvCMSummarySum_Office2010Silver,
.dxGridView_gvCMSummarySumDisabled_Office2010Silver,
.dxGridView_gvCMUngroupColumn_Office2010Silver,
.dxGridView_gvCOApply_Office2010Silver,
.dxGridView_gvCOApplyDisabled_Office2010Silver,
.dxGridView_gvCOClearFilter_Office2010Silver,
.dxGridView_gvCOClearFilterDisabled_Office2010Silver,
.dxGridView_gvCOClose_Office2010Silver,
.dxGridView_gvCOColumnDrag_Office2010Silver,
.dxGridView_gvCOColumnDragDisabled_Office2010Silver,
.dxGridView_gvCOColumnGroup_Office2010Silver,
.dxGridView_gvCOColumnGroupDisabled_Office2010Silver,
.dxGridView_gvCOColumnHide_Office2010Silver,
.dxGridView_gvCOColumnHideDisabled_Office2010Silver,
.dxGridView_gvCOColumnRemove_Office2010Silver,
.dxGridView_gvCOColumnRemoveDisabled_Office2010Silver,
.dxGridView_gvCOColumnShow_Office2010Silver,
.dxGridView_gvCOColumnShowDisabled_Office2010Silver,
.dxGridView_gvCOColumnSort_Office2010Silver,
.dxGridView_gvCOColumnSortDisabled_Office2010Silver,
.dxGridView_gvCOColumnSortDown_Office2010Silver,
.dxGridView_gvCOColumnSortDownDisabled_Office2010Silver,
.dxGridView_gvCOColumnSortUp_Office2010Silver,
.dxGridView_gvCOColumnSortUpDisabled_Office2010Silver,
.dxGridView_gvCOColumnUngroup_Office2010Silver,
.dxGridView_gvCOColumnUngroupDisabled_Office2010Silver,
.dxGridView_gvCOColumnUnsort_Office2010Silver,
.dxGridView_gvCOColumnUnsortDisabled_Office2010Silver,
.dxGridView_gvCODragAreaCollapse_Office2010Silver,
.dxGridView_gvCODragAreaExpand_Office2010Silver,
.dxGridView_gvCOFilterCollapse_Office2010Silver,
.dxGridView_gvCOFilterExpand_Office2010Silver,
.dxGridView_gvCollapsedButton_Office2010Silver,
.dxGridView_gvCollapsedButtonRtl_Office2010Silver,
.dxGridView_gvDetailCollapsedButton_Office2010Silver,
.dxGridView_gvDetailCollapsedButtonRtl_Office2010Silver,
.dxGridView_gvDetailExpandedButton_Office2010Silver,
.dxGridView_gvDetailExpandedButtonRtl_Office2010Silver,
.dxGridView_gvDragAndDropArrowDown_Office2010Silver,
.dxGridView_gvDragAndDropArrowLeft_Office2010Silver,
.dxGridView_gvDragAndDropArrowRight_Office2010Silver,
.dxGridView_gvDragAndDropArrowUp_Office2010Silver,
.dxGridView_gvDragAndDropHideColumn_Office2010Silver,
.dxGridView_gvExpandedButton_Office2010Silver,
.dxGridView_gvExpandedButtonRtl_Office2010Silver,
.dxGridView_gvFilterRowButton_Office2010Silver,
.dxGridView_gvFixedGroupRow_Office2010Silver,
.dxGridView_gvHeaderFilter_Office2010Silver,
.dxGridView_gvHeaderFilterActive_Office2010Silver,
.dxGridView_gvHeaderSortDown_Office2010Silver,
.dxGridView_gvHeaderSortUp_Office2010Silver,
.dxGridView_gvHideAdaptiveDetailButton_Office2010Silver,
.dxGridView_gvParentGroupRows_Office2010Silver,
.dxGridView_gvShowAdaptiveDetailButton_Office2010Silver,
.dxGridView_WindowResizer_Office2010Silver,
.dxGridView_WindowResizerRtl_Office2010Silver
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_CTClearFilter_Office2010Silver
{
    background-position: -34px -189px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTClearFilterDisabled_Office2010Silver
{
    background-position: -17px -257px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTClearGrouping_Office2010Silver
{
    background-position: -51px -274px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTClearGroupingDisabled_Office2010Silver
{
    background-position: -68px -393px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseDetailRow_Office2010Silver
{
    background-position: -34px -308px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseDetailRowDisabled_Office2010Silver
{
    background-position: -51px -155px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseRow_Office2010Silver
{
    background-position: -17px -291px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTCollapseRowDisabled_Office2010Silver
{
    background-position: -85px -291px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTDeleteRow_Office2010Silver
{
    background-position: -102px -240px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTDeleteRowDisabled_Office2010Silver
{
    background-position: -51px -376px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTEditRow_Office2010Silver
{
    background-position: -34px -172px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTEditRowDisabled_Office2010Silver
{
    background-position: -34px -291px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandDetailRow_Office2010Silver
{
    background-position: -102px -223px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandDetailRowDisabled_Office2010Silver
{
    background-position: -85px -359px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandRow_Office2010Silver
{
    background-position: -102px -325px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExpandRowDisabled_Office2010Silver
{
    background-position: -51px -291px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportCsv_Office2010Silver
{
    background-position: -68px -376px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportCsvDisabled_Office2010Silver
{
    background-position: -34px -240px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportDocx_Office2010Silver
{
    background-position: -102px -206px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportDocxDisabled_Office2010Silver
{
    background-position: -85px -206px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportPdf_Office2010Silver
{
    background-position: -85px -308px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportPdfDisabled_Office2010Silver
{
    background-position: -102px -138px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportRtf_Office2010Silver
{
    background-position: 0px -189px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportRtfDisabled_Office2010Silver
{
    background-position: -102px -291px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportXls_Office2010Silver
{
    background-position: -34px -393px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportXlsDisabled_Office2010Silver
{
    background-position: 0px -240px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportXlsx_Office2010Silver
{
    background-position: -102px -155px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTExportXlsxDisabled_Office2010Silver
{
    background-position: -68px -240px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullCollapse_Office2010Silver
{
    background-position: -17px -376px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullCollapseDisabled_Office2010Silver
{
    background-position: -85px -325px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullExpand_Office2010Silver
{
    background-position: -102px -189px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTFullExpandDisabled_Office2010Silver
{
    background-position: -34px -376px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTNewRow_Office2010Silver
{
    background-position: -17px -342px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTNewRowDisabled_Office2010Silver
{
    background-position: -51px -189px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTRefresh_Office2010Silver
{
    background-position: -85px -138px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTRefreshDisabled_Office2010Silver
{
    background-position: -51px -138px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustDialog_Office2010Silver
{
    background-position: 0px -291px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustDialogDisabled_Office2010Silver
{
    background-position: -51px -257px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustomizationWindow_Office2010Silver
{
    background-position: -85px -155px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowCustomizationWindowDisabled_Office2010Silver
{
    background-position: 0px -308px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowFilterEditor_Office2010Silver
{
    background-position: -102px -274px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowFilterEditorDisabled_Office2010Silver
{
    background-position: -51px -206px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowFilterRow_Office2010Silver
{
    background-position: -51px -342px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowFilterRowDisabled_Office2010Silver
{
    background-position: -17px -189px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowGroupPanel_Office2010Silver
{
    background-position: -17px -308px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowGroupPanelDisabled_Office2010Silver
{
    background-position: -85px -189px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowSearchPanel_Office2010Silver
{
    background-position: -85px -240px;
    width: 16px;
    height: 16px;
}
.dxGridView_CTShowSearchPanelDisabled_Office2010Silver
{
    background-position: -102px -308px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCellError_Office2010Silver
{
    background-position: -16px -410px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_Office2010Silver
{
    background-position: -34px -342px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearFilterDisabled_Office2010Silver
{
    background-position: -17px -138px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGrouping_Office2010Silver
{
    background-position: -85px -172px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGroupingDisabled_Office2010Silver
{
    background-position: -34px -325px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRow_Office2010Silver
{
    background-position: -51px -172px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRowDisabled_Office2010Silver
{
    background-position: -85px -223px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRow_Office2010Silver
{
    background-position: -85px -257px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRowDisabled_Office2010Silver
{
    background-position: -51px -308px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRow_Office2010Silver
{
    background-position: -34px -223px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRowDisabled_Office2010Silver
{
    background-position: -102px -342px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRow_Office2010Silver
{
    background-position: 0px -359px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRowDisabled_Office2010Silver
{
    background-position: -17px -223px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRow_Office2010Silver
{
    background-position: -34px -155px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRowDisabled_Office2010Silver
{
    background-position: -68px -155px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRow_Office2010Silver
{
    background-position: -97px -115px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRowDisabled_Office2010Silver
{
    background-position: -68px -359px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportCsv_Office2010Silver
{
    background-position: 0px -325px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportCsvDisabled_Office2010Silver
{
    background-position: -68px -189px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportDocx_Office2010Silver
{
    background-position: -68px -308px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportDocxDisabled_Office2010Silver
{
    background-position: -68px -206px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportPdf_Office2010Silver
{
    background-position: 0px -257px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportPdfDisabled_Office2010Silver
{
    background-position: -68px -223px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportRtf_Office2010Silver
{
    background-position: -85px -376px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportRtfDisabled_Office2010Silver
{
    background-position: -80px -115px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportXls_Office2010Silver
{
    background-position: -51px -393px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportXlsDisabled_Office2010Silver
{
    background-position: -17px -155px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportXlsx_Office2010Silver
{
    background-position: -85px -342px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExportXlsxDisabled_Office2010Silver
{
    background-position: -85px -393px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapse_Office2010Silver
{
    background-position: 0px -138px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapseDisabled_Office2010Silver
{
    background-position: -102px -172px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpand_Office2010Silver
{
    background-position: -17px -206px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpandDisabled_Office2010Silver
{
    background-position: -68px -257px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumn_Office2010Silver
{
    background-position: 0px -172px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumnDisabled_Office2010Silver
{
    background-position: -68px -342px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRow_Office2010Silver
{
    background-position: -51px -223px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRowDisabled_Office2010Silver
{
    background-position: -85px -274px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefresh_Office2010Silver
{
    background-position: -34px -138px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefreshDisabled_Office2010Silver
{
    background-position: -68px -325px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanel_Office2010Silver
{
    background-position: -51px -359px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanelDisabled_Office2010Silver
{
    background-position: -17px -393px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustDialog_Office2010Silver
{
    background-position: -17px -240px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustDialogDisabled_Office2010Silver
{
    background-position: 0px -155px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindow_Office2010Silver
{
    background-position: 0px -393px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindowDisabled_Office2010Silver
{
    background-position: -68px -172px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditor_Office2010Silver
{
    background-position: -68px -138px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditorDisabled_Office2010Silver
{
    background-position: 0px -223px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanel_Office2010Silver
{
    background-position: -102px -376px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanelDisabled_Office2010Silver
{
    background-position: 0px -342px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanel_Office2010Silver
{
    background-position: 0px -206px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanelDisabled_Office2010Silver
{
    background-position: -34px -257px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscending_Office2010Silver
{
    background-position: 0px -376px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscendingDisabled_Office2010Silver
{
    background-position: -68px -274px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescending_Office2010Silver
{
    background-position: -34px -359px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescendingDisabled_Office2010Silver
{
    background-position: -17px -325px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverage_Office2010Silver
{
    background-position: -102px -257px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverageDisabled_Office2010Silver
{
    background-position: 0px -274px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCount_Office2010Silver
{
    background-position: -102px -359px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCountDisabled_Office2010Silver
{
    background-position: -17px -359px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMax_Office2010Silver
{
    background-position: -51px -325px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMaxDisabled_Office2010Silver
{
    background-position: -34px -274px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMin_Office2010Silver
{
    background-position: -68px -291px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMinDisabled_Office2010Silver
{
    background-position: -34px -206px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySum_Office2010Silver
{
    background-position: -17px -172px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySumDisabled_Office2010Silver
{
    background-position: -51px -240px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMUngroupColumn_Office2010Silver
{
    background-position: -17px -274px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCOApply_Office2010Silver
{
    background-position: 0px -92px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOApplyDisabled_Office2010Silver
{
    background-position: -92px -92px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOClearFilter_Office2010Silver
{
    background-position: -23px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOClearFilterDisabled_Office2010Silver
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOClose_Office2010Silver
{
    background-position: -92px -69px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnDrag_Office2010Silver
{
    background-position: -23px -115px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCOColumnDragDisabled_Office2010Silver
{
    background-position: -42px -115px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCOColumnGroup_Office2010Silver
{
    background-position: 0px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnGroupDisabled_Office2010Silver
{
    background-position: -23px -92px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnHide_Office2010Silver
{
    background-position: -23px -69px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnHideDisabled_Office2010Silver
{
    background-position: -69px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnRemove_Office2010Silver
{
    background-position: -69px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnRemoveDisabled_Office2010Silver
{
    background-position: -92px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnShow_Office2010Silver
{
    background-position: -23px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnShowDisabled_Office2010Silver
{
    background-position: -69px -92px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSort_Office2010Silver
{
    background-position: 0px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortDisabled_Office2010Silver
{
    background-position: -92px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortDown_Office2010Silver
{
    background-position: 0px -69px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortDownDisabled_Office2010Silver
{
    background-position: -46px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortUp_Office2010Silver
{
    background-position: -46px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnSortUpDisabled_Office2010Silver
{
    background-position: 0px -115px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUngroup_Office2010Silver
{
    background-position: -92px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUngroupDisabled_Office2010Silver
{
    background-position: -46px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUnsort_Office2010Silver
{
    background-position: -46px -69px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOColumnUnsortDisabled_Office2010Silver
{
    background-position: -69px -69px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCODragAreaCollapse_Office2010Silver
{
    background-position: -84px -426px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCODragAreaExpand_Office2010Silver
{
    background-position: -42px -426px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCOFilterCollapse_Office2010Silver
{
    background-position: -46px -92px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCOFilterExpand_Office2010Silver
{
    background-position: -69px -23px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvCollapsedButton_Office2010Silver
{
    background-position: -98px -426px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCollapsedButtonRtl_Office2010Silver
{
    background-position: -70px -426px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButton_Office2010Silver
{
    background-position: -92px -410px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButtonRtl_Office2010Silver
{
    background-position: -64px -410px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButton_Office2010Silver
{
    background-position: -50px -410px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButtonRtl_Office2010Silver
{
    background-position: -14px -426px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDragAndDropArrowDown_Office2010Silver
{
    background-position: -42px -440px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowLeft_Office2010Silver
{
    background-position: -106px -410px;
    width: 9px;
    height: 11px;
}
.dxGridView_gvDragAndDropArrowRight_Office2010Silver
{
    background-position: -54px -440px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_Office2010Silver
{
    background-position: -66px -440px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_Office2010Silver
{
    background-position: -23px -46px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_Office2010Silver
{
    background-position: -78px -410px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvExpandedButtonRtl_Office2010Silver
{
    background-position: 0px -426px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFilterRowButton_Office2010Silver
{
    background-position: -28px -426px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFixedGroupRow_Office2010Silver
{
    background-position: -61px -115px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvHeaderFilter_Office2010Silver
{
    background-position: -102px -393px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderFilterActive_Office2010Silver
{
    background-position: 0px -410px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderSortDown_Office2010Silver
{
    background-position: -103px -132px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvHeaderSortUp_Office2010Silver
{
    background-position: -111px -132px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvHideAdaptiveDetailButton_Office2010Silver
{
    background-position: -14px -440px;
    width: 13px;
    height: 11px;
}
.dxGridView_gvParentGroupRows_Office2010Silver
{
    background-position: -31px -410px;
    width: 18px;
    height: 13px;
}
.dxGridView_gvShowAdaptiveDetailButton_Office2010Silver
{
    background-position: -28px -440px;
    width: 13px;
    height: 11px;
}
.dxGridView_WindowResizer_Office2010Silver
{
    background-position: 0px -440px;
    width: 13px;
    height: 13px;
}
.dxGridView_WindowResizerRtl_Office2010Silver
{
    background-position: -56px -426px;
    width: 13px;
    height: 13px;
}

