.dxcvControl_ModernoCustom,
.dxcvDisabled_ModernoCustom
{
    font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
    color: #2B2B2B;
    background-color: #FFFFFF;
    cursor: default;
}
.dxcvDisabled_ModernoCustom
{
    color: #A6A6A6;
}
.dxcvControl_ModernoCustom a
{
    color: #045cad;
}
.dxcvControl_ModernoCustom a:hover
{
    color: #2B2B2B;
}
.dxcvControl_ModernoCustom a:hover.dxbDisabled_ModernoCustom
{
    color: #BBBBBB;
}
.dxcvDisabled_ModernoCustom a
{
    color: #A6A6A6;
}
.dxcvLoadingPanel_ModernoCustom
{
    font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
    color: #2B2B2B;
    background-color: White;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxcvLoadingPanel_ModernoCustom td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 15px 34px 15px 20px;
}
.dxcvLoadingPanel_ModernoCustom .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 40px;
    width: 40px;
}
.dxcvLoadingPanelStatusBar_ModernoCustom .dxlp-loadingImage
{
    background-image: url('cvLoadingOnStatusBar.gif');
    height: 16px;
    width: 16px;
}
.dxcvLoadingPanelStatusBar_ModernoCustom
{
    background-color: transparent;
}
.dxcvLoadingPanelStatusBar_ModernoCustom td
{
    white-space: nowrap;
    text-align: center;
    padding: 0px 2px;
}
.dxcvFilterPopupWindow_ModernoCustom
{
    color: Black;
    border: 1px solid #A3C0E8;
}
.dxcvFilterPopupItemsArea_ModernoCustom
{
    color: Black;
    background-color: #FFFFFF;
}
.dxcvFilterPopupButtonPanel_ModernoCustom
{
    background-color: #ECF4FE;
    border: 1px solid #d1d1d1;
    color: #2C4D79;
}
.dxcvFilterPopupItem_ModernoCustom td.dxcv,
.dxcvFilterPopupActiveItem_ModernoCustom td.dxcv,
.dxcvFilterPopupSelectedItem_ModernoCustom td.dxcv
{
    padding: 3px 2px 4px 4px;
    cursor: default;
    white-space: nowrap;
}
.dxcvFilterPopupActiveItem_ModernoCustom
{
    background-color: #FFE7A2;
    color: Black;
}
.dxcvFilterPopupSelectedItem_ModernoCustom
{
    color: Black;
    background-color: #FFBD69;
}
.dxcvControl_ModernoCustom .dxeListBox_ModernoCustom
{
    background-color: #FFFFFF;
}
.dxcvTable_ModernoCustom
{
    background-color: White;
    border: Solid 1px #d1d1d1;
    border-collapse: separate !important;
    overflow: hidden;
    padding: 20px;
}
.dxcvTable_ModernoCustom .dxcvHEC
{
    background-color: #FFFFFF;
    border: 0;
    overflow: hidden;
}
div > .dxcvTable_ModernoCustom
{
    border-right: 0;
    border-left: 0;
}
.dxcvHeader_ModernoCustom
{
    cursor: pointer;
    white-space: nowrap;
    padding: 7px 10px 6px;
    border: 1px Solid #d1d1d1;
    background: #fafafa;
    overflow: hidden;
    font-weight: normal;
    text-align: left;
}
tr:first-child > .dxcvHeader_ModernoCustom,
tr[id$="DXHeadersRow0"] > .dxcvHeader_ModernoCustom
{
    border-top-width: 1px !important;
}
.dxcvHeader_ModernoCustom a,
.dxcvHeader_ModernoCustom a:hover
{
    color: #1279c0;
}
.dxcvHeader_ModernoCustom,
.dxcvHeader_ModernoCustom table
{
    color: #7e7e7e;
}
.dxcvHeader_ModernoCustom td
{
    white-space: nowrap;
}
.dxcvHeader_ModernoCustom a.dxcvCommandItem_ModernoCustom
{
    margin: 0px 5px 0px 0px;
    vertical-align: middle;
}
.dxcvHeader_ModernoCustom a.dxcvCommandItem_ModernoCustom:hover
{
    color: #2b2b2b;
}
.dxcvCustomization_ModernoCustom,
.dxcvPopupEditForm_ModernoCustom
{
    padding: 0;
    margin: 0;
}
.dxcvTitlePanel_ModernoCustom,
.dxcvTable_ModernoCustom caption
{
    font-weight: normal;
    padding: 8px 5px 9px;
    text-align: center;
}
.dxcvLoadingDiv_ModernoCustom
{
    background-color: Gray;
    opacity: 0.01;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxcvPagerBottomPanel_ModernoCustom + .dxcvStatusBar_ModernoCustom
{
    border-top: 1px Solid #d1d1d1;
}
.dxcvStatusBar_ModernoCustom tr.dxcv
{
    height: 20px;
}
.dxcvStatusBar_ModernoCustom tr.dxcv > td
{
    padding: 13px 5px;
}
.dxbButton_ModernoCustom[class~="dxcvCommandItem_ModernoCustom"],
.dxcvEditFormTable_ModernoCustom div.dxbButton_ModernoCustom
{
    margin: -2px 2px;
}
.dxbButton_ModernoCustom[class~="dxcvCommandItem_ModernoCustom"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
.dxcvFilterBar_ModernoCustom
{
    border-top: 1px solid #d1d1d1;
}
.dxcvFilterBar_ModernoCustom a
{
    color: #045cad;
    text-decoration: underline;
}
.dxcvFilterBar_ModernoCustom a:hover
{
    color: #2b2b2b;
}
.dxcvFilterBarCheckBoxCell_ModernoCustom
{
    padding: 0 7px 0 3px;
}
.dxcvFilterBarImageCell_ModernoCustom
{
    padding: 0 1px 0 3px;
    cursor: pointer;
}
.dxcvFilterBarExpressionCell_ModernoCustom
{
    padding: 8px 5px 10px 0;
    white-space: nowrap;
}
.dxcvFilterBarClearButtonCell_ModernoCustom
{
    padding: 5px 6px 8px;
}
.dxcvFilterBuilderMainArea_ModernoCustom
{
    background: white none;
    padding: 6px 2px;
}
.dxcvFilterBuilderButtonArea_ModernoCustom
{
    background-color: white;
    border-top: 1px solid #d1d1d1;
    padding: 12px;
    white-space: nowrap;
}
.dxcvPagerBottomPanel_ModernoCustom,
.dxcvPagerTopPanel_ModernoCustom
{
    padding: 4px 0;
}
.dxcvControl_ModernoCustom .dxpLite_ModernoCustom
{
    padding: 6px 6px 6px 0;
}
.dxcvControl_ModernoCustom div[id$='DXEPLPC']
{
    height: 70px;
}
.dxcvControl_ModernoCustom .dxcvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxcvControl_ModernoCustom .dxcvHFDRC
{
    margin: 20px 15px 30px;
}
.dxcvControl_ModernoCustom .dxcvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxcvControl_ModernoCustom .dxcvHFDRP[id*="HFFDE"]
{
    margin-top: 20px;
    margin-bottom: 10px;
}
.dxcvControl_ModernoCustom .dxcvHFDRP[id*="HFTDE"]
{
    margin-bottom: 30px;
}
/* Removes flicking in iOS Safari*/
.dxcvTable_ModernoCustom
{
    -webkit-tap-highlight-color: transparent;
}
.dxcvSearchPanel_ModernoCustom
{
    padding: 16px 0;
}
.dxcvSearchPanel_ModernoCustom > table
{
    width: 70%;
    max-width: 650px;
}
.dxcvControl_ModernoCustom .dxcvSearchPanel_ModernoCustom .dxbButton_ModernoCustom
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxcvControl_ModernoCustom .dxcvSearchPanel_ModernoCustom .dxbButton_ModernoCustom
{
    margin-left: 0;
    margin-right: 7px;
}
.dxcvControl_ModernoCustom .dxcvHL
{
    background: #ffd83a;
    color: #333333;
    font-weight: bold;
    font-style: normal;
}
/* TODO remove (replace to command button style) */
.dxcvControl_ModernoCustom .dxcvSearchPanel_ModernoCustom .dxbButton_ModernoCustom
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxcvControl_ModernoCustom .dxcvSearchPanel_ModernoCustom .dxbButton_ModernoCustom .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
.dxcvCard_ModernoCustom,
.dxcvFlowCard_ModernoCustom,
.dxcvEmptyCard_ModernoCustom,
.dxcvEmptyHiddenCard_ModernoCustom
{
    width: 400px;
    height: 300px;
    vertical-align: top;
}
.dxcvCard_ModernoCustom,
.dxcvFlowCard_ModernoCustom,
.dxcvEmptyCard_ModernoCustom
{
    border: 1px solid #D1D1D1;
    background-color: #FAFAFA;
    color: #262626;
    outline: none;
}
.dxcvEmptyCard_ModernoCustom
{
    text-align: center;
    vertical-align: middle;
}
.dxcvEmptyHiddenCard_ModernoCustom
{
    border: 1px solid transparent;
    background-color: transparent;
}
.dxcvFlowCard_ModernoCustom,
div.dxcvEmptyCard_ModernoCustom
{
    display: inline-block;
    margin: 20px 0 0 20px;
    overflow: hidden;
}
.dxcvSelectedCard_ModernoCustom,
.dxcvFocusedCard_ModernoCustom
{
    border-color: #D1D1D1;
    outline: 3px solid #DCDCDC;
}
.dxcvFocusedCard_ModernoCustom
{
    background-color: White;
}
.dxcvCardHover_ModernoCustom
{
    border-color: #0F67A3;
    outline: 3px solid #1279C0;
}
.dxcvCard_ModernoCustom .dxflCaption_ModernoCustom,
.dxcvFlowCard_ModernoCustom .dxflCaption_ModernoCustom
{
    color: #7F7F7F;
}
.dxcvCard_ModernoCustom .dxflViewFormLayoutSys .dxflCommandItemSys,
.dxcvFlowCard_ModernoCustom .dxflViewFormLayoutSys .dxflCommandItemSys
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.dxcvCard_ModernoCustom .dxflViewFormLayoutSys
{
    color: inherit;
}
.dxcvHeaderPanel_ModernoCustom
{
    padding: 2px 20px 8px 20px;
    border: 1px solid #D1D1D1;
}
.dxcvHeaderPanel_ModernoCustom + .dxcvTable_ModernoCustom
{
    border-top-color: transparent;
}
div.dxcvHeader_ModernoCustom
{
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
}
.dxcvSummaryPanel_ModernoCustom
{
    background: #fafafa;
    border: 1px solid #D1D1D1;
    border-top: none;
    padding: 8px 21px;
}
.dxcvSummaryItem_ModernoCustom
{
    display: inline-block;
    margin: 5px 8px 5px 0;
}
.dxcvControl_ModernoCustom .dxcvSeparator_ModernoCustom,
.dxcvControl_ModernoCustom .dxcvSeparator_ModernoCustom div
{
    width: 20px;
    height: 20px;
}
.dxcvControl_ModernoCustom td.dxcvBatchEditCell_ModernoCustom
{
    padding: 0;
    outline-width: 0 !important;
}
.dxcvControl_ModernoCustom .dxcvBatchEditModifiedCell_ModernoCustom
{
    background: #d7f9c7;
    outline-style: solid;
    outline-color: #d7f9c7;
    outline-width: 2px;
}
.dxcvBatchEditDeletedItem_ModernoCustom,
.dxcvBatchEditDeletedItem_ModernoCustom.dxcvBatchEditNewItem_ModernoCustom
{
    background: white;
}
.dxcvBatchEditDeletedItem_ModernoCustom td:not(.dxcvCommandColumn_ModernoCustom),
.dxcvControl_ModernoCustom .dxcvBatchEditDeletedItem_ModernoCustom .dxflCaptionCell_ModernoCustom .dxflCaption_ModernoCustom
{
    color: rgba(0,0,0,0.5) !important;
}
.dxcvBatchEditDeletedItem_ModernoCustom td.dxcvBatchEditModifiedCell_ModernoCustom
{
    background-color: #eefbe7;
    outline-style: none;
}
.dxcvBatchEditNewItem_ModernoCustom
{
    background: #F0FAEA;
}
.dxcvControl_ModernoCustom .dxcvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxcvControl_ModernoCustom .dxcvErrorCell img
{
    margin: -3px 0;
}
.dxcvStatusBar_ModernoCustom .dxbButton_ModernoCustom
{
    margin-right: 10px;
}
.dxcvControl_ModernoCustom td.dxcvBatchEditCell_ModernoCustom .dxichCellSys
{
    padding-left: 0;
}
.dxcvControl_ModernoCustom .dxcvEMBC
{
    background: white;
    text-align: center;
    padding: 20px;
    margin-top: -20px;
}
.dxcvCardError_ModernoCustom
{
    background-color: #F3D6D6;
    border-top: 1px solid #C0C0C0;
    color: #BA1717;
    padding: 6px 13px;
}
.dxcvFocusedCell_ModernoCustom
{
    box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -webkit-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -moz-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
}
