.dx-acc-r .dxPivotGrid_CTNAttribute:before,
.dx-acc-r .dxPivotGrid_CTNCalculatedMeasure:before,
.dx-acc-r .dxPivotGrid_CTNDimension:before,
.dx-acc-r .dxPivotGrid_CTNFolderClosed:before,
.dx-acc-r .dxPivotGrid_CTNFolderOpen:before,
.dx-acc-r .dxPivotGrid_CTNHierarchy:before,
.dx-acc-r .dxPivotGrid_CTNKpi:before,
.dx-acc-r .dxPivotGrid_CTNMeasure:before,
.dx-acc-r .dxPivotGrid_FLBottomPanelOnly1by4_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_FLBottomPanelOnly2by2_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_FLButton_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_FLColumnAreaHeaders_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_FLDataAreaHeaders_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_FLFieldList_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_FLFilterAreaHeaders_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_FLRowAreaHeaders_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_FLStackedDefault_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_FLStackedSideBySide_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_FLTopPanelOnly_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgCollapsedButton_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgCustomizationFormCloseButton_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgDataHeaders_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgDragArrowDown_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgDragArrowLeft_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgDragArrowRight_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgDragArrowUp_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgDragHideField_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgExpandedButton_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgFilterButton_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgFilterButtonActive_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgFilterResizer_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgGroupSeparator_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgPrefilterButton_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgSortByColumn_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgSortDownButton_MaterialCompactCustom:before,
.dx-acc-r .dxPivotGrid_pgSortUpButton_MaterialCompactCustom:before,
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNCalculatedMeasure:before,
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNDimension:before,
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNFolderClosed:before,
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNFolderOpen:before,
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNHierarchy:before,
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNKpi:before,
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNMeasure:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxPivotGrid_CTNAttribute:before

{
    left: -68px;
    top: -36px;

}
.dx-acc-r .dxPivotGrid_CTNCalculatedMeasure:before

{
    left: -17px;
    top: -70px;

}
.dx-acc-r .dxPivotGrid_CTNDimension:before

{
    left: -51px;
    top: -36px;

}
.dx-acc-r .dxPivotGrid_CTNFolderClosed:before

{
    left: 0px;
    top: -104px;

}
.dx-acc-r .dxPivotGrid_CTNFolderOpen:before

{
    left: -34px;
    top: -87px;

}
.dx-acc-r .dxPivotGrid_CTNHierarchy:before

{
    left: -68px;
    top: -70px;

}
.dx-acc-r .dxPivotGrid_CTNKpi:before

{
    left: -17px;
    top: -87px;

}
.dx-acc-r .dxPivotGrid_CTNMeasure:before

{
    left: -34px;
    top: -104px;

}
.dx-acc-r .dxPivotGrid_FLBottomPanelOnly1by4_MaterialCompactCustom:before

{
    left: -21px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_FLBottomPanelOnly2by2_MaterialCompactCustom:before

{
    left: -51px;
    top: -87px;

}
.dx-acc-r .dxPivotGrid_FLButton_MaterialCompactCustom:before

{
    left: -51px;
    top: -104px;

}
.dx-acc-r .dxPivotGrid_FLColumnAreaHeaders_MaterialCompactCustom:before

{
    left: -68px;
    top: -87px;

}
.dx-acc-r .dxPivotGrid_FLDataAreaHeaders_MaterialCompactCustom:before

{
    left: -34px;
    top: -53px;

}
.dx-acc-r .dxPivotGrid_FLFieldList_MaterialCompactCustom:before

{
    left: -51px;
    top: -53px;

}
.dx-acc-r .dxPivotGrid_FLFilterAreaHeaders_MaterialCompactCustom:before

{
    left: 0px;
    top: -36px;

}
.dx-acc-r .dxPivotGrid_FLRowAreaHeaders_MaterialCompactCustom:before

{
    left: 0px;
    top: -70px;

}
.dx-acc-r .dxPivotGrid_FLStackedDefault_MaterialCompactCustom:before

{
    left: -34px;
    top: -36px;

}
.dx-acc-r .dxPivotGrid_FLStackedSideBySide_MaterialCompactCustom:before

{
    left: -38px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_FLTopPanelOnly_MaterialCompactCustom:before

{
    left: 0px;
    top: -87px;

}
.dx-acc-r .dxPivotGrid_pgCollapsedButton_MaterialCompactCustom:before

{
    left: -83px;
    top: -104px;

}
.dx-acc-r .dxPivotGrid_pgCustomizationFormCloseButton_MaterialCompactCustom:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_pgDataHeaders_MaterialCompactCustom:before

{
    left: 0px;
    top: -21px;

}
.dx-acc-r .dxPivotGrid_pgDragArrowDown_MaterialCompactCustom:before

{
    left: -59px;
    top: -121px;

}
.dx-acc-r .dxPivotGrid_pgDragArrowLeft_MaterialCompactCustom:before

{
    left: -38px;
    top: -121px;

}
.dx-acc-r .dxPivotGrid_pgDragArrowRight_MaterialCompactCustom:before

{
    left: -28px;
    top: -121px;

}
.dx-acc-r .dxPivotGrid_pgDragArrowUp_MaterialCompactCustom:before

{
    left: -48px;
    top: -121px;

}
.dx-acc-r .dxPivotGrid_pgDragHideField_MaterialCompactCustom:before

{
    left: -34px;
    top: -70px;

}
.dx-acc-r .dxPivotGrid_pgExpandedButton_MaterialCompactCustom:before

{
    left: -80px;
    top: -16px;

}
.dx-acc-r .dxPivotGrid_pgFilterButton_MaterialCompactCustom:before

{
    left: -68px;
    top: -104px;

}
.dx-acc-r .dxPivotGrid_pgFilterButtonActive_MaterialCompactCustom:before

{
    left: -59px;
    top: -21px;

}
.dx-acc-r .dxPivotGrid_pgFilterResizer_MaterialCompactCustom:before

{
    left: -44px;
    top: -21px;

}
.dx-acc-r .dxPivotGrid_pgGroupSeparator_MaterialCompactCustom:before

{
    left: -23px;
    top: -21px;

}
.dx-acc-r .dxPivotGrid_pgPrefilterButton_MaterialCompactCustom:before

{
    left: 0px;
    top: -121px;

}
.dx-acc-r .dxPivotGrid_pgSortByColumn_MaterialCompactCustom:before

{
    left: -72px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_pgSortDownButton_MaterialCompactCustom:before

{
    left: -15px;
    top: -121px;

}
.dx-acc-r .dxPivotGrid_pgSortUpButton_MaterialCompactCustom:before

{
    left: -74px;
    top: -21px;

}
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNCalculatedMeasure:before

{
    left: 0px;
    top: -53px;

}
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNDimension:before

{
    left: -55px;
    top: 0px;

}
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNFolderClosed:before

{
    left: -17px;
    top: -53px;

}
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNFolderOpen:before

{
    left: -17px;
    top: -104px;

}
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNHierarchy:before

{
    left: -17px;
    top: -36px;

}
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNKpi:before

{
    left: -51px;
    top: -70px;

}
.dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNMeasure:before

{
    left: -68px;
    top: -53px;

}

