.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNCalculatedMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNMeasure,
.dxPivotGrid_FLBottomPanelOnly1by4_MaterialCompactCustom,
.dxPivotGrid_FLBottomPanelOnly2by2_MaterialCompactCustom,
.dxPivotGrid_FLButton_MaterialCompactCustom,
.dxPivotGrid_FLColumnAreaHeaders_MaterialCompactCustom,
.dxPivotGrid_FLDataAreaHeaders_MaterialCompactCustom,
.dxPivotGrid_FLFieldList_MaterialCompactCustom,
.dxPivotGrid_FLFilterAreaHeaders_MaterialCompactCustom,
.dxPivotGrid_FLRowAreaHeaders_MaterialCompactCustom,
.dxPivotGrid_FLStackedDefault_MaterialCompactCustom,
.dxPivotGrid_FLStackedSideBySide_MaterialCompactCustom,
.dxPivotGrid_FLTopPanelOnly_MaterialCompactCustom,
.dxPivotGrid_pgCollapsedButton_MaterialCompactCustom,
.dxPivotGrid_pgCustomizationFormCloseButton_MaterialCompactCustom,
.dxPivotGrid_pgDataHeaders_MaterialCompactCustom,
.dxPivotGrid_pgDragArrowDown_MaterialCompactCustom,
.dxPivotGrid_pgDragArrowLeft_MaterialCompactCustom,
.dxPivotGrid_pgDragArrowRight_MaterialCompactCustom,
.dxPivotGrid_pgDragArrowUp_MaterialCompactCustom,
.dxPivotGrid_pgDragHideField_MaterialCompactCustom,
.dxPivotGrid_pgExpandedButton_MaterialCompactCustom,
.dxPivotGrid_pgFilterButton_MaterialCompactCustom,
.dxPivotGrid_pgFilterButtonActive_MaterialCompactCustom,
.dxPivotGrid_pgFilterResizer_MaterialCompactCustom,
.dxPivotGrid_pgGroupSeparator_MaterialCompactCustom,
.dxPivotGrid_pgPrefilterButton_MaterialCompactCustom,
.dxPivotGrid_pgSortByColumn_MaterialCompactCustom,
.dxPivotGrid_pgSortDownButton_MaterialCompactCustom,
.dxPivotGrid_pgSortUpButton_MaterialCompactCustom,
.dxtv-ndSel .dxPivotGrid_CTNCalculatedMeasure,
.dxtv-ndSel .dxPivotGrid_CTNDimension,
.dxtv-ndSel .dxPivotGrid_CTNFolderClosed,
.dxtv-ndSel .dxPivotGrid_CTNFolderOpen,
.dxtv-ndSel .dxPivotGrid_CTNHierarchy,
.dxtv-ndSel .dxPivotGrid_CTNKpi,
.dxtv-ndSel .dxPivotGrid_CTNMeasure
{
    background-image: url('sprite.svg');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxIE .dx-acc-r .dxPivotGrid_CTNAttribute::before,
.dxIE .dx-acc-r .dxPivotGrid_CTNCalculatedMeasure::before,
.dxIE .dx-acc-r .dxPivotGrid_CTNDimension::before,
.dxIE .dx-acc-r .dxPivotGrid_CTNFolderClosed::before,
.dxIE .dx-acc-r .dxPivotGrid_CTNFolderOpen::before,
.dxIE .dx-acc-r .dxPivotGrid_CTNHierarchy::before,
.dxIE .dx-acc-r .dxPivotGrid_CTNKpi::before,
.dxIE .dx-acc-r .dxPivotGrid_CTNMeasure::before,
.dxIE .dx-acc-r .dxPivotGrid_FLBottomPanelOnly1by4_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_FLBottomPanelOnly2by2_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_FLButton_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_FLColumnAreaHeaders_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_FLDataAreaHeaders_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_FLFieldList_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_FLFilterAreaHeaders_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_FLRowAreaHeaders_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_FLStackedDefault_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_FLStackedSideBySide_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_FLTopPanelOnly_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgCollapsedButton_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgCustomizationFormCloseButton_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgDataHeaders_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgDragArrowDown_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgDragArrowLeft_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgDragArrowRight_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgDragArrowUp_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgDragHideField_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgExpandedButton_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgFilterButton_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgFilterButtonActive_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgFilterResizer_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgGroupSeparator_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgPrefilterButton_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgSortByColumn_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgSortDownButton_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxPivotGrid_pgSortUpButton_MaterialCompactCustom::before,
.dxIE .dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNCalculatedMeasure::before,
.dxIE .dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNDimension::before,
.dxIE .dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNFolderClosed::before,
.dxIE .dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNFolderOpen::before,
.dxIE .dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNHierarchy::before,
.dxIE .dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNKpi::before,
.dxIE .dx-acc-r .dxtv-ndSel .dxPivotGrid_CTNMeasure::before{
    width: 88px;
}
.dxPivotGrid_CTNAttribute
{
    background-position: -68px -36px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNCalculatedMeasure
{
    background-position: -17px -70px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNDimension
{
    background-position: -51px -36px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderClosed
{
    background-position: 0px -104px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderOpen
{
    background-position: -34px -87px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNHierarchy
{
    background-position: -68px -70px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNKpi
{
    background-position: -17px -87px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNMeasure
{
    background-position: -34px -104px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_MaterialCompactCustom
{
    background-position: -21px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_MaterialCompactCustom
{
    background-position: -51px -87px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLButton_MaterialCompactCustom
{
    background-position: -51px -104px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLColumnAreaHeaders_MaterialCompactCustom
{
    background-position: -68px -87px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLDataAreaHeaders_MaterialCompactCustom
{
    background-position: -34px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFieldList_MaterialCompactCustom
{
    background-position: -51px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFilterAreaHeaders_MaterialCompactCustom
{
    background-position: 0px -36px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLRowAreaHeaders_MaterialCompactCustom
{
    background-position: 0px -70px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLStackedDefault_MaterialCompactCustom
{
    background-position: -34px -36px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLStackedSideBySide_MaterialCompactCustom
{
    background-position: -38px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLTopPanelOnly_MaterialCompactCustom
{
    background-position: 0px -87px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_pgCollapsedButton_MaterialCompactCustom
{
    background-position: -83px -104px;
    width: 4px;
    height: 7px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_MaterialCompactCustom
{
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
}
.dxPivotGrid_pgDataHeaders_MaterialCompactCustom
{
    background-position: 0px -21px;
    width: 22px;
    height: 14px;
}
.dxPivotGrid_pgDragArrowDown_MaterialCompactCustom
{
    background-position: -59px -121px;
    width: 10px;
    height: 9px;
}
.dxPivotGrid_pgDragArrowLeft_MaterialCompactCustom
{
    background-position: -38px -121px;
    width: 9px;
    height: 10px;
}
.dxPivotGrid_pgDragArrowRight_MaterialCompactCustom
{
    background-position: -28px -121px;
    width: 9px;
    height: 10px;
}
.dxPivotGrid_pgDragArrowUp_MaterialCompactCustom
{
    background-position: -48px -121px;
    width: 10px;
    height: 9px;
}
.dxPivotGrid_pgDragHideField_MaterialCompactCustom
{
    background-position: -34px -70px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_pgExpandedButton_MaterialCompactCustom
{
    background-position: -80px -16px;
    width: 7px;
    height: 4px;
}
.dxPivotGrid_pgFilterButton_MaterialCompactCustom
{
    background-position: -68px -104px;
    width: 14px;
    height: 14px;
}
.dxPivotGrid_pgFilterButtonActive_MaterialCompactCustom
{
    background-position: -59px -21px;
    width: 14px;
    height: 14px;
}
.dxPivotGrid_pgFilterResizer_MaterialCompactCustom
{
    background-position: -44px -21px;
    width: 14px;
    height: 14px;
}
.dxPivotGrid_pgGroupSeparator_MaterialCompactCustom
{
    background-position: -23px -21px;
    width: 20px;
    height: 13px;
}
.dxPivotGrid_pgPrefilterButton_MaterialCompactCustom
{
    background-position: 0px -121px;
    width: 14px;
    height: 14px;
}
.dxPivotGrid_pgSortByColumn_MaterialCompactCustom
{
    background-position: -72px 0px;
    width: 15px;
    height: 14px;
}
.dxPivotGrid_pgSortDownButton_MaterialCompactCustom
{
    background-position: -15px -121px;
    width: 12px;
    height: 12px;
}
.dxPivotGrid_pgSortUpButton_MaterialCompactCustom
{
    background-position: -74px -21px;
    width: 12px;
    height: 12px;
}
.dxtv-ndSel .dxPivotGrid_CTNCalculatedMeasure
{
    background-position: 0px -53px;
    width: 16px;
    height: 16px;
}
.dxtv-ndSel .dxPivotGrid_CTNDimension
{
    background-position: -55px 0px;
    width: 16px;
    height: 16px;
}
.dxtv-ndSel .dxPivotGrid_CTNFolderClosed
{
    background-position: -17px -53px;
    width: 16px;
    height: 16px;
}
.dxtv-ndSel .dxPivotGrid_CTNFolderOpen
{
    background-position: -17px -104px;
    width: 16px;
    height: 16px;
}
.dxtv-ndSel .dxPivotGrid_CTNHierarchy
{
    background-position: -17px -36px;
    width: 16px;
    height: 16px;
}
.dxtv-ndSel .dxPivotGrid_CTNKpi
{
    background-position: -51px -70px;
    width: 16px;
    height: 16px;
}
.dxtv-ndSel .dxPivotGrid_CTNMeasure
{
    background-position: -68px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_MaterialCompactCustom,
.dxPivotGrid_FLButton_MaterialCompactCustom
{
    display:block;
}
.dxPivotGrid_pgGroupSeparator_MaterialCompactCustom
{
    width: 20px!important;
    height: 13px!important;
}
