.dxpgControl_MaterialCompactCustom, .dxpgCustForm_MaterialCompactCustom
{
    color: #484848;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    background-color: white;
}
.dxpgCustForm_MaterialCompactCustom
{
    border: solid 1px #dfdfdf;
}
.dxpgContainerCell_MaterialCompactCustom
{
    vertical-align: top;
}
.dxpgMainTable_MaterialCompactCustom
{
    border-collapse: separate;
    width: 100%;
    text-align: left;
}
.dxpgPTContainerDiv_MaterialCompactCustom > .dxpgMainTable_MaterialCompactCustom
{
    border: solid 1px #dfdfdf;
}
div.dxpgMainTable_MaterialCompactCustom
{
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}
.dxpgMainTable_MaterialCompactCustom caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 21px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxpgHeader_MaterialCompactCustom
{
    border-width: 0px;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
    font: 14px 'Roboto Medium', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-size: 1em;
}
.dxpgHeaderTable_MaterialCompactCustom,
.dxpgCustomizationFieldsContent_MaterialCompactCustom .dxpgFLListDiv_MaterialCompactCustom .dxpgHeaderTable_MaterialCompactCustom
{
    background-color: white;
    color: black;
    font-weight: normal;
    border: 1px solid #dfdfdf;
    padding: 4px 8px;
    width: 100%;
    border-collapse: separate !important;
    box-shadow: none;
}
.dxpgMSDraggable_MaterialCompactCustom .dxpgHeaderTable_MaterialCompactCustom,
.dxpgCustFieldsDiv_MaterialCompactCustom .dxpgHeaderTable_MaterialCompactCustom
{
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}
.dxpgHeaderGroupButton_MaterialCompactCustom
{
    padding-left: 4px;
    vertical-align: middle;
}
.dxpgHeaderText_MaterialCompactCustom
{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.dxpgHeaderSort_MaterialCompactCustom
{
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}
.dxpgHeaderFilter_MaterialCompactCustom
{
    padding-left: 0px;
    padding-right: 2px;
    padding-bottom: 0;
    vertical-align: middle;
}
.dxpgArea_MaterialCompactCustom
{
    border: solid 1px #dfdfdf;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
}
.dxpgColumnArea_MaterialCompactCustom
{
    border-bottom-style: solid;
}
.dxpgDataArea_MaterialCompactCustom
{
    border-bottom-style: solid;
}
.dxpgFilterArea_MaterialCompactCustom
{
    border: 1px solid #dfdfdf;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-bottom-width: 0;
}
.dxpgEmptyArea_MaterialCompactCustom
{
    cursor: default;
    padding-top: 9px;
    padding-left: 6px;
    padding-bottom: 7px;
    padding-right: 6px;
}
.dxpgColumnFieldValue_MaterialCompactCustom
{
    border: solid 1px #dfdfdf;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    color: #8e8e93;
    padding: 4px 6px;
    font-weight: normal;
    text-align: left;
}
.dxpgColumnTotalFieldValue_MaterialCompactCustom
{
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    background-color: #f5f5f5;
}
.dxpgColumnGrandTotalFieldValue_MaterialCompactCustom
{
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    background-color: #ececec;
}
.dxpgRowFieldValue_MaterialCompactCustom
{
    border: solid 1px #dfdfdf;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    color: #8e8e93;
    padding: 6px 18px 7px 18px;
    font-weight: normal;
    text-align: left;
}
.dxpgRowTotalFieldValue_MaterialCompactCustom
{
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    background-color: #f5f5f5;
}
.dxpgRowTreeFieldValue_MaterialCompactCustom
{
    padding: 0;
    font-size: 0;
}
.dxpgRowGrandTotalFieldValue_MaterialCompactCustom
{
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    padding-top: 5px;
    padding-bottom: 6px;
    background-color: #ececec;
}
.dxpgCollapsedButton_MaterialCompactCustom
{
    vertical-align: 3px;
    border: 0px;
    margin-right: 12px;
}
.dxpgSortByColumnImage_MaterialCompactCustom
{
    vertical-align: -1px;
    border: 0px;
    margin-left: 5px;
}
.dxpgCell_MaterialCompactCustom
{
    text-align: right;
    background-color: White;
    border-color: #dfdfdf;
    border-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
    border-right-style: none;
    padding: 3px 16px 4px;
    white-space: nowrap;
}
.dxpgKPICell_MaterialCompactCustom
{
    text-align: center;
    vertical-align: middle;
}
.dxpgTotalCell_MaterialCompactCustom
{
    background-color: #fcfcfc;
}
.dxpgGrandTotalCell_MaterialCompactCustom
{
    background-color: #ececec;
}
.dxpgCellsArea_MaterialCompactCustom
{
    background-color: White;
}
.dxpgCellsSCContentTable_MaterialCompactCustom
{
    border-color: #cecece;
    border-width: 1px;
    border-bottom-style: solid;
}
.dxpgRowSCContentTable_MaterialCompactCustom
{
    border-color: #dfdfdf;
    border-width: 1px;
    border-bottom-style: solid;
}
.dxpgColumnSCContentTable_MaterialCompactCustom
{
    border-color: #dfdfdf;
    border-width: 1px;
    border-right-style: solid;
}
.dxpgFilterItem_MaterialCompactCustom
{
    white-space: nowrap;
    padding-left: 6px;
}
tr:first-child > .dxpgFilterItem_MaterialCompactCustom
{
    padding-top: 6px;
}
.dxpgTopPager_MaterialCompactCustom,
.dxpgBottomPager_MaterialCompactCustom
{
    padding: 3px 0 1px;
}
.dxpgBottomPager_MaterialCompactCustom
{
    border: 1px Solid #dfdfdf;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
.dxpgTopPager_MaterialCompactCustom,
.dxpgBottomPager_MaterialCompactCustom
{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.dxpgCustomizationFieldsHeader_MaterialCompactCustom
{
    color: White;
    font-size: 0.91em;
    background-image: none !important;
}
.dxpgCustomizationFieldsContent_MaterialCompactCustom
{
    padding: 0px !important;
    min-width: 300px;
}
.dxpgCustomizationFieldsContent_MaterialCompactCustom .dxpgHeaderTable_MaterialCompactCustom
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #dfdfdf;
    background-color: white;
    padding: 21px 10px 17px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
}
.dxpgDataHeadersImage_MaterialCompactCustom
{
    margin-right: 5px;
    vertical-align: -2px;
}
.dxpgPrefilterPanelContainer_MaterialCompactCustom
{
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.dxpgPrefilterPanel_MaterialCompactCustom
{
    margin-top: 16px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-collapse: separate;
}
.dxpgPrefilterPanelLink_MaterialCompactCustom
{
    color: #35B86B;
    text-decoration: none;
}
.dxpgPrefilterPanelLink_MaterialCompactCustom:hover
{
    text-decoration: underline;
}
.dxpgPrefilterPanel_MaterialCompactCustom > tbody > tr > td
{
    padding-top: 14px;
    padding-bottom: 14px;
}
.dxpgPrefilterPanelCheckBoxCell_MaterialCompactCustom
{
    padding-left: 20px;
}
.dxpgPrefilterPanelImageCell_MaterialCompactCustom
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
.dxpgPrefilterPanelImageCell_MaterialCompactCustom img
{
    margin-top: 3px;
}
.dxpgPrefilterPanelExpressionCell_MaterialCompactCustom
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxpgPrefilterPanelClearButtonCell_MaterialCompactCustom
{
    padding: 5px 20px 8px 6px;
}
.dxpgFilterBuilderMainArea_MaterialCompactCustom
{
    background: white;
    padding: 6px 2px;
}
.dxpgFilterBuilderButtonArea_MaterialCompactCustom
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxpgFilterBuilderButtonArea_MaterialCompactCustom .dxbButton_MaterialCompactCustom
{
    margin-left: 8px;
}
.dxpgGroupSeparator_MaterialCompactCustom
{
    vertical-align: middle;
}
.dxpgFLListDiv_MaterialCompactCustom .dxpgHeaderTable_MaterialCompactCustom
{
    padding: 4px 1px;
}
.dxpgCustFieldsFilterAreaHeaders_MaterialCompactCustom,
.dxpgCustFieldsRowAreaHeaders_MaterialCompactCustom,
.dxpgCustFieldsColumnAreaHeaders_MaterialCompactCustom,
.dxpgCustFieldsDataAreaHeaders_MaterialCompactCustom,
.BottomPanelOnly1by4 .dxpgFLFRDiv_MaterialCompactCustom,
.BottomPanelOnly1by4 .dxpgFLCDDiv_MaterialCompactCustom
{
    width: 100%;
    height: 50%;
}
.StackedDefault .dxpgCustFieldsFieldList_MaterialCompactCustom
{
    height: 34%;
}
.StackedDefault .dxpgFLFRDiv_MaterialCompactCustom
{
    width: 50%;
    height: 66%;
    float: left;
}
.StackedDefault .dxpgFLCDDiv_MaterialCompactCustom
{
    width: 50%;
    height: 66%;
    float: right;
}
.StackedDefault .dxpgCustFieldsFilterAreaHeaders_MaterialCompactCustom .dxpgFLTextDiv_MaterialCompactCustom,
.StackedDefault .dxpgCustFieldsColumnAreaHeaders_MaterialCompactCustom .dxpgFLTextDiv_MaterialCompactCustom
{
    height: 47px;
}
.TopPanelOnly .dxpgCustFieldsFieldList_MaterialCompactCustom
{
    width: 100%;
    height: 100%;
}
.TopPanelOnly .dxpgFLDefereDiv_MaterialCompactCustom .dxeBase_MaterialCompactCustom,
.TopPanelOnly .dxpgFLDefereDiv_MaterialCompactCustom .dxpgFLDefereDB_MaterialCompactCustom,
.TopPanelOnly .dxpgFLFRDiv_MaterialCompactCustom,
.TopPanelOnly .dxpgFLCDDiv_MaterialCompactCustom,
.BottomPanelOnly1by4 .dxpgCustFieldsFieldList_MaterialCompactCustom,
.BottomPanelOnly2by2 .dxpgCustFieldsFieldList_MaterialCompactCustom,
.TopPanelOnly .dxpgFLTextDiv_MaterialCompactCustom div
{
    display: none;
}
.TopPanelOnly .dxpgFLTextDiv_MaterialCompactCustom
{
    height: 19px;
}
.TopPanelOnly .dxpgFLDefereDiv_MaterialCompactCustom
{
    height: 16px;
}
.BottomPanelOnly2by2 .dxpgFLFRDiv_MaterialCompactCustom,
.StackedSideBySide .dxpgCustFieldsFieldList_MaterialCompactCustom
{
    width: 50%;
    height: 100%;
    float: left;
}
.BottomPanelOnly2by2 .dxpgFLCDDiv_MaterialCompactCustom
{
    width: 50%;
    height: 100%;
    float: right;
}
.StackedSideBySide .dxpgFLFRDiv_MaterialCompactCustom,
.StackedSideBySide .dxpgFLCDDiv_MaterialCompactCustom
{
    width: 50%;
    height: 50%;
    float: right;
}
.dxpgCustFields_MaterialCompactCustom
{
    display: block;
    position: relative;
}
.dxpgFLListDiv_MaterialCompactCustom > div
{
    border: 1px solid #dfdfdf;
    position: relative;
    display: block;
    height: 100%;
    padding: 1px;
    background: #FFFFFF;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.dxpgFLListDiv_MaterialCompactCustom > div > div
{
    position: relative;
    display: block;
    background: #FFFFFF;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}
.DragOver .dxpgFLListDiv_MaterialCompactCustom > div
{
    background: #FFD324;
}
.dxpgFLListDiv_MaterialCompactCustom
{
    padding: 0px 3px 0px 3px;
}
.dxpgFLButtonDiv_MaterialCompactCustom .dxbButton_MaterialCompactCustom div.dxb
{
    border: dotted 1px transparent;
}
.dxpgFLTextDiv_MaterialCompactCustom
{
    height: 44px;
}
.dxpgFLTextDiv_MaterialCompactCustom div
{
    display: block;
    float: left;
    margin: -17px 0px 3px 0px;
    left: 6px;
    top: 100%;
    position: relative;
}
div.dxpgFLTextImgDiv_MaterialCompactCustom
{
    display: block;
    height: 16px;
    width: 16px;
    margin: -18px 0px 3px 0px;
    left: 3px;
}
.dxpgFLButtonDiv_MaterialCompactCustom
{
    float: right;
    height: 40px;
    position: relative;
    z-index: 1;
}
.dxpgFLDefereDiv_MaterialCompactCustom
{
    height: 64px;
}
.dxpgCustFieldsDiv_MaterialCompactCustom
{
    clear: both;
    padding: 0 9px;
}
.dxpgFLButton_MaterialCompactCustom
{
    margin: 12px 12px 0px 0px;
    width: 40px;
    height: 23px;
}
.dxbButton_MaterialCompactCustom.dxbTSys.dxpgFLButton_MaterialCompactCustom
{
    min-width: 44px;
}
.dxpgFLDefereDiv_MaterialCompactCustom .dxeBase_MaterialCompactCustom
{
    float: left;
    display: block;
    border-collapse: separate;
    padding: 17px 0px 0px 0px;
    margin-left: 8px;
}
.dxpgFLDefereDB_MaterialCompactCustom
{
    float: right;
    display: block;
    margin: 16px 12px 0 0;
}
.dxpgFLDefereDiv_MaterialCompactCustom .dxbButton_MaterialCompactCustom div.dxb
{
    border: dotted 1px transparent;
}
.dxpgFLDefereDiv_MaterialCompactCustom .dxbButton_MaterialCompactCustom div.dxbf
{
    border: dotted 1px black;
}
.dxpgFLListDiv_MaterialCompactCustom table
{
    width: 100%;
    table-layout: fixed;
    overflow: visible;
}
.dxpgFLListDiv_MaterialCompactCustom table table td
{
    overflow: hidden;
}
/*Loading Panel*/
.dxpgLoadingPanel_MaterialCompactCustom
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxpgLoadingPanel_MaterialCompactCustom td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxpgLoadingPanel_MaterialCompactCustom .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #35B86B;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxpgLoadingPanel_MaterialCompactCustom .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
.dxpgVScrollBarAreaCell_MaterialCompactCustom
{
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.dxpgHScrollBarAreaCell_MaterialCompactCustom
{
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
.dxpgScrollBarEdgeCell_MaterialCompactCustom
{
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}
/*Ripple*/
.dxpgControl_MaterialCompactCustom .dxpgRowArea_MaterialCompactCustom .dxpgHeaderTable_MaterialCompactCustom::before,
.dxpgControl_MaterialCompactCustom .dxpgArea_MaterialCompactCustom .dxpgHeaderTable_MaterialCompactCustom::before,
.dxpgControl_MaterialCompactCustom .dxpgCustomizationFieldsContent_MaterialCompactCustom .dxpgHeaderTable_MaterialCompactCustom::before
{
    content: "dxRippleTarget";
    display: none;
}
.dxPivotGrid_pgGroupSeparator_MaterialCompactCustom
{
    width: 8px !important;
}
