.dxRichEdit_CenterTabDragHandle_Office2010Blue,
.dxRichEdit_DecimalTabDragHandle_Office2010Blue,
.dxRichEdit_FirstLineIdentDragHandle_Office2010Blue,
.dxRichEdit_LeftIdentDragHandle_Office2010Blue,
.dxRichEdit_LeftTabDragHandle_Office2010Blue,
.dxRichEdit_RightIdentDragHandle_Office2010Blue,
.dxRichEdit_RightTabDragHandle_Office2010Blue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxRichEdit_CenterTabDragHandle_Office2010Blue
{
    background-position: 0px -34px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_DecimalTabDragHandle_Office2010Blue
{
    background-position: 0px -27px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_FirstLineIdentDragHandle_Office2010Blue
{
    background-position: 0px -9px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftIdentDragHandle_Office2010Blue
{
    background-position: 0px -18px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftTabDragHandle_Office2010Blue
{
    background-position: 0px -48px;
    width: 6px;
    height: 6px;
}
.dxRichEdit_RightIdentDragHandle_Office2010Blue
{
    background-position: 0px 0px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_RightTabDragHandle_Office2010Blue
{
    background-position: 0px -41px;
    width: 6px;
    height: 6px;
}

