/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_Office365
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.dxheLoadingPanel_Office365
{
    background-color: white;
    font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #666;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxheLoadingPanel_Office365 td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxheLoadingPanel_Office365 .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #009688;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxheLoadingPanel_Office365 .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
.dxheDesignViewArea_Office365 .dx-base64img-wrapper:after
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #009688;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxheDesignViewArea_Office365 .dx-base64img-wrapper:after
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
.dxheDesignViewArea_Office365 .dx-base64img-wrapper:after
{
    margin: -16px 0px 0px -16px;
}
.dxheControl_Office365
{
    font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    border: 1px solid #E5E5E5;
}
/* Area */
.dxheErrorFrame_Office365
{
    font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #D00707;
    background-color: #FBC7C7;
    margin-bottom: 6px;
}
.dxheControl_Office365 .dxeMemo_Office365 .dxheErrorFrame_Office365 .dxhe,
.dxheControl_Office365.dxhe-rtl .dxeMemo_Office365 .dxheErrorFrame_Office365 .dxhe,
.dxheErrorFrame_Office365 .dxhe
{
    padding: 5px;
}
.dxheControl_Office365 .dxeMemo_Office365 .dxheErrorFrame_Office365 .dxhe td,
.dxheControl_Office365.dxhe-rtl .dxeMemo_Office365 .dxheErrorFrame_Office365 .dxhe td,
.dxheErrorFrame_Office365 .dxhe td
{
    padding: 0;
}
.dxheErrorFrame_Office365 .dxheErrorFrameCloseButton_Office365
{
    cursor: pointer;
}
.dxheContentArea_Office365 td.dxheViewArea_Office365
{
    line-height: 0;
}
.dxheContentArea_Office365 td.dxheViewArea_Office365.dxheHtmlViewArea_Office365
{
    line-height: inherit;
}
.dxheDesignViewArea_Office365,
.dxhePreviewArea_Office365
{
    background: none #FFFFFF;
}
.dxheControl_Office365 .dxheHtmlViewArea_Office365,
body.dxheDesignViewArea_Office365,
body.dxhePreviewArea_Office365
{
    margin: 0px;
    background: none #FFFFFF;
    border: 0;
    font-size: smaller;
    font: 12px Arial, Helvetica, sans-serif;
}
.dxheControl_Office365 .dxeMemo_Office365.dxheHtmlViewArea_Office365 .dxeMemoEditArea_Office365,
body.dxheDesignViewArea_Office365,
body.dxhePreviewArea_Office365
{
    padding: 15px 20px 0 20px;
}
.dxheControl_Office365 .dxeMemo_Office365.dxheHtmlViewArea_Office365 td
{
    padding: 0 40px 0 0;
}
.dxheControl_Office365.dxhe-rtl .dxheContentArea_Office365 .dxeMemo_Office365.dxheHtmlViewArea_Office365 td
{
    padding: 0 0 0 40px;
}
.dxheControl_Office365 .dxeMemo_Office365 textarea
{
    resize: none;
}
.dxheControl_Office365 td.dxheDesignViewArea_Office365 .dxm-main.dxmtb
{
    border: 1px solid #C3C3C3;
    background: #ffffff;
}
.dxheControl_Office365 td.dxheDesignViewArea_Office365
{
    position: relative;
}
.dxheViewArea_Office365 .dxhe-tiControlsWrapper span.dxhe-tiTagName
{
    padding-right: 18px;
}
.dxheViewArea_Office365 .dxhe-tiControlsWrapper .dxbButton_Office365
{
    min-width: 16px;
    width: auto !important;
}
.dxheViewArea_Office365 .dxhe-tiControlsWrapper .dxbButton_Office365.dxhe-tiDeleteButton
{
    margin-right: 1px;
}
td.dxheDesignViewArea_Office365 .dxmLite_Office365
{
    position: absolute;
    right: 0;
    padding-right: 24px;
}
td.dxheDesignViewArea_Office365 .dxmLite_Office365.dxm-rtl
{
    right: inherit;
    padding-right: 0px;
    padding-left: 5px;
}
.dxheViewArea_Office365 .dxheAudio
{
    background-image: url('dxheAudio.svg');
}
.dxheViewArea_Office365 .dxheFlash
{
    background-image: url('dxheFlash.svg');
}
.dxheViewArea_Office365 .dxheVideo
{
    background-image: url('dxheVideo.svg');
}
.dxheViewArea_Office365 .dxheYoutube
{
    background-image: url('dxheYoutube.svg');
}
.dxheViewArea_Office365 img.dxheNotSupported
{
    background-image: url('dxheNotSupported.svg');
}
.dxheViewArea_Office365 img.dxheAudio,
.dxheViewArea_Office365 img.dxheFlash,
.dxheViewArea_Office365 img.dxheVideo,
.dxheViewArea_Office365 img.dxheYoutube,
.dxheViewArea_Office365 img.dxheNotSupported
{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cfcfcf;
    border: 1px dotted #FFFFFF;
    opacity: 0.8;
}
.dxheViewArea_Office365 .dxhe-tiControlsWrapper
{
    background-color: #009688;
    padding: 3px 4px 2px 10px;
    border: none;
}
.dxheViewArea_Office365 .dxhePlaceholder
{
    cursor: default;
    white-space: nowrap;
}
.dxheViewArea_Office365.dxheDesignViewArea_Office365 .dxheSelected
{
    background-color: #E0E0E0;
}
.dxhe-insertPlaceholder .dxeListBox_Office365.dxeFocused_Office365
{
    border: 1px solid #C0C0C0;
}
.dxhe-insertPlaceholder .dxflGroup_Office365,
.dxpc-contentWrapper .dxflFormLayout_Office365.dxhe-insertPlaceholder .dxflGroup_Office365 .dxflGroupBox_Office365 .dxflListBoxItemSys
{
    padding-top: 0;
}
.dxhe-insertPlaceholder .dxflGroup_Office365 .dxhe-dialogLI.dxhe-dialogButtonsContainer
{
    padding-top: 10px;
}
.dxhe-insertPlaceholder .dxeListBox_Office365,
.dxhe-insertPlaceholder .dxeListBox_Office365 .dxlbd
{
    width: 220px;
    height: 215px;
}
/* CodeMirror */
.dxheHtmlViewArea_Office365 .CodeMirror-activeline-background
{
    background: #e0e0e0;
    opacity: 0.7;
}
.dxheHtmlViewArea_Office365 .CodeMirror-foldgutter-open::after
{
    content: url('heFoldGutterOpen.svg');
}
.dxheHtmlViewArea_Office365 .CodeMirror-foldgutter-folded::after
{
    content: url('heFoldGutterFolded.svg');
}
.dxheHtmlViewArea_Office365 .CodeMirror-foldmarker::after
{
    content: url('dxheFoldMarker.png');
    background-size: 16px 10px;
}
.dxheSourceEditorSys.dxheHtmlViewArea_Office365 .CodeMirror-gutter.CodeMirror-linenumbers,
.dxheHtmlViewArea_Office365 .CodeMirror-gutter.CodeMirror-linenumbers
{
    border-left: 0;
    border-right: 0;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_Office365 table.dxEmptyBorderTable,
body.dxheDesignViewArea_Office365 table.dxEmptyBorderTable td
{
    border: 1px dotted gray;
}
@media print
{
    body.dxheDesignViewArea_Office365 table.dxEmptyBorderTable,
    body.dxheDesignViewArea_Office365 table.dxEmptyBorderTable td
    {
        border: 0px;
    }
}
body.dxheDesignViewArea_Office365
{
    word-wrap: inherit;
}
body.dxheDesignViewArea_Office365 pre
{
    word-wrap: break-word;
    white-space: pre-wrap;
}
/* Status Bar */
.dxheStatusBar_Office365
{
    background-color: #f1f1f1;
}
.dxheControl_Office365 .dxheStatusBar_Office365 .dxheStatusBarTab_Office365 .dxtc-link
{
    padding: 0.71em 1.7em 0.79em 1.7em;
}
.dxHtmlEditor_heSizeGrip_Office365
{
    cursor: se-resize;
    margin: 0 4px 4px 0;
}
.dxHtmlEditor_heSizeGripRtl_Office365
{
    cursor: ne-resize;
    margin: 0 0 4px 4px;
}
.dxheSizeGripContainer_Office365
{
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -18px;
}
.dxheControl_Office365.dxhe-rtl .dxheSizeGripContainer_Office365
{
    text-align: left;
}
.dxheStatusBar_Office365 .dxtcLite_Office365.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab
{
    border-top: none;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    background-color: #FFFFFF;
}
.dxheStatusBar_Office365 .dxtcLite_Office365.dxtc-bottom > .dxtc-stripContainer .dxtc-leftIndent
{
    width: 0px !important;
}
.dxheStatusBar_Office365 .dxtcLite_Office365.dxtc-bottom > .dxtc-stripContainer
{
    padding-bottom: 0px;
}
.dxheStatusBar_Office365 .dxtcLite_Office365 > .dxtc-stripContainer .dxtc-activeTab,
.dxheStatusBar_Office365 .dxtcLite_Office365 > .dxtc-stripContainer .dxtc-activeTab a
{
    color: #009688;
}
.dxheStatusBar_Office365 .dxtcLite_Office365 > .dxtc-stripContainer .dxtc-tab a
{
    color: #666;
}
.dxheStatusBar_Office365 .dxtcLite_Office365
{
    margin-left: -1px;
}
.dxheControl_Office365.dxhe-rtl .dxheStatusBar_Office365 .dxtcLite_Office365
{
    margin-right: -1px;
}
.dxheControl_Office365 .dxrControl_Office365 .dxtcLite_Office365.dxtc-top .dxtc-tab
{
    background: transparent;
}
/* ----------------- Dialog Forms ----------------- */
.dxpcLite_Office365 .dxheDlgFooter,
.dxpcLite_Office365 .dxheCustomDialog_Office365 .dxhecd-Buttons
{
    background-color: white;
    border-top: Solid 1px #E0E0E0;
    padding: 10px 11px;
    text-align: right;
}
.dxpcLite_Office365.dxRtl .dxheDlgFooter,
.dxpcLite_Office365.dxRtl .dxheCustomDialog_Office365 .dxhecd-Buttons
{
    text-align: left;
}
.dxpcLite_Office365 .dxheDlgFooterBtn
{
    margin-left: 8px;
}
.dxpcLite_Office365.dxRtl .dxheDlgFooterBtn
{
    margin-right: 8px;
    margin-left: 0;
}
.dxhe-dialogLoadingPanel.dxlpLoadingPanel_Office365
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Insert Image Form */
.dxpcLite_Office365 .dxheDlgInsertImageForm .dxheDlgImagePreviewCell,
.dxpcLite_Office365 .dxheDlgSelectImageForm .dxheDlgImagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
}
.dxpcLite_Office365 .dxheDlgPasteFromWordForm .dxheDlgPasteContainerCell td
{
    border: Solid 1px #9F9F9F;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_Office365
{
    height: 2px;
}
.dxtbControl_Office365
{
    color: #666;
    width: 100%;
    border-bottom: Solid 1px #E5E5E5;
    background-color: #f1f1f1;
    padding-bottom: 2px;
}
.dxtbControl_Office365 td.dxmMenu_Office365
{
    border-width: 0px;
}
.dxtbControl_Office365 .dxmLite_Office365 .dxm-main.dxmtb
{
    padding-top: 2px;
}
.dxtbControl_Office365 .dxmLite_Office365 .dxm-main
{
    background-color: #f1f1f1;
}
.dxtbControl_Office365 .dxmLite_Office365 .dxmtb.dxm-horizontal .dxm-separator b
{
    background-color: #dfdfdf;
}
.dxtbComboBoxMenuItem_Office365
{
    padding-top: 2px;
}
.dxheControl_Office365 .dxrControl_Office365 .dxr-minBtn
{
    padding-right: 8px;
}
.dxheControl_Office365 .dxtbControl_Office365.dxtbr_Office365,
.dxheControl_Office365 .dxrControl_Office365 .dxpc-mainDiv.dxr-minPopup
{
    border: 0;
}
/* Toolbars Lightweight Mode */
.dxtbControl_Office365 .dxmLite_Office365 .dxm-main
{
    border-width: 0px;
}
.dxmLite_Office365 .dxhetipControl_Office365 img
{
    vertical-align: top;
}
.dxtbControl_Office365 .dxm-horizontal.dxmtb .dxm-dropDownMode .dxtcbColorDiv_Office365
{
    margin-top: -1px;
    margin-bottom: -2px;
}
/* ToolbarColorButton */
.dxtcbColorDiv_Office365
{
    width: 16px;
    height: 3px;
    font-size: 0;
    background-color: Transparent;
}
/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_Office365 .dxrpcontent_Office365
{
    padding: 9px 10px 10px 10px !important;
}
/* InsertMediaDialogs */
.dxflFormLayout_Office365 .dxhe-dialogSettings
{
    width: 320px;
    padding-left: 0;
}
.dxflFormLayout_Office365.dxhe-mediaDialog .dxtcLite_Office365 > .dxtc-stripContainer .dxtc-leftIndent,
.dxflFormLayout_Office365.dxhe-mediaDialog .dxtcLite_Office365 > .dxtc-stripContainer .dxtc-rightIndent
{
    width: 0px;
}
.dxflFormLayout_Office365.dxhe-mediaDialog .dxtcLite_Office365.dxtc-top > .dxtc-content
{
    border-left: 1px solid rgba(0,0,0,0.08) !important;
    border-right: 1px solid rgba(0,0,0,0.08) !important;
    border-bottom: 1px solid rgba(0,0,0,0.08) !important;
    border-top: 1px solid rgba(0,0,0,0.08) !important;
    border-top-style: solid !important;
    margin-top: -1px;
}
.dxflFormLayout_Office365.dxhe-mediaDialog .dxic-previewPanel.dxrpControl_Office365
{
    background: #FFFFFF;
    border: 1px dashed #A3A3A3;
}
.dxflFormLayout_Office365.dxhe-mediaDialog .dxic-previewPanel.dxrpControl_Office365 .dxic-previewText
{
    font-size: 1.65em;
}
.dxflFormLayout_Office365.dxhe-mediaDialog .dxic-previewPanel.dxrpControl_Office365 span.dxic-validationTip
{
    margin-bottom: 5px;
}
.dxflFormLayout_Office365.dxhe-mediaDialog
{
    width: 900px;
}
.dxpcLite_Office365.dx-dialog.dxhe-dialog-media-popup
{
    max-width: 950px;
}
.dxflFormLayout_Office365.dxhe-mediaDialog .dxic-control,
.dxflFormLayout_Office365.dxhe-mediaDialog .dxhe-dialogSettings
{
    height: 491px;
}
div.dxflFormLayout_Office365.dxhe-dialog table.dxhe-dialogLG
{
    padding-left: 16px;
    padding-right: 16px;
}
div.dxhe-insertLinkDialog.dxflFormLayout_Office365 div.dxhe-dialog div.dxhe-dialogLI.dxhe-dialogButtonsContainer
{
    margin-left: -4px;
}
div.dxhe-insertLinkDialog.dxflFormLayout_Office365.dxhe-dialog .dxflRadioButtonListItemSys td.dxe
{
    padding-bottom: 10px;
}
div.dxflFormLayout_Office365.dxhe-dialog > table.dxhe-dialogLG.dxflGroupSys,
div.dxflFormLayout_Office365.dxhe-dialog .dxhe-dialogButtonsContainer
{
    padding-bottom: 12px;
    padding-top: 10px;
}
.dxhe-dialog .dxhe-dialogButtonsContainer td:last-child .dxbButton_Office365
{
    margin-left: 12px;
    margin-right: 5px;
}
div.dxhe-insertImageDialog.dxflFormLayout_Office365 .dxhe-dialogLI.dxhe-dialogButtonsContainer
{
    margin-top: 0;
}
.dxhe-insertImageDialog.dxflFormLayout_Office365.dxhe-dialog > table.dxhe-dialogLG.dxflGroupSys
{
    padding: 12px;
}
.dxhe-insertLinkDialog.dxflFormLayout_Office365.dxhe-dialog > table.dxhe-dialogLG.dxflGroupSys
{
    padding: 13px 18px 12px 18px;
}
div.dxhe-insertLinkDialog.dxflFormLayout_Office365.dxhe-dialog table.dxhe-dialogLG
{
    padding-right: 0px;
    padding-left: 5px;
}
.dxflFormLayout_Office365.dxhe-dialog a.dxtc-link
{
    padding: 4px 10px;
}
div.dxflFormLayout_Office365.dxhe-mediaDialogStyleSettings > table.dxhe-dialogLG.dxflGroupSys,
div.dxflFormLayout_Office365.dxhe-mediaDialogMainSettings > table.dxhe-dialogLG.dxflGroupSys
{
    padding: 16px 16px 0 16px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_Office365,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Office365
{
    margin-left: 4px;
}
/* tag inspector */
.dxheDesignViewArea_Office365 .dxhe-tiSelection
{
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #009688;
    background-color: #009688;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0.3;
}
.dxheDesignViewArea_Office365 .dxhe-tiWrapper
{
    border-bottom: 1px solid #E5E5E5;
    background-color: #F1F1F1;
}
.dxheDesignViewArea_Office365 .dxhe-tiSeparator,
.dxheDesignViewArea_Office365 .dxhe-tiTagName
{
    color: #757575;
}
.dxheDesignViewArea_Office365 .dxheSelectedTag_Office365
{
    color: #FFFFFF;
}
.dxhe-intelliSenseSysWin .dxeListBox_Office365.dxeFocused_Office365
{
    border-color: #c0c0c0;
}
div.dxhe-searchQuick div.dxbButton_Office365,
div.dxhe-searchQuick div.dxbButton_Office365 .dxb
{
    background: none !important;
    border: none !important;
}
.dxpcLite_Office365.dxhe-quickSearchSysWin .dxhe-flItem0
{
    padding-left: 2px !important;
}
div.dxhe-searchQuick .dxbButton_Office365.dxbTSys
{
    width: initial !important;
}
div.dxhe-searchQuick .dxbButton_Office365
{
    background-color: transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.dxheViewArea_Office365
{
    border-bottom: 1px solid #DCDCDC;
}
td.dxheStatusBar_Office365 div.dxtcLite_Office365.dxtcSys > .dxtc-stripContainer > li
{
    border-top: 1px solid #DCDCDC;
}
.dxhe-dialogWrapperPanel .dxucBrowseButton_Office365
{
    padding: 6px 18px 7px;
}
.dxflFormLayout_Office365.dxhe-insertTableDialog
{
    width: 511px;
}
div.dxflFormLayout_Office365.dxhe-dialog:not(.dxhe-mediaDialogMainSettings):not(.dxhe-mediaDialogStyleSettings) > table.dxflGroup_Office365.dxhe-dialogLG.dxflGroupSys
{
    padding-top: 0px;
}
.dxhe-dialog .dxflGroupBoxCaption_Office365.dxhe-dialogLGBC
{
    left: 12px;
}
.dxpcLite_Office365.dx-dialog > .dxhe-dialog-popup > .dxpc-header
{
    padding: 12px 10px 12px 16px;
}
.dxhe-dialog .dxflGroupBox_Office365.dxhe-dialogLGB
{
    margin: 16px 0px;
}
.dxhe-dialog.dxhe-insertTableDialog .dxhe-dialogButtonsContainer td:last-child .dxbButton_Office365
{
    margin-right: 12px;
}
div.dxflFormLayout_Office365.dxhe-dialog.dxhe-insertTableDialog .dxhe-dialogLGB > table.dxhe-dialogLG
{
    padding-left: 12px;
    padding-right: 12px;
}
.dxpcLite_Office365.dx-dialog.dxhe-dialog-tables-popup
{
    max-width: 700px;
}
.dxpcLite_Office365.dx-dialog.dxhe-dialog-placeholder-popup,
.dxpcLite_Office365.dx-dialog.dxhe-dialog-rowproperties-popup,
.dxpcLite_Office365.dx-dialog.dxhe-dialog-cellproperties-popup,
.dxpcLite_Office365.dx-dialog.dxhe-dialog-columnproperties-popup
{
    max-width: 500px;
}
.dxpcLite_Office365 .dxhe-searchPopup .dxhe-searchAdvanced .dxhe-searchdialogLG
{
    padding: 6px;
}
.dxheStatusBar_Office365 .dxtcLite_Office365.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab .dxtc-link
{
    padding: calc(0.71em + 1px) 1.6em 0.7em;
}
.dxhe-mediaDialog .dxtcLite_Office365.dxtc-top > .dxtc-stripContainer .dxtc-tab,
.dxhe-mediaDialog .dxtcLite_Office365.dxtc-top > .dxtc-stripContainer .dxtc-spacer,
.dxhe-mediaDialog .dxtcLite_Office365.dxtc-top > .dxtc-stripContainer .dxtc-sbWrapper,
.dxhe-mediaDialog .dxtcLite_Office365.dxtc-top > .dxtc-stripContainer .dxtc-sbIndent,
.dxhe-mediaDialog .dxtcLite_Office365.dxtc-top > .dxtc-stripContainer .dxtc-sbSpacer
{
    border-color: rgba(0,0,0,0.08);
}
