<?xml version="1.0" encoding="utf-8" ?>
<parameters>
	<parameter Name="Font" Value="14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif"></parameter>
	<parameter Name="Base Color" Value="#009688" Type="Color"></parameter>
	<parameter Name="Light Color" Value="#90AAA6" Type="Color" Base="Base Color" Expression="0.98,0.15,1.13"></parameter>
	<parameter Name="Dark Color" Value="#009284" Type="Color" Base="Base Color" Expression="1,1.1,0.97"></parameter>
	<parameter Name="Editors Color" Value="#005D54" Type="Color" Base="Base Color" Expression="1,1,0.621"></parameter>
	<parameter Name="Voted Rating" Value="#006A61" Type="Color" Base="Base Color" Expression="1,1,0.71"></parameter>
</parameters>
