.dx-acc-r .dxeListBoxItemSelected_MaterialCustom .dxHtmlEditor_heEnumIcon_MaterialCustom:before,
.dx-acc-r .dxeListBoxItemSelected_MaterialCustom .dxHtmlEditor_heEventIcon_MaterialCustom:before,
.dx-acc-r .dxeListBoxItemSelected_MaterialCustom .dxHtmlEditor_heFieldIcon_MaterialCustom:before,
.dx-acc-r .dxeListBoxItemSelected_MaterialCustom .dxHtmlEditor_heXmlItemIcon_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottom_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottomRtl_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOff_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOffRtl_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOn_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOnRtl_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTop_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTopRtl_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heEnumIcon_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heErrorFrameCloseButton_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heEventIcon_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heFieldIcon_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heReset_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heSizeGrip_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heSizeGripRtl_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heTagInspectorChangeButton_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heTagInspectorRemoveButton_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heTagInspectorSeparator_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heToolbarPopOut_MaterialCustom:before,
.dx-acc-r .dxHtmlEditor_heXmlItemIcon_MaterialCustom:before,
.dx-acc-r .dxm-hovered .dxHtmlEditor_heToolbarPopOut_MaterialCustom:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxeListBoxItemSelected_MaterialCustom .dxHtmlEditor_heEnumIcon_MaterialCustom:before

{
    left: -85px;
    top: 0px;

}
.dx-acc-r .dxeListBoxItemSelected_MaterialCustom .dxHtmlEditor_heEventIcon_MaterialCustom:before

{
    left: -17px;
    top: 0px;

}
.dx-acc-r .dxeListBoxItemSelected_MaterialCustom .dxHtmlEditor_heFieldIcon_MaterialCustom:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxeListBoxItemSelected_MaterialCustom .dxHtmlEditor_heXmlItemIcon_MaterialCustom:before

{
    left: -68px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottom_MaterialCustom:before

{
    left: -290px;
    top: -10px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottomRtl_MaterialCustom:before

{
    left: -272px;
    top: -10px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOff_MaterialCustom:before

{
    left: -217px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOffRtl_MaterialCustom:before

{
    left: -241px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOn_MaterialCustom:before

{
    left: -225px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOnRtl_MaterialCustom:before

{
    left: -233px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTop_MaterialCustom:before

{
    left: -286px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTopRtl_MaterialCustom:before

{
    left: -281px;
    top: -10px;

}
.dx-acc-r .dxHtmlEditor_heEnumIcon_MaterialCustom:before

{
    left: -136px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heErrorFrameCloseButton_MaterialCustom:before

{
    left: -249px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heEventIcon_MaterialCustom:before

{
    left: -51px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heFieldIcon_MaterialCustom:before

{
    left: -102px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heReset_MaterialCustom:before

{
    left: -153px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heSizeGrip_MaterialCustom:before

{
    left: -187px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heSizeGripRtl_MaterialCustom:before

{
    left: -202px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heTagInspectorChangeButton_MaterialCustom:before

{
    left: -34px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heTagInspectorRemoveButton_MaterialCustom:before

{
    left: -170px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heTagInspectorSeparator_MaterialCustom:before

{
    left: -280px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heToolbarPopOut_MaterialCustom:before

{
    left: -260px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heXmlItemIcon_MaterialCustom:before

{
    left: -119px;
    top: 0px;

}
.dx-acc-r .dxm-hovered .dxHtmlEditor_heToolbarPopOut_MaterialCustom:before

{
    left: -270px;
    top: 0px;

}

