.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igCloseButton_Office2010Silver,
.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igPauseButton_Office2010Silver,
.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igPlayButton_Office2010Silver,
.dxm-disabled .dxWeb_mHorizontalPopOut_Office2010Silver,
.dxm-disabled .dxWeb_mVerticalPopOut_Office2010Silver,
.dxm-disabled .dxWeb_mVerticalPopOutRtl_Office2010Silver,
.dxmLite_Office2010Silver .dxm-left .dxm-back-icon,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office2010Silver,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office2010Silver,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Office2010Silver,
.dxpnl-btnHover .dxWeb_pnlExpand_Office2010Silver,
.dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_Office2010Silver,
.dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_Office2010Silver,
.dxpnl-btnHover .dxWeb_pnlExpandArrowRight_Office2010Silver,
.dxpnl-btnHover .dxWeb_pnlExpandArrowTop_Office2010Silver,
.dxpnl-btnPressed .dxWeb_pnlExpand_Office2010Silver,
.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_Office2010Silver,
.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_Office2010Silver,
.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_Office2010Silver,
.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_Office2010Silver,
.dxpnl-btnSelected .dxWeb_pnlExpand_Office2010Silver,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_Office2010Silver,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_Office2010Silver,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_Office2010Silver,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_Office2010Silver,
.dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpand_Office2010Silver,
.dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_Office2010Silver,
.dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_Office2010Silver,
.dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowRight_Office2010Silver,
.dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowTop_Office2010Silver,
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpand_Office2010Silver,
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_Office2010Silver,
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_Office2010Silver,
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_Office2010Silver,
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_Office2010Silver,
.dxrpCollapsed .dxWeb_rpCollapseButton_Office2010Silver,
.dxWeb_edtCheckBoxChecked_Office2010Silver,
.dxWeb_edtCheckBoxCheckedDisabled_Office2010Silver,
.dxWeb_edtCheckBoxGrayed_Office2010Silver,
.dxWeb_edtCheckBoxGrayedDisabled_Office2010Silver,
.dxWeb_edtCheckBoxUnchecked_Office2010Silver,
.dxWeb_edtCheckBoxUncheckedDisabled_Office2010Silver,
.dxWeb_fmBreadCrumbsSeparatorArrow_Office2010Silver,
.dxWeb_fmBreadCrumbsUpButton_Office2010Silver,
.dxWeb_fmBreadCrumbsUpButtonDisabled_Office2010Silver,
.dxWeb_fmCopyButton_Office2010Silver,
.dxWeb_fmCopyButtonDisabled_Office2010Silver,
.dxWeb_fmCreateButton_Office2010Silver,
.dxWeb_fmCreateButtonDisabled_Office2010Silver,
.dxWeb_fmDeleteButton_Office2010Silver,
.dxWeb_fmDeleteButtonDisabled_Office2010Silver,
.dxWeb_fmDwnlButton_Office2010Silver,
.dxWeb_fmDwnlButtonDisabled_Office2010Silver,
.dxWeb_fmExpandFolderContBtn_Office2010Silver,
.dxWeb_fmFolder_Office2010Silver,
.dxWeb_fmFolderLocked_Office2010Silver,
.dxWeb_fmMoveButton_Office2010Silver,
.dxWeb_fmMoveButtonDisabled_Office2010Silver,
.dxWeb_fmRefreshButton_Office2010Silver,
.dxWeb_fmRefreshButtonDisabled_Office2010Silver,
.dxWeb_fmRenameButton_Office2010Silver,
.dxWeb_fmRenameButtonDisabled_Office2010Silver,
.dxWeb_fmThumbnailCheck_Office2010Silver,
.dxWeb_fmUplButton_Office2010Silver,
.dxWeb_fmUplButtonDisabled_Office2010Silver,
.dxWeb_igCloseButton_Office2010Silver,
.dxWeb_igNavigationBarMarker_Office2010Silver,
.dxWeb_igNextButton_Office2010Silver,
.dxWeb_igNextButtonDisabled_Office2010Silver,
.dxWeb_igNextButtonHover_Office2010Silver,
.dxWeb_igNextButtonPressed_Office2010Silver,
.dxWeb_igPauseButton_Office2010Silver,
.dxWeb_igPlayButton_Office2010Silver,
.dxWeb_igPrevButton_Office2010Silver,
.dxWeb_igPrevButtonDisabled_Office2010Silver,
.dxWeb_igPrevButtonHover_Office2010Silver,
.dxWeb_igPrevButtonPressed_Office2010Silver,
.dxWeb_isDot_Office2010Silver,
.dxWeb_isDotDisabled_Office2010Silver,
.dxWeb_isDotPressed_Office2010Silver,
.dxWeb_isDotSelected_Office2010Silver,
.dxWeb_isNextBtnHor_Office2010Silver,
.dxWeb_isNextBtnHorDisabled_Office2010Silver,
.dxWeb_isNextBtnVert_Office2010Silver,
.dxWeb_isNextBtnVertDisabled_Office2010Silver,
.dxWeb_isNextPageBtnHor_Office2010Silver,
.dxWeb_isNextPageBtnHorDisabled_Office2010Silver,
.dxWeb_isNextPageBtnHorOutside_Office2010Silver,
.dxWeb_isNextPageBtnHorOutsideDisabled_Office2010Silver,
.dxWeb_isNextPageBtnVert_Office2010Silver,
.dxWeb_isNextPageBtnVertDisabled_Office2010Silver,
.dxWeb_isNextPageBtnVertOutside_Office2010Silver,
.dxWeb_isNextPageBtnVertOutsideDisabled_Office2010Silver,
.dxWeb_isPauseBtn_Office2010Silver,
.dxWeb_isPlayBtn_Office2010Silver,
.dxWeb_isPrevBtnHor_Office2010Silver,
.dxWeb_isPrevBtnHorDisabled_Office2010Silver,
.dxWeb_isPrevBtnVert_Office2010Silver,
.dxWeb_isPrevBtnVertDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnHor_Office2010Silver,
.dxWeb_isPrevPageBtnHorDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnHorOutside_Office2010Silver,
.dxWeb_isPrevPageBtnHorOutsideDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnVert_Office2010Silver,
.dxWeb_isPrevPageBtnVertDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnVertOutside_Office2010Silver,
.dxWeb_isPrevPageBtnVertOutsideDisabled_Office2010Silver,
.dxWeb_izEWCloseButton_Office2010Silver,
.dxWeb_izHint_Office2010Silver,
.dxWeb_mAdaptiveMenu_Office2010Silver,
.dxWeb_mHorizontalPopOut_Office2010Silver,
.dxWeb_mScrollDown_Office2010Silver,
.dxWeb_mScrollUp_Office2010Silver,
.dxWeb_mSubMenuItem_Office2010Silver,
.dxWeb_mSubMenuItemChecked_Office2010Silver,
.dxWeb_mVerticalPopOut_Office2010Silver,
.dxWeb_mVerticalPopOutRtl_Office2010Silver,
.dxWeb_nbCollapse_Office2010Silver,
.dxWeb_nbExpand_Office2010Silver,
.dxWeb_ncBackToTop_Office2010Silver,
.dxWeb_pAll_Office2010Silver,
.dxWeb_pAllDisabled_Office2010Silver,
.dxWeb_pcCloseButton_Office2010Silver,
.dxWeb_pcCollapseButton_Office2010Silver,
.dxWeb_pcMaximizeButton_Office2010Silver,
.dxWeb_pcPinButton_Office2010Silver,
.dxWeb_pcRefreshButton_Office2010Silver,
.dxWeb_pcSizeGrip_Office2010Silver,
.dxWeb_pcSizeGripRtl_Office2010Silver,
.dxWeb_pFirst_Office2010Silver,
.dxWeb_pFirstDisabled_Office2010Silver,
.dxWeb_pLast_Office2010Silver,
.dxWeb_pLastDisabled_Office2010Silver,
.dxWeb_pNext_Office2010Silver,
.dxWeb_pNextDisabled_Office2010Silver,
.dxWeb_pnlExpand_Office2010Silver,
.dxWeb_pnlExpandArrowBottom_Office2010Silver,
.dxWeb_pnlExpandArrowLeft_Office2010Silver,
.dxWeb_pnlExpandArrowRight_Office2010Silver,
.dxWeb_pnlExpandArrowTop_Office2010Silver,
.dxWeb_pPopOut_Office2010Silver,
.dxWeb_pPopOutDisabled_Office2010Silver,
.dxWeb_pPrev_Office2010Silver,
.dxWeb_pPrevDisabled_Office2010Silver,
.dxWeb_rDialogBoxLauncher_Office2010Silver,
.dxWeb_rDialogBoxLauncherDisabled_Office2010Silver,
.dxWeb_rDialogBoxLauncherHover_Office2010Silver,
.dxWeb_rDialogBoxLauncherPressed_Office2010Silver,
.dxWeb_rGlrDown_Office2010Silver,
.dxWeb_rGlrDownDisabled_Office2010Silver,
.dxWeb_rGlrPopOut_Office2010Silver,
.dxWeb_rGlrPopOutDisabled_Office2010Silver,
.dxWeb_rGlrUp_Office2010Silver,
.dxWeb_rGlrUpDisabled_Office2010Silver,
.dxWeb_rMinBtn_Office2010Silver,
.dxWeb_rMinBtn_Office2010Silver.dxWeb_rMinBtnHover_Office2010Silver,
.dxWeb_rMinBtn_Office2010Silver.dxWeb_rMinBtnPressed_Office2010Silver,
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtn_Office2010Silver,
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtnDisabled_Office2010Silver,
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtnHover_Office2010Silver,
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtnPressed_Office2010Silver,
.dxWeb_rMinBtnDisabled_Office2010Silver,
.dxWeb_rpCollapseButton_Office2010Silver,
.dxWeb_rPinBtn_Office2010Silver,
.dxWeb_rPopOut_Office2010Silver,
.dxWeb_smBullet_Office2010Silver,
.dxWeb_splHCollapseBackwardButton_Office2010Silver,
.dxWeb_splHCollapseBackwardButtonHover_Office2010Silver,
.dxWeb_splHCollapseForwardButton_Office2010Silver,
.dxWeb_splHCollapseForwardButtonHover_Office2010Silver,
.dxWeb_splHSeparator_Office2010Silver,
.dxWeb_splHSeparatorHover_Office2010Silver,
.dxWeb_splVCollapseBackwardButton_Office2010Silver,
.dxWeb_splVCollapseBackwardButtonHover_Office2010Silver,
.dxWeb_splVCollapseForwardButton_Office2010Silver,
.dxWeb_splVCollapseForwardButtonHover_Office2010Silver,
.dxWeb_splVSeparator_Office2010Silver,
.dxWeb_splVSeparatorHover_Office2010Silver,
.dxWeb_tcScrollLeft_Office2010Silver,
.dxWeb_tcScrollLeftDisabled_Office2010Silver,
.dxWeb_tcScrollLeftHover_Office2010Silver,
.dxWeb_tcScrollLeftPressed_Office2010Silver,
.dxWeb_tcScrollRight_Office2010Silver,
.dxWeb_tcScrollRightDisabled_Office2010Silver,
.dxWeb_tcScrollRightHover_Office2010Silver,
.dxWeb_tcScrollRightPressed_Office2010Silver,
.dxWeb_tiBackToTop_Office2010Silver,
.dxWeb_tvColBtn_Office2010Silver,
.dxWeb_tvColBtnRtl_Office2010Silver,
.dxWeb_tvExpBtn_Office2010Silver,
.dxWeb_tvExpBtnRtl_Office2010Silver,
.dxWeb_ucClearButton_Office2010Silver,
.dxWeb_ucClearButtonDisabled_Office2010Silver
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igCloseButton_Office2010Silver
{
    background-position: -89px -420px;
    width: 23px;
    height: 23px;
}
.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igPauseButton_Office2010Silver
{
    background-position: -48px -394px;
    width: 21px;
    height: 25px;
}
.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igPlayButton_Office2010Silver
{
    background-position: -26px -394px;
    width: 21px;
    height: 25px;
}
.dxm-disabled .dxWeb_mHorizontalPopOut_Office2010Silver
{
    background-position: -72px -560px;
    width: 7px;
    height: 4px;
}
.dxm-disabled .dxWeb_mVerticalPopOut_Office2010Silver
{
    background-position: -92px -174px;
    width: 4px;
    height: 7px;
}
.dxm-disabled .dxWeb_mVerticalPopOutRtl_Office2010Silver
{
    background-position: -125px -164px;
    width: 4px;
    height: 7px;
}
.dxmLite_Office2010Silver .dxm-left .dxm-back-icon
{
    background-position: -102px -565px;
    width: 13px;
    height: 13px;
}
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office2010Silver
{
    background-position: 0px -648px;
    width: 15px;
    height: 15px;
}
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office2010Silver
{
    background-position: -16px -648px;
    width: 15px;
    height: 15px;
}
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Office2010Silver
{
    background-position: -96px -648px;
    width: 15px;
    height: 15px;
}
.dxpnl-btnHover .dxWeb_pnlExpand_Office2010Silver
{
    background-position: -52px -290px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_Office2010Silver
{
    background-position: -26px -264px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_Office2010Silver
{
    background-position: -26px -368px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnHover .dxWeb_pnlExpandArrowRight_Office2010Silver
{
    background-position: -78px -368px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnHover .dxWeb_pnlExpandArrowTop_Office2010Silver
{
    background-position: -104px -264px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnPressed .dxWeb_pnlExpand_Office2010Silver
{
    background-position: -92px -198px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_Office2010Silver
{
    background-position: 0px -342px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_Office2010Silver
{
    background-position: -104px -342px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_Office2010Silver
{
    background-position: 0px -290px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_Office2010Silver
{
    background-position: -78px -290px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected .dxWeb_pnlExpand_Office2010Silver
{
    background-position: -104px -290px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_Office2010Silver
{
    background-position: -26px -316px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_Office2010Silver
{
    background-position: -78px -342px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_Office2010Silver
{
    background-position: -52px -342px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_Office2010Silver
{
    background-position: -104px -368px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpand_Office2010Silver
{
    background-position: -26px -290px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowBottom_Office2010Silver
{
    background-position: 0px -316px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowLeft_Office2010Silver
{
    background-position: -78px -264px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowRight_Office2010Silver
{
    background-position: 0px -394px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected.dxpnl-btnHover .dxWeb_pnlExpandArrowTop_Office2010Silver
{
    background-position: -52px -316px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpand_Office2010Silver
{
    background-position: 0px -368px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_Office2010Silver
{
    background-position: -105px -172px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_Office2010Silver
{
    background-position: -92px -132px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_Office2010Silver
{
    background-position: -52px -264px;
    width: 25px;
    height: 25px;
}
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_Office2010Silver
{
    background-position: -105px -238px;
    width: 25px;
    height: 25px;
}
.dxrpCollapsed .dxWeb_rpCollapseButton_Office2010Silver
{
    background-position: -46px -664px;
    width: 13px;
    height: 15px;
}
.dxWeb_edtCheckBoxChecked_Office2010Silver
{
    background-position: 0px -664px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxCheckedDisabled_Office2010Silver
{
    background-position: -34px -631px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayed_Office2010Silver
{
    background-position: -32px -648px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayedDisabled_Office2010Silver
{
    background-position: -50px -631px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUnchecked_Office2010Silver
{
    background-position: -16px -664px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_Office2010Silver
{
    background-position: -98px -631px;
    width: 15px;
    height: 15px;
}
.dxWeb_fmBreadCrumbsSeparatorArrow_Office2010Silver
{
    background-position: -125px -132px;
    width: 5px;
    height: 7px;
}
.dxWeb_fmBreadCrumbsUpButton_Office2010Silver
{
    background-position: -68px -614px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmBreadCrumbsUpButtonDisabled_Office2010Silver
{
    background-position: -51px -580px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButton_Office2010Silver
{
    background-position: 0px -597px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButtonDisabled_Office2010Silver
{
    background-position: -68px -580px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButton_Office2010Silver
{
    background-position: 0px -614px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_Office2010Silver
{
    background-position: -68px -597px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButton_Office2010Silver
{
    background-position: -102px -597px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButtonDisabled_Office2010Silver
{
    background-position: -17px -597px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_Office2010Silver
{
    background-position: -102px -614px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_Office2010Silver
{
    background-position: -85px -597px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmExpandFolderContBtn_Office2010Silver
{
    background-position: -17px -631px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolder_Office2010Silver
{
    background-position: 0px -631px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolderLocked_Office2010Silver
{
    background-position: -102px -580px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButton_Office2010Silver
{
    background-position: 0px -580px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButtonDisabled_Office2010Silver
{
    background-position: -34px -580px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButton_Office2010Silver
{
    background-position: -34px -614px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButtonDisabled_Office2010Silver
{
    background-position: -51px -614px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButton_Office2010Silver
{
    background-position: -17px -614px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButtonDisabled_Office2010Silver
{
    background-position: -85px -614px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmThumbnailCheck_Office2010Silver
{
    background-position: -120px -457px;
    width: 10px;
    height: 10px;
}
.dxWeb_fmUplButton_Office2010Silver
{
    background-position: -34px -597px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmUplButtonDisabled_Office2010Silver
{
    background-position: -51px -597px;
    width: 16px;
    height: 16px;
}
.dxWeb_igCloseButton_Office2010Silver
{
    background-position: -14px -680px;
    width: 13px;
    height: 13px;
}
.dxWeb_igNavigationBarMarker_Office2010Silver
{
    background-position: -98px -534px;
    width: 20px;
    height: 16px;
}
.dxWeb_igNextButton_Office2010Silver
{
    background-position: 0px -132px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonDisabled_Office2010Silver
{
    background-position: 0px -198px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonHover_Office2010Silver
{
    background-position: -46px -132px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonPressed_Office2010Silver
{
    background-position: -46px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPauseButton_Office2010Silver
{
    background-position: -92px -246px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPlayButton_Office2010Silver
{
    background-position: -85px -534px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPrevButton_Office2010Silver
{
    background-position: 0px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonDisabled_Office2010Silver
{
    background-position: -46px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonHover_Office2010Silver
{
    background-position: -46px -198px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonPressed_Office2010Silver
{
    background-position: 0px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_isDot_Office2010Silver
{
    background-position: -56px -680px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotDisabled_Office2010Silver
{
    background-position: -88px -664px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotPressed_Office2010Silver
{
    background-position: -84px -680px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotSelected_Office2010Silver
{
    background-position: -88px -565px;
    width: 13px;
    height: 13px;
}
.dxWeb_isNextBtnHor_Office2010Silver
{
    background-position: -111px 0px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnHorDisabled_Office2010Silver
{
    background-position: -112px -34px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnVert_Office2010Silver
{
    background-position: 0px -468px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextBtnVertDisabled_Office2010Silver
{
    background-position: -60px -468px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextPageBtnHor_Office2010Silver
{
    background-position: -88px -512px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorDisabled_Office2010Silver
{
    background-position: -112px -488px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorOutside_Office2010Silver
{
    background-position: -118px -103px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnHorOutsideDisabled_Office2010Silver
{
    background-position: -92px -103px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnVert_Office2010Silver
{
    background-position: 0px -565px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertDisabled_Office2010Silver
{
    background-position: -22px -565px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertOutside_Office2010Silver
{
    background-position: -29px -552px;
    width: 28px;
    height: 12px;
}
.dxWeb_isNextPageBtnVertOutsideDisabled_Office2010Silver
{
    background-position: -92px -159px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPauseBtn_Office2010Silver
{
    background-position: -72px -534px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPlayBtn_Office2010Silver
{
    background-position: -118px -198px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPrevBtnHor_Office2010Silver
{
    background-position: -93px -34px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnHorDisabled_Office2010Silver
{
    background-position: -92px 0px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_Office2010Silver
{
    background-position: -90px -468px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnVertDisabled_Office2010Silver
{
    background-position: -30px -468px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevPageBtnHor_Office2010Silver
{
    background-position: -113px -420px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorDisabled_Office2010Silver
{
    background-position: -111px -394px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorOutside_Office2010Silver
{
    background-position: -118px -66px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnHorOutsideDisabled_Office2010Silver
{
    background-position: -105px -103px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnVert_Office2010Silver
{
    background-position: -44px -565px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertDisabled_Office2010Silver
{
    background-position: -66px -565px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertOutside_Office2010Silver
{
    background-position: 0px -552px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPrevPageBtnVertOutsideDisabled_Office2010Silver
{
    background-position: -92px -225px;
    width: 28px;
    height: 12px;
}
.dxWeb_izEWCloseButton_Office2010Silver
{
    background-position: -52px -368px;
    width: 25px;
    height: 25px;
}
.dxWeb_izHint_Office2010Silver
{
    background-position: -54px -534px;
    width: 17px;
    height: 17px;
}
.dxWeb_mAdaptiveMenu_Office2010Silver
{
    background-position: -120px -560px;
    width: 10px;
    height: 4px;
}
.dxWeb_mHorizontalPopOut_Office2010Silver
{
    background-position: -80px -560px;
    width: 7px;
    height: 4px;
}
.dxWeb_mScrollDown_Office2010Silver
{
    background-position: -64px -560px;
    width: 7px;
    height: 4px;
}
.dxWeb_mScrollUp_Office2010Silver
{
    background-position: -112px -680px;
    width: 7px;
    height: 4px;
}
.dxWeb_mSubMenuItem_Office2010Silver
{
    background-position: 0px -680px;
    width: 13px;
    height: 13px;
}
.dxWeb_mSubMenuItemChecked_Office2010Silver
{
    background-position: -42px -680px;
    width: 13px;
    height: 13px;
}
.dxWeb_mVerticalPopOut_Office2010Silver
{
    background-position: -92px -182px;
    width: 4px;
    height: 7px;
}
.dxWeb_mVerticalPopOutRtl_Office2010Silver
{
    background-position: -93px -190px;
    width: 4px;
    height: 7px;
}
.dxWeb_nbCollapse_Office2010Silver
{
    background-position: -60px -664px;
    width: 13px;
    height: 15px;
}
.dxWeb_nbExpand_Office2010Silver
{
    background-position: -32px -664px;
    width: 13px;
    height: 15px;
}
.dxWeb_ncBackToTop_Office2010Silver
{
    background-position: -66px -631px;
    width: 15px;
    height: 15px;
}
.dxWeb_pAll_Office2010Silver
{
    background-position: -70px -394px;
    width: 40px;
    height: 23px;
}
.dxWeb_pAllDisabled_Office2010Silver
{
    background-position: 0px -420px;
    width: 40px;
    height: 23px;
}
.dxWeb_pcCloseButton_Office2010Silver
{
    background-position: -112px -648px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcCollapseButton_Office2010Silver
{
    background-position: -48px -648px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcMaximizeButton_Office2010Silver
{
    background-position: -82px -631px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcPinButton_Office2010Silver
{
    background-position: -114px -631px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcRefreshButton_Office2010Silver
{
    background-position: -64px -648px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcSizeGrip_Office2010Silver
{
    background-position: -70px -680px;
    width: 13px;
    height: 13px;
}
.dxWeb_pcSizeGripRtl_Office2010Silver
{
    background-position: -116px -565px;
    width: 13px;
    height: 13px;
}
.dxWeb_pFirst_Office2010Silver
{
    background-position: -24px -444px;
    width: 23px;
    height: 23px;
}
.dxWeb_pFirstDisabled_Office2010Silver
{
    background-position: -96px -444px;
    width: 23px;
    height: 23px;
}
.dxWeb_pLast_Office2010Silver
{
    background-position: 0px -488px;
    width: 23px;
    height: 23px;
}
.dxWeb_pLastDisabled_Office2010Silver
{
    background-position: -41px -420px;
    width: 23px;
    height: 23px;
}
.dxWeb_pNext_Office2010Silver
{
    background-position: -72px -444px;
    width: 23px;
    height: 23px;
}
.dxWeb_pNextDisabled_Office2010Silver
{
    background-position: -48px -444px;
    width: 23px;
    height: 23px;
}
.dxWeb_pnlExpand_Office2010Silver
{
    background-position: -26px -342px;
    width: 25px;
    height: 25px;
}
.dxWeb_pnlExpandArrowBottom_Office2010Silver
{
    background-position: -92px -66px;
    width: 25px;
    height: 25px;
}
.dxWeb_pnlExpandArrowLeft_Office2010Silver
{
    background-position: -78px -316px;
    width: 25px;
    height: 25px;
}
.dxWeb_pnlExpandArrowRight_Office2010Silver
{
    background-position: -104px -316px;
    width: 25px;
    height: 25px;
}
.dxWeb_pnlExpandArrowTop_Office2010Silver
{
    background-position: 0px -264px;
    width: 25px;
    height: 25px;
}
.dxWeb_pPopOut_Office2010Silver
{
    background-position: -120px -444px;
    width: 10px;
    height: 12px;
}
.dxWeb_pPopOutDisabled_Office2010Silver
{
    background-position: -120px -468px;
    width: 10px;
    height: 12px;
}
.dxWeb_pPrev_Office2010Silver
{
    background-position: 0px -444px;
    width: 23px;
    height: 23px;
}
.dxWeb_pPrevDisabled_Office2010Silver
{
    background-position: -65px -420px;
    width: 23px;
    height: 23px;
}
.dxWeb_rDialogBoxLauncher_Office2010Silver
{
    background-position: -116px -664px;
    width: 13px;
    height: 13px;
}
.dxWeb_rDialogBoxLauncherDisabled_Office2010Silver
{
    background-position: -98px -680px;
    width: 13px;
    height: 13px;
}
.dxWeb_rDialogBoxLauncherHover_Office2010Silver
{
    background-position: -102px -664px;
    width: 13px;
    height: 13px;
}
.dxWeb_rDialogBoxLauncherPressed_Office2010Silver
{
    background-position: -28px -680px;
    width: 13px;
    height: 13px;
}
.dxWeb_rGlrDown_Office2010Silver
{
    background-position: -96px -560px;
    width: 7px;
    height: 4px;
}
.dxWeb_rGlrDownDisabled_Office2010Silver
{
    background-position: -121px -521px;
    width: 7px;
    height: 4px;
}
.dxWeb_rGlrPopOut_Office2010Silver
{
    background-position: -123px -590px;
    width: 7px;
    height: 6px;
}
.dxWeb_rGlrPopOutDisabled_Office2010Silver
{
    background-position: -119px -597px;
    width: 7px;
    height: 6px;
}
.dxWeb_rGlrUp_Office2010Silver
{
    background-position: -88px -560px;
    width: 7px;
    height: 4px;
}
.dxWeb_rGlrUpDisabled_Office2010Silver
{
    background-position: -104px -560px;
    width: 7px;
    height: 4px;
}
.dxWeb_rMinBtn_Office2010Silver
{
    background-position: -92px -238px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtn_Office2010Silver.dxWeb_rMinBtnHover_Office2010Silver
{
    background-position: -120px -544px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtn_Office2010Silver.dxWeb_rMinBtnPressed_Office2010Silver
{
    background-position: -82px -552px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtn_Office2010Silver
{
    background-position: -104px -552px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtnDisabled_Office2010Silver
{
    background-position: -93px -552px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtnHover_Office2010Silver
{
    background-position: -119px -534px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtnPressed_Office2010Silver
{
    background-position: -115px -552px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnDisabled_Office2010Silver
{
    background-position: -116px -95px;
    width: 10px;
    height: 7px;
}
.dxWeb_rpCollapseButton_Office2010Silver
{
    background-position: -74px -664px;
    width: 13px;
    height: 15px;
}
.dxWeb_rPinBtn_Office2010Silver
{
    background-position: -121px -228px;
    width: 9px;
    height: 9px;
}
.dxWeb_rPopOut_Office2010Silver
{
    background-position: -112px -560px;
    width: 7px;
    height: 4px;
}
.dxWeb_smBullet_Office2010Silver
{
    background-position: -124px -624px;
    width: 6px;
    height: 6px;
}
.dxWeb_splHCollapseBackwardButton_Office2010Silver
{
    background-position: -119px -614px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseBackwardButtonHover_Office2010Silver
{
    background-position: -123px -607px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButton_Office2010Silver
{
    background-position: -119px -580px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButtonHover_Office2010Silver
{
    background-position: -123px -481px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHSeparator_Office2010Silver
{
    background-position: -92px -96px;
    width: 23px;
    height: 6px;
}
.dxWeb_splHSeparatorHover_Office2010Silver
{
    background-position: -58px -552px;
    width: 23px;
    height: 6px;
}
.dxWeb_splVCollapseBackwardButton_Office2010Silver
{
    background-position: -121px -512px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseBackwardButtonHover_Office2010Silver
{
    background-position: -121px -220px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButton_Office2010Silver
{
    background-position: -124px -526px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButtonHover_Office2010Silver
{
    background-position: -121px -156px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVSeparator_Office2010Silver
{
    background-position: -118px -132px;
    width: 6px;
    height: 22px;
}
.dxWeb_splVSeparatorHover_Office2010Silver
{
    background-position: -98px -175px;
    width: 6px;
    height: 22px;
}
.dxWeb_tcScrollLeft_Office2010Silver
{
    background-position: -68px -488px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollLeftDisabled_Office2010Silver
{
    background-position: -66px -512px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollLeftHover_Office2010Silver
{
    background-position: -24px -488px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollLeftPressed_Office2010Silver
{
    background-position: -22px -512px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRight_Office2010Silver
{
    background-position: 0px -512px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRightDisabled_Office2010Silver
{
    background-position: -90px -488px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRightHover_Office2010Silver
{
    background-position: -46px -488px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRightPressed_Office2010Silver
{
    background-position: -44px -512px;
    width: 21px;
    height: 21px;
}
.dxWeb_tiBackToTop_Office2010Silver
{
    background-position: -80px -648px;
    width: 15px;
    height: 15px;
}
.dxWeb_tvColBtn_Office2010Silver
{
    background-position: -103px -512px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvColBtnRtl_Office2010Silver
{
    background-position: -36px -534px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtn_Office2010Silver
{
    background-position: 0px -534px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtnRtl_Office2010Silver
{
    background-position: -18px -534px;
    width: 17px;
    height: 17px;
}
.dxWeb_ucClearButton_Office2010Silver
{
    background-position: -17px -580px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_Office2010Silver
{
    background-position: -85px -580px;
    width: 16px;
    height: 16px;
}
.dxWeb_rpHeaderTopLeftCorner_Office2010Silver,
.dxWeb_rpHeaderTopRightCorner_Office2010Silver,
.dxWeb_rpHeaderBottomLeftCorner_Office2010Silver,
.dxWeb_rpHeaderBottomRightCorner_Office2010Silver,
.dxWeb_rpBottomLeftCorner_Office2010Silver,
.dxWeb_rpBottomRightCorner_Office2010Silver,
.dxWeb_rpTopLeftCorner_Office2010Silver,
.dxWeb_rpTopRightCorner_Office2010Silver,
.dxWeb_rpGroupBoxBottomLeftCorner_Office2010Silver,
.dxWeb_rpGroupBoxBottomRightCorner_Office2010Silver,
.dxWeb_rpGroupBoxTopLeftCorner_Office2010Silver,
.dxWeb_rpGroupBoxTopRightCorner_Office2010Silver,
.dxWeb_mHorizontalPopOut_Office2010Silver,
.dxWeb_mVerticalPopOut_Office2010Silver,
.dxWeb_mVerticalPopOutRtl_Office2010Silver,
.dxWeb_mSubMenuItem_Office2010Silver,
.dxWeb_mSubMenuItemChecked_Office2010Silver,
.dxWeb_mScrollUp_Office2010Silver,
.dxWeb_mScrollDown_Office2010Silver,
.dxWeb_tcScrollLeft_Office2010Silver,
.dxWeb_tcScrollRight_Office2010Silver,
.dxWeb_tcScrollLeftHover_Office2010Silver,
.dxWeb_tcScrollRightHover_Office2010Silver,
.dxWeb_tcScrollLeftPressed_Office2010Silver,
.dxWeb_tcScrollRightPressed_Office2010Silver,
.dxWeb_tcScrollLeftDisabled_Office2010Silver,
.dxWeb_tcScrollRightDisabled_Office2010Silver,
.dxWeb_nbCollapse_Office2010Silver,
.dxWeb_nbExpand_Office2010Silver,
.dxWeb_splVSeparator_Office2010Silver,
.dxWeb_splVSeparatorHover_Office2010Silver,
.dxWeb_splHSeparator_Office2010Silver,
.dxWeb_splHSeparatorHover_Office2010Silver,
.dxWeb_splVCollapseBackwardButton_Office2010Silver,
.dxWeb_splVCollapseBackwardButtonHover_Office2010Silver,
.dxWeb_splHCollapseBackwardButton_Office2010Silver,
.dxWeb_splHCollapseBackwardButtonHover_Office2010Silver,
.dxWeb_splVCollapseForwardButton_Office2010Silver,
.dxWeb_splVCollapseForwardButtonHover_Office2010Silver,
.dxWeb_splHCollapseForwardButton_Office2010Silver,
.dxWeb_splHCollapseForwardButtonHover_Office2010Silver,
.dxWeb_pcCloseButton_Office2010Silver,
.dxWeb_pcPinButton_Office2010Silver,
.dxWeb_pcRefreshButton_Office2010Silver,
.dxWeb_pcCollapseButton_Office2010Silver,
.dxWeb_pcMaximizeButton_Office2010Silver,
.dxWeb_pcSizeGrip_Office2010Silver,
.dxWeb_pcSizeGripRtl_Office2010Silver,
.dxWeb_pPopOut_Office2010Silver,
.dxWeb_pPopOutDisabled_Office2010Silver,
.dxWeb_pAll_Office2010Silver,
.dxWeb_pAllDisabled_Office2010Silver,
.dxWeb_pPrev_Office2010Silver,
.dxWeb_pPrevDisabled_Office2010Silver,
.dxWeb_pNext_Office2010Silver,
.dxWeb_pNextDisabled_Office2010Silver,
.dxWeb_pLast_Office2010Silver,
.dxWeb_pLastDisabled_Office2010Silver,
.dxWeb_pFirst_Office2010Silver,
.dxWeb_pFirstDisabled_Office2010Silver,
.dxWeb_tvColBtn_Office2010Silver,
.dxWeb_tvColBtnRtl_Office2010Silver,
.dxWeb_tvExpBtn_Office2010Silver,
.dxWeb_tvExpBtnRtl_Office2010Silver,
.dxWeb_ncBackToTop_Office2010Silver,
.dxWeb_smBullet_Office2010Silver,
.dxWeb_tiBackToTop_Office2010Silver,
.dxWeb_fmFolder_Office2010Silver,
.dxWeb_fmFolderLocked_Office2010Silver,
.dxWeb_fmCreateButton_Office2010Silver,
.dxWeb_fmMoveButton_Office2010Silver,
.dxWeb_fmRenameButton_Office2010Silver,
.dxWeb_fmDeleteButton_Office2010Silver,
.dxWeb_fmRefreshButton_Office2010Silver,
.dxWeb_fmDwnlButton_Office2010Silver,
.dxWeb_fmCreateButtonDisabled_Office2010Silver,
.dxWeb_fmMoveButtonDisabled_Office2010Silver,
.dxWeb_fmRenameButtonDisabled_Office2010Silver,
.dxWeb_fmDeleteButtonDisabled_Office2010Silver,
.dxWeb_fmRefreshButtonDisabled_Office2010Silver,
.dxWeb_fmDwnlButtonDisabled_Office2010Silver,
.dxWeb_fmThumbnailCheck_Office2010Silver,
.dxWeb_ucClearButton_Office2010Silver,
.dxWeb_ucClearButtonDisabled_Office2010Silver,
.dxWeb_isPrevBtnHor_Office2010Silver,
.dxWeb_isNextBtnHor_Office2010Silver,
.dxWeb_isPrevBtnVert_Office2010Silver,
.dxWeb_isNextBtnVert_Office2010Silver,
.dxWeb_isPrevPageBtnHor_Office2010Silver,
.dxWeb_isPrevPageBtnHorOutside_Office2010Silver,
.dxWeb_isNextPageBtnHor_Office2010Silver,
.dxWeb_isNextPageBtnHorOutside_Office2010Silver,
.dxWeb_isPrevPageBtnVert_Office2010Silver,
.dxWeb_isPrevPageBtnVertOutside_Office2010Silver,
.dxWeb_isNextPageBtnVert_Office2010Silver,
.dxWeb_isNextPageBtnVertOutside_Office2010Silver,
.dxWeb_isPrevBtnHorDisabled_Office2010Silver,
.dxWeb_isNextBtnHorDisabled_Office2010Silver,
.dxWeb_isPrevBtnVertDisabled_Office2010Silver,
.dxWeb_isNextBtnVertDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnHorDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnHorOutsideDisabled_Office2010Silver,
.dxWeb_isNextPageBtnHorDisabled_Office2010Silver,
.dxWeb_isNextPageBtnHorOutsideDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnVertDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnVertOutsideDisabled_Office2010Silver,
.dxWeb_isNextPageBtnVertDisabled_Office2010Silver,
.dxWeb_isNextPageBtnVertOutsideDisabled_Office2010Silver,
.dxWeb_isDot_Office2010Silver,
.dxWeb_isDotDisabled_Office2010Silver,
.dxWeb_isDotSelected_Office2010Silver,
.dxWeb_isPlayBtn_Office2010Silver,
.dxWeb_isPauseBtn_Office2010Silver,
.dxWeb_igCloseButton_Office2010Silver,
.dxWeb_igNextButton_Office2010Silver,
.dxWeb_igPrevButton_Office2010Silver,
.dxWeb_igPlayButton_Office2010Silver,
.dxWeb_igPauseButton_Office2010Silver,
.dxWeb_igNavigationBarMarker_Office2010Silver
{ 
    display:block;
}
.dxWeb_mScrollUp_Office2010Silver, .dxWeb_mScrollDown_Office2010Silver
{
	margin: auto;
}
.dxWeb_ncBackToTop_Office2010Silver,
.dxWeb_smBullet_Office2010Silver,
.dxWeb_tiBackToTop_Office2010Silver
{
	display:inline;
}

