.dx-acc-r .dxm-checked .dxTreeList_CTShowCustomizationWindow_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CollapsedButton_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CollapsedButtonRtl_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTCollapseRow_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTCollapseRowDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTDeleteRow_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTDeleteRowDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTEditRow_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTEditRowDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExpandRow_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExpandRowDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExportDocx_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExportDocxDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExportPdf_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExportPdfDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExportRtf_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExportRtfDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExportXls_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExportXlsDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExportXlsx_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTExportXlsxDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTFullCollapse_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTFullCollapseDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTFullExpand_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTFullExpandDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTNewRow_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTNewRowDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTRefresh_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTRefreshDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTShowCustomizationWindow_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_CTShowCustomizationWindowDisabled_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_DragAndDropArrowDown_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_DragAndDropArrowUp_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_DragAndDropHide_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_DragAndDropNode_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_ExpandedButton_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_ExpandedButtonRtl_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_FilterRowButton_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_HeaderFilter_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_HeaderFilterActive_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_SortAsc_MaterialCompactCustom:before,
.dx-acc-r .dxTreeList_SortDesc_MaterialCompactCustom:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxm-checked .dxTreeList_CTShowCustomizationWindow_MaterialCompactCustom:before

{
    left: 0px;
    top: -408px;

}
.dx-acc-r .dxTreeList_CollapsedButton_MaterialCompactCustom:before

{
    left: -11px;
    top: -592px;

}
.dx-acc-r .dxTreeList_CollapsedButtonRtl_MaterialCompactCustom:before

{
    left: -10px;
    top: -581px;

}
.dx-acc-r .dxTreeList_CTCollapseRow_MaterialCompactCustom:before

{
    left: 0px;
    top: -391px;

}
.dx-acc-r .dxTreeList_CTCollapseRowDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -85px;

}
.dx-acc-r .dxTreeList_CTDeleteRow_MaterialCompactCustom:before

{
    left: 0px;
    top: -476px;

}
.dx-acc-r .dxTreeList_CTDeleteRowDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -374px;

}
.dx-acc-r .dxTreeList_CTEditRow_MaterialCompactCustom:before

{
    left: 0px;
    top: -34px;

}
.dx-acc-r .dxTreeList_CTEditRowDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -170px;

}
.dx-acc-r .dxTreeList_CTExpandRow_MaterialCompactCustom:before

{
    left: 0px;
    top: -119px;

}
.dx-acc-r .dxTreeList_CTExpandRowDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -340px;

}
.dx-acc-r .dxTreeList_CTExportDocx_MaterialCompactCustom:before

{
    left: 0px;
    top: -238px;

}
.dx-acc-r .dxTreeList_CTExportDocxDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -136px;

}
.dx-acc-r .dxTreeList_CTExportPdf_MaterialCompactCustom:before

{
    left: 0px;
    top: -493px;

}
.dx-acc-r .dxTreeList_CTExportPdfDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -204px;

}
.dx-acc-r .dxTreeList_CTExportRtf_MaterialCompactCustom:before

{
    left: 0px;
    top: -102px;

}
.dx-acc-r .dxTreeList_CTExportRtfDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -323px;

}
.dx-acc-r .dxTreeList_CTExportXls_MaterialCompactCustom:before

{
    left: 0px;
    top: -221px;

}
.dx-acc-r .dxTreeList_CTExportXlsDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -357px;

}
.dx-acc-r .dxTreeList_CTExportXlsx_MaterialCompactCustom:before

{
    left: 0px;
    top: -187px;

}
.dx-acc-r .dxTreeList_CTExportXlsxDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -459px;

}
.dx-acc-r .dxTreeList_CTFullCollapse_MaterialCompactCustom:before

{
    left: 0px;
    top: -289px;

}
.dx-acc-r .dxTreeList_CTFullCollapseDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -68px;

}
.dx-acc-r .dxTreeList_CTFullExpand_MaterialCompactCustom:before

{
    left: 0px;
    top: -51px;

}
.dx-acc-r .dxTreeList_CTFullExpandDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -425px;

}
.dx-acc-r .dxTreeList_CTNewRow_MaterialCompactCustom:before

{
    left: 0px;
    top: -306px;

}
.dx-acc-r .dxTreeList_CTNewRowDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxTreeList_CTRefresh_MaterialCompactCustom:before

{
    left: 0px;
    top: -442px;

}
.dx-acc-r .dxTreeList_CTRefreshDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -272px;

}
.dx-acc-r .dxTreeList_CTShowCustomizationWindow_MaterialCompactCustom:before

{
    left: 0px;
    top: -255px;

}
.dx-acc-r .dxTreeList_CTShowCustomizationWindowDisabled_MaterialCompactCustom:before

{
    left: 0px;
    top: -153px;

}
.dx-acc-r .dxTreeList_DragAndDropArrowDown_MaterialCompactCustom:before

{
    left: 0px;
    top: -592px;

}
.dx-acc-r .dxTreeList_DragAndDropArrowUp_MaterialCompactCustom:before

{
    left: 0px;
    top: -602px;

}
.dx-acc-r .dxTreeList_DragAndDropHide_MaterialCompactCustom:before

{
    left: 0px;
    top: -17px;

}
.dx-acc-r .dxTreeList_DragAndDropNode_MaterialCompactCustom:before

{
    left: 0px;
    top: -581px;

}
.dx-acc-r .dxTreeList_ExpandedButton_MaterialCompactCustom:before

{
    left: 0px;
    top: -612px;

}
.dx-acc-r .dxTreeList_ExpandedButtonRtl_MaterialCompactCustom:before

{
    left: -8px;
    top: -612px;

}
.dx-acc-r .dxTreeList_FilterRowButton_MaterialCompactCustom:before

{
    left: 0px;
    top: -510px;

}
.dx-acc-r .dxTreeList_HeaderFilter_MaterialCompactCustom:before

{
    left: 0px;
    top: -525px;

}
.dx-acc-r .dxTreeList_HeaderFilterActive_MaterialCompactCustom:before

{
    left: 0px;
    top: -540px;

}
.dx-acc-r .dxTreeList_SortAsc_MaterialCompactCustom:before

{
    left: 0px;
    top: -568px;

}
.dx-acc-r .dxTreeList_SortDesc_MaterialCompactCustom:before

{
    left: 0px;
    top: -555px;

}

