.dxtlControl_MaterialCompactCustom
{
    cursor: default;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    border: 1px #dfdfdf;
}
.dxtlControl_MaterialCompactCustom caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxtlControl_MaterialCompactCustom .dxtlDataTable
{
    border: 1px solid #DFDFDF;
}
/* Indent cells */
.dxtlIndent_MaterialCompactCustom,
.dxtlIndentWithButton_MaterialCompactCustom
{
    vertical-align: top;
    background: white none no-repeat top center;
}
.dxtlIndent_MaterialCompactCustom
{
    padding: 0 11px;
}
.dxtlIndentWithButton_MaterialCompactCustom
{
    padding: 8px 7px 3px;
}
.dxtlSelectionCell_MaterialCompactCustom
{
    padding: 4px 5px 6px 6px;
    border: 1px solid #DFDFDF;
}
/* Tree-lines cells */
/* Headers */
.dxtlHeader_MaterialCompactCustom
{
    white-space: nowrap;
    padding: 13px 10px 11px;
    border: 1px solid #DFDFDF;
    border-width: 0 0 1px 0;
    background-color: white;
    color: black;
    overflow: hidden;
    font-weight: normal;
    text-align: left;
    font: 14px 'Roboto Medium', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-size: 1em;
}
.dxtlHeader_MaterialCompactCustom table.dxtl
{
    border-collapse: collapse;
    width: 100%;
}
.dxtlHeader_MaterialCompactCustom td.dxtl
{
    padding: 0;
}
.dxtlHeader_MaterialCompactCustom,
.dxtlHeader_MaterialCompactCustom td.dxtl
{
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}
/* Nodes */
.dxtlNode_MaterialCompactCustom
{
    background: white none;
}
.dxtlAltNode_MaterialCompactCustom
{
    background-color: #f5f5f5;
}
.dxtlSelectedNode_MaterialCompactCustom
{
    background: #f1f1f1 none;
}
.dxtlFocusedNode_MaterialCompactCustom
{
    background: #35B86B none;
    color: white;
}
.dxtlInlineEditNode_MaterialCompactCustom
{
    background: white none;
}
.dxtlEditFormDisplayNode_MaterialCompactCustom
{
    background: white none;
}
.dxtlNode_MaterialCompactCustom td.dxtl,
.dxtlAltNode_MaterialCompactCustom td.dxtl,
.dxtlSelectedNode_MaterialCompactCustom td.dxtl,
.dxtlFocusedNode_MaterialCompactCustom td.dxtl,
.dxtlEditFormDisplayNode_MaterialCompactCustom td.dxtl,
.dxtlCommandCell_MaterialCompactCustom
{
    padding: 3px 10px 4px;
    border: 1px solid #DFDFDF;
    white-space: nowrap;
    overflow: hidden;
}
.dxtlHeader_MaterialCompactCustom .dxbButton_MaterialCompactCustom,
.dxtlCommandCell_MaterialCompactCustom .dxbButton_MaterialCompactCustom
{
    margin-left: 5px;
    margin-right: 5px;
}
.dxtlHeader_MaterialCompactCustom .dxbButton_MaterialCompactCustom .dxb,
.dxtlCommandCel_MaterialCompactCustom .dxbButton_MaterialCompactCustom .dxb
{
    padding-top: 0;
    padding-bottom: 2px;
}
.dxtlInlineEditNode_MaterialCompactCustom td.dxtl
{
    border: 1px solid #DFDFDF;
    padding: 1px;
}
/* Preview */
.dxtlPreview_MaterialCompactCustom
{
    color: #999999;
    padding: 14px;
    border: 1px solid #DFDFDF;
    overflow: hidden;
}
/* Footers */
.dxtlGroupFooter_MaterialCompactCustom td.dxtl,
.dxtlFooter_MaterialCompactCustom td.dxtl
{
    padding: 5px 10px 6px;
    white-space: nowrap;
    border: 1px solid #DFDFDF;
    overflow: hidden;
}
.dxtlGroupFooter_MaterialCompactCustom .dx-ar > br,
.dxtlFooter_MaterialCompactCustom .dx-ar > br
{
    float: none;
}
/* Pagers */
.dxtlPagerTopPanel_MaterialCompactCustom,
.dxtlPagerBottomPanel_MaterialCompactCustom
{
    padding: 3px 0 1px;
}
.dxtlPagerTopPanel_MaterialCompactCustom
{
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #DFDFDF;
}
.dxtlPagerBottomPanel_MaterialCompactCustom
{
    border: 1px solid #DFDFDF;
    border-top-style: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
/* Editing */
.dxtlEditForm_MaterialCompactCustom
{
    border: 1px solid #DFDFDF;
    background-color: #f4f4f4;
    padding: 12px 10px 12px;
}
.dxtlEditFormCaption_MaterialCompactCustom,
.dxtlEditFormEditCell_MaterialCompactCustom
{
    padding: 4px;
}
.dxtlEditFormCaption_MaterialCompactCustom
{
    padding-left: 10px;
    white-space: nowrap;
}
.dxtlError_MaterialCompactCustom
{
    background: #FFC8C8 none;
    color: #FF0000;
    padding: 6px 10px;
    border: 1px solid #DFDFDF;
}
.dxtlPopupEditForm_MaterialCompactCustom
{
    padding: 10px;
    min-width: 300px;
}
.dxtlEditForm_MaterialCompactCustom .dxtlCommandCell_MaterialCompactCustom,
.dxtlPopupEditForm_MaterialCompactCustom .dxtlCommandCell_MaterialCompactCustom
{
    padding-top: 12px;
    padding-bottom: 12px;
}
.dxtlEditForm_MaterialCompactCustom .dxtlCommandCell_MaterialCompactCustom a,
.dxtlPopupEditForm_MaterialCompactCustom .dxtlCommandCell_MaterialCompactCustom a
{
    margin-left: 2px;
    margin-right: 2px;
    padding: 8px 16px;
    margin-top: -8px;
    margin-bottom: -8px;
}
.dxtlEditForm_MaterialCompactCustom .dxtlCommandCell_MaterialCompactCustom a:hover,
.dxtlPopupEditForm_MaterialCompactCustom .dxtlCommandCell_MaterialCompactCustom a:hover
{
    background-color: #d1d1d1;
    text-decoration: none;
}
/* Links */
.dxtlControl_MaterialCompactCustom a
{
    color: #35B86B;
}
.dxtlFocusedNode_MaterialCompactCustom a
{
    color: white !important;
}
.dxtlCommandCell_MaterialCompactCustom a
{
    margin-right: 5px;
}
/* Customization window */
.dxtlControl_MaterialCompactCustom .dxpcLite_MaterialCompactCustom .dxpc-content
{
    min-width: 220px;
}
.dxtlControl_MaterialCompactCustom .dxpcLite_MaterialCompactCustom .dxpc-content .dxtlHeader_MaterialCompactCustom
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
}
/* Loading panel */
.dxtlLoadingPanel_MaterialCompactCustom
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxtlLoadingPanel_MaterialCompactCustom td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxtlLoadingPanel_MaterialCompactCustom .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #35B86B;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxtlLoadingPanel_MaterialCompactCustom .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
/* Disabled */
.dxtlDisabled_MaterialCompactCustom,
.dxtlDisabled_MaterialCompactCustom .dxtl
{
    color: #b8b8b8;
    cursor: default;
}
/* Ripple */
.dxtlControl_MaterialCompactCustom .dxtlDataTable .dxtlHeader_MaterialCompactCustom:not([style*="cursor: w-resize"]):not(.dxtl__IM)::before,
.dxtlControl_MaterialCompactCustom .dxpcLite_MaterialCompactCustom .dxpc-content .dxtlHeader_MaterialCompactCustom:not(.dxtl__IM)::before
{
    content: "dxRippleTarget";
    display: none;
}
.dxtlControl_MaterialCompactCustom .dxpcLite_MaterialCompactCustom
{
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxtlControl_MaterialCompactCustom .dxpcLite_MaterialCompactCustom .dxpc-mainDiv.dxpc-hf
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Filtering */
.dxtlFilterRow_MaterialCompactCustom
{
    background-color: #f4f4f4;
}
.dxtlFilterRow_MaterialCompactCustom > td
{
    border-bottom: 1px Solid #DFDFDF;
    border-right: 1px Solid #DFDFDF;
    border-top-width: 0;
    border-left-width: 0;
    padding: 2px;
    overflow: hidden;
}
/* Search Panel */
.dxtlSearchPanel_MaterialCompactCustom
{
    padding: 7px 0 16px;
}
.dxtlSearchPanel_MaterialCompactCustom > table
{
    width: 100%;
}
.dxtlSearchPanel_MaterialCompactCustom .dxeButtonEdit_MaterialCompactCustom
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    width: 100%;
}
.dxtlSearchPanel_MaterialCompactCustom .dxeButtonEdit_MaterialCompactCustom,
.dxtlSearchPanel_MaterialCompactCustom .dxeButtonEdit_MaterialCompactCustom input
{
    background-color: #FAFAFA;
}
.dxtlSearchPanel_MaterialCompactCustom .dxeButtonEdit_MaterialCompactCustom td.dxic
{
    padding: 13px 8px 14px 12px;
}
*[dir="rtl"] .dxtlSearchPanel_MaterialCompactCustom .dxeButtonEdit_MaterialCompactCustom td.dxic
{
    padding: 13px 12px 14px 8px;
}
.dxtlControl_MaterialCompactCustom .dxtlSearchPanel_MaterialCompactCustom > table > tbody > tr > td:nth-child(2) a.dxbButton_MaterialCompactCustom
{
    margin-left: 16px;
}
*[dir="rtl"].dxtlControl_MaterialCompactCustom .dxtlSearchPanel_MaterialCompactCustom > table > tbody > tr > td:nth-child(2) a.dxbButton_MaterialCompactCustom
{
    margin-right: 16px;
    margin-left: 0;
}
.dxtlControl_MaterialCompactCustom .dxtlSearchPanel_MaterialCompactCustom > table > tbody > tr > td:last-child a.dxbButton_MaterialCompactCustom
{
    margin-right: 16px;
}
*[dir="rtl"].dxtlControl_MaterialCompactCustom .dxtlSearchPanel_MaterialCompactCustom > table > tbody > tr > td:last-child a.dxbButton_MaterialCompactCustom
{
    margin-left: 16px;
}
.dxtlControl_MaterialCompactCustom .dxtlSearchPanel_MaterialCompactCustom > table > tbody > tr > td a.dxbButton_MaterialCompactCustom
{
    margin-left: 10px;
}
*[dir="rtl"].dxtlControl_MaterialCompactCustom .dxtlSearchPanel_MaterialCompactCustom > table > tbody > tr > td a.dxbButton_MaterialCompactCustom
{
    margin-right: 10px;
}
.dxtlControl_MaterialCompactCustom .dxtlSearchPanel_MaterialCompactCustom .dxbButton_MaterialCompactCustom
{
    margin-left: 8px;
}
/* Filter Builder, Filter Bar */
.dxtlFilterBar_MaterialCompactCustom
{
    margin-top: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    border-collapse: separate;
}
.dxtlFilterBar_MaterialCompactCustom a
{
    color: #35B86B;
    text-decoration: none;
}
.dxtlFilterBar_MaterialCompactCustom a:hover
{
    text-decoration: underline;
}
.dxtlFilterBar_MaterialCompactCustom > tbody > tr > td
{
    padding-top: 6px;
    padding-bottom: 6px;
}
.dxtlFilterBarCheckBoxCell_MaterialCompactCustom
{
    padding-left: 8px;
}
*[dir="rtl"] .dxtlFilterBarCheckBoxCell_MaterialCompactCustom
{
    padding-right: 8px;
}
.dxtlFilterBarCheckBoxCell_MaterialCompactCustom
{
    padding-left: 8px;
}
*[dir="rtl"] .dxtlFilterBarCheckBoxCell_MaterialCompactCustom
{
    padding-right: 8px;
}
.dxtlFilterBarImageCell_MaterialCompactCustom
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
*[dir="rtl"] .dxtlFilterBarImageCell_MaterialCompactCustom
{
    padding: 0 20px 0 8px;
}
.dxtlFilterBarImageCell_MaterialCompactCustom img
{
    margin-top: 3px;
    margin-left: 0;
}
.dxtlFilterBarExpressionCell_MaterialCompactCustom
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxtlFilterBarClearButtonCell_MaterialCompactCustom
{
    padding: 5px 20px 8px 6px;
}
*[dir="rtl"] .dxtlFilterBarClearButtonCell_MaterialCompactCustom
{
    padding: 5px 6px 8px 20px;
}
.dxtlFilterBuilderMainArea_MaterialCompactCustom
{
    background: white none;
    padding: 6px 2px;
}
.dxtlFilterBuilderButtonArea_MaterialCompactCustom
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxtlFilterBuilderButtonArea_MaterialCompactCustom .dxbButton_MaterialCompactCustom
{
    margin-left: 8px;
}
.dxtlControl_MaterialCompactCustom .dxtlHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxtlControl_MaterialCompactCustom .dxtlHFDRC
{
    margin: 15px 15px 25px;
}
.dxtlControl_MaterialCompactCustom .dxtlHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxtlControl_MaterialCompactCustom .dxtlHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxtlControl_MaterialCompactCustom .dxtlHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
