.dx-acc-r .dxRichEdit_CenterTabDragHandle_Office365:before,
.dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_Office365:before,
.dx-acc-r .dxRichEdit_DecimalTabDragHandle_Office365:before,
.dx-acc-r .dxRichEdit_FirstLineIdentDragHandle_Office365:before,
.dx-acc-r .dxRichEdit_LeftIdentDragHandle_Office365:before,
.dx-acc-r .dxRichEdit_LeftTabDragHandle_Office365:before,
.dx-acc-r .dxRichEdit_QuickSearchCloseButton_Office365:before,
.dx-acc-r .dxRichEdit_QuickSearchCollapseButton_Office365:before,
.dx-acc-r .dxRichEdit_QuickSearchNextButton_Office365:before,
.dx-acc-r .dxRichEdit_QuickSearchPrevButton_Office365:before,
.dx-acc-r .dxRichEdit_RightIdentDragHandle_Office365:before,
.dx-acc-r .dxRichEdit_RightTabDragHandle_Office365:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxRichEdit_CenterTabDragHandle_Office365:before

{
    left: -24px;
    top: -14px;

}
.dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_Office365:before

{
    left: -26px;
    top: -21px;

}
.dx-acc-r .dxRichEdit_DecimalTabDragHandle_Office365:before

{
    left: -33px;
    top: -14px;

}
.dx-acc-r .dxRichEdit_FirstLineIdentDragHandle_Office365:before

{
    left: -10px;
    top: -34px;

}
.dx-acc-r .dxRichEdit_LeftIdentDragHandle_Office365:before

{
    left: 0px;
    top: -34px;

}
.dx-acc-r .dxRichEdit_LeftTabDragHandle_Office365:before

{
    left: -34px;
    top: -7px;

}
.dx-acc-r .dxRichEdit_QuickSearchCloseButton_Office365:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxRichEdit_QuickSearchCollapseButton_Office365:before

{
    left: 0px;
    top: -21px;

}
.dx-acc-r .dxRichEdit_QuickSearchNextButton_Office365:before

{
    left: -13px;
    top: -21px;

}
.dx-acc-r .dxRichEdit_QuickSearchPrevButton_Office365:before

{
    left: -21px;
    top: 0px;

}
.dx-acc-r .dxRichEdit_RightIdentDragHandle_Office365:before

{
    left: -20px;
    top: -34px;

}
.dx-acc-r .dxRichEdit_RightTabDragHandle_Office365:before

{
    left: -34px;
    top: 0px;

}

