.dxreControl_Office365
{
    border: solid 0px rgba(0,0,0,0.08);
    font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxreControl_Office365 .dxreTableBorderLine
{
    background-color: #4DB6AC;
}
.dxreControl_Office365 .dxrePage
{
    border: 1px solid #C0C0C0;
}
.dxreControl_Office365 .dxreView
{
    background-color: #FFFFFF;
}
.dxreControl_Office365 .dxflFormLayout_Office365 .dxre-editorsGroupWithPaddings
{
    padding-left: 10px;
    padding-right: 10px;
}
.dxreControl_Office365 .dxrControl_Office365 .dxtcLite_Office365.dxtc-top .dxtc-leftIndent
{
    width: 0px;
}
.dxrControl_Office365 .dxreRibbonCBSmall
{
    width: 100px;
}
.dxrControl_Office365 .dxreRibbonCBLarge
{
    width: 150px;
}
.dxrControl_Office365 .dxreRibbonCBMiddle
{
    width: 110px;
}
.dxrControl_Office365 .dxreRibbonSE
{
    width: 110px;
}
.dxreControl_Office365 .dxreRulerWrapper
{
    padding-top: 2px;
    background-color: #FFFFFF;
}
.dxreControl_Office365 .dxreRulerWrapper .dxre-rulertabAlignBox
{
    background-color: #d3d3d3;
}
.dxreControl_Office365 .dxreRulerWrapper .dxre-rulertabAlignBox > div
{
    background-color: #fff;
}
.dxreControl_Office365 .dxreRulerLine
{
    border-left: 1px dashed #717171;
}
.dxreControl_Office365 .dxreRulerLine.table
{
    border-left: 1px solid #599eff;
}
.dxreControl_Office365 .dxreRuler .dxre-columnHandleLeftPart,
.dxreControl_Office365 .dxreRuler .dxre-columnHandleRightPart
{
    width: 5px;
    background-color: #bcb8b8;
}
.dxreControl_Office365 .dxreRuler .dxre-rulerTableColumnSeparatorHandle
{
    height: 12px;
    background-color: #d3d3d3;
}
.dxreControl_Office365 .dxreRuler .dxre-rulerTableColumnSeparatorHandle > div
{
    margin-top: 2px;
}
.dxreControl_Office365 .dxreRuler .dxre-rulerDivisions
{
    height: 12px;
    background-color: #fff;
}
.dxreControl_Office365 .dxreRuler .dxre-rulerDivisions div
{
    height: 12px;
}
.dxreControl_Office365 .dxreRuler .dxre-rulerDivisions .dxre-rulerMinorDivision,
.dxreControl_Office365 .dxreRuler .dxre-rulerDivisions .dxre-rulerMajorDivision
{
    border-left: 1px solid #a3a3a3;
}
.dxreControl_Office365 .dxreRuler .dxre-rulerDivisions .dxre-rulerNumberDivision
{
    color: #4e4e4e;
}
.dxreControl_Office365 .dxreRuler .dxre-rulerMarginLeftPanel,
.dxreControl_Office365 .dxreRuler .dxre-rulerMarginRightPanel,
.dxreControl_Office365 .dxreRuler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_Office365 .dxreRuler .dxre-rulerMarginRightHandlePanel,
.dxreControl_Office365 .dxreRuler .dxre-columnHandle,
.dxreControl_Office365 .dxreRuler .dxre-columnHandle > div
{
    height: 12px;
}
.dxreControl_Office365 .dxreRuler .dxre-rulerMarginLeftPanel,
.dxreControl_Office365 .dxreRuler .dxre-rulerMarginRightPanel,
.dxreControl_Office365 .dxreRuler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_Office365 .dxreRuler .dxre-rulerMarginRightHandlePanel,
.dxreControl_Office365 .dxreRuler .dxre-columnHandle
{
    background-color: #d3d3d3;
}
.dxreControl_Office365 .dxre-leftIdentDragHandleBody
{
    background-color: #fff;
    border: 1px solid #929292;
    border-top: none;
    height: 6px;
}
.dxreControl_Office365 .dxreQuickSearchPanel
{
    background-color: #FAFAFA;
    border: 1px solid #a7a7a7;
    border-top: none;
    padding: 6px;
}
.dxreControl_Office365 .dxreQuickSearchPanel .dxreQuickSearchButtonEdit
{
    width: 300px;
}
.dxreControl_Office365 .dxreQuickSearchPanel .dxreQuickSearchButton:first-of-type
{
    margin-top: 6px;
    margin-right: 5px;
    margin-left: 10px;
}
.dxreControl_Office365 .dxreQuickSearchPanel .dxreQuickSearchButton:nth-of-type(2)
{
    margin-top: 6px;
}
.dxreControl_Office365 .dxreQuickSearchPanel .dxreQuickSearchButton:nth-of-type(3)
{
    margin-top: 6px;
    margin-right: 8px;
    margin-left: 32px;
}
.dxreControl_Office365 .dxreQuickSearchPanel .dxreQuickSearchButton:nth-of-type(4)
{
    margin-top: 6px;
}
.dxreControl_Office365 .dxreQuickSearchPanel .dxreQuickSearchButton,
.dxreControl_Office365 .dxreQuickSearchPanel .dxreQuickSearchButton .dxb
{
    padding: 0px !important;
    background: none !important;
    border: none !important;
}
.dxreControl_Office365 .dxreBar
{
    background-color: #FFFFFF;
    border-top: 1px solid rgba(0,0,0,0.08);
    height: 22px;
}
.dxreControl_Office365 .dxreBar .dxreLoadingPanel
{
    float: right;
    margin: 3px 2px 0 0;
    color: #666;
}
.dxreControl_Office365 .dxreBar .dxreLoadingPanel .dx
{
    line-height: 0;
}
.dxreControl_Office365 .dxreBar .dxreLoadingPanel .dxlp-loadingImage
{
    width: 16px;
    height: 16px;
    background: url('reLoadingOnStatusBar.gif');
}
.dxreControl_Office365 .dxreDlgListBox
{
    padding: 1px;
}
.dxreControl_Office365 .dxreDlgListBox > div
{
    border: 1px solid #C0C0C0;
    margin: 1px;
}
.dxreControl_Office365 .dxreDlgListBox .dxreDlgListHover
{
    background-color: #EEE;
}
.dxreControl_Office365 .dxreDlgListBox .dxreDlgListSelected
{
    background-color: #009688;
}
.dxreControl_Office365 .dxre-numberinglistdialog
{
    max-width: 541px;
}
.dxreControl_Office365 .dxre-simplenumberinglistdialog
{
    max-width: 550px;
}
.dxreControl_Office365 .dxreDlgNumberingListForm .dxreDlgNumberingListPreview
{
    padding: 10px;
    width: 90px;
    height: 90px;
}
.dxreControl_Office365 .dxreDlgNumberingListForm .dxreDlgMainContainer
{
    height: 220px;
}
.dxreControl_Office365 .dxreDlgNumberingListForm .dxreDlgListBox > div
{
    width: 120px;
    height: 120px;
    line-height: 120px;
}
.dxreControl_Office365 .dxre-bulletedlistdialog
{
    max-width: 400px;
}
.dxreControl_Office365 .dxreDlgBulletedListForm .dxreDlgBulletPresetBtn
{
    width: 45px !important;
    height: 45px !important;
    float: left;
    margin: 0px 0px 5px 5px;
}
.dxreControl_Office365 .dxre-multilevelnumberinglistdialog
{
    max-width: 422px;
}
.dxreControl_Office365 .dxreMultiLevelNumberingListBoxLayout,
.dxreControl_Office365 .dxreMultiLevelNumberingListBoxLayout .dxlbd
{
    width: 40px;
    height: 100% !important;
}
.dxreControl_Office365 .dxre-multiLevelOptionsLayout .dxflGroup_Office365
{
    padding: 0px;
}
.dxreControl_Office365 .dxreDlgMultiLevelNumberingListForm .dxre-dialogContentGroup > tbody > tr > td:first-child
{
    padding-right: 0px;
}
.dxreControl_Office365 .dxreDlgMultiLevelNumberingListForm .dxre-dialogContentGroup > tbody > tr > td:last-child
{
    padding: 0px;
}
.dxreControl_Office365 .dxre-alertdialog
{
    max-width: 350px;
}
.dxreControl_Office365 .dxre-alertdialog span
{
    user-select: text;
}
.dxreControl_Office365 .dxre-layoutoptionsdialog
{
    max-width: 695px;
}
.dxreControl_Office365 .dxreDlgLayoutForm .dxtc-content
{
    min-height: 670px;
}
.dxreControl_Office365 .dxreDlgLayoutForm .dxre-layoutFormOriginalSizeGroup .dxflCaptionCellSys
{
    padding-top: 2px;
}
.dxreControl_Office365 .dxreDlgLayoutForm .dxre-dialogPresetButton
{
    width: 25% !important;
    text-align: center;
    float: left;
}
@media (max-width: 500px)
{
    .dxreControl_Office365 .dxreDlgLayoutForm .dxre-dialogPresetButton
    {
        width: 33% !important;
    }
}
@media (max-width: 380px)
{
    .dxreControl_Office365 .dxreDlgLayoutForm .dxre-dialogPresetButton
    {
        width: 50% !important;
    }
}
.dxreControl_Office365 .dxreDlgLayoutForm .dxre-buttonLable
{
    display: block;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 5px;
}
.dxreControl_Office365 .dxreDlgLayoutForm .dxre-sizeTabLayout .dx-dialogEditRoot > tbody > tr > td:first-child,
.dxreControl_Office365 .dxreDlgLayoutForm .dxre-positionTabLayout .dx-dialogEditRoot > tbody > tr > td:first-child
{
    width: 5% !important;
}
@media (max-width: 500px)
{
    .dxreControl_Office365 .dxreDialog .dxre-dialogShortEditor:not(.dxre-dialogNotResponsiveEditor),
    .dxreControl_Office365 .dxreDialog .dxre-dialogEditor:not(.dxre-dialogNotResponsiveEditor),
    .dxreControl_Office365 .dxreDialog .dxre-dialogLongEditor:not(.dxre-dialogNotResponsiveEditor)
    {
        max-width: 100%;
    }
    .dxreControl_Office365 .dxreDialog .dxflItemSys .dxflCaptionCellSys
    {
        min-width: 25px !important;
    }
}
.dxreControl_Office365 .dxre-dialogShortEditor
{
    max-width: 80px;
}
.dxreControl_Office365 .dxre-dialogEditor
{
    max-width: 150px;
}
.dxreControl_Office365 .dxre-dialogLongEditor
{
    max-width: 180px;
}
.dxreControl_Office365 .dxreDlgInLayoutButton
{
    width: 68px !important;
}
.dxreControl_Office365 .dxreDlgFooterBtn
{
    width: 80px !important;
    margin-left: 8px;
}
.dxreControl_Office365 .dxre-EmptyLine
{
    height: 10px;
}
.dxreControl_Office365 .dxre-dialogFooter
{
    width: auto;
    padding: 11px;
    border-top: solid 1px rgba(0,0,0,0.08);
}
.dxreControl_Office365 .dxre-dialogLG.dxflGroupSys.dxre-dialogContentGroup
{
    padding: 11px 3px;
}
.dxreControl_Office365 .dxre-dialogLGB > .dxre-dialogLG > div > .dxre-dialogLGC > .dxre-dialogLI
{
    padding-top: 2px;
}
.dxreControl_Office365 .dxre-bookmarksdialog
{
    max-width: 365px;
}
.dxreControl_Office365 .dxre-columnsdialog
{
    max-width: 400px;
}
.dxreControl_Office365 .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable > tbody > tr > td
{
    padding: 2px 4px;
}
.dxreControl_Office365 .dxreDlgColumnsForm .dxreDlgColumnsEditor
{
    height: 130px;
}
.dxreControl_Office365 .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgTextBox
{
    width: 40px;
}
.dxreControl_Office365 .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgSpinEdit
{
    width: 90px;
}
@media (max-width: 500px)
{
    .dxreControl_Office365 .dxreDlgColumnsForm .dxbButton_Office365 div.dxb
    {
        padding: 3px 5px 3px !important;
        border: none;
    }
    .dxreControl_Office365 .dxreDlgColumnsForm tbody > tr.dxrpCR > .dxrpcontent > .dxrpAW > .dxrpCW
    {
        padding: 10px 0;
    }
    .dxreControl_Office365 .dxreDlgColumnsForm .dxflGroup_Office365, .dxreControl_Office365 .dxreDlgColumnsForm .dxflGroupCell_Office365
    {
        padding: 0 10px;
    }
    .dxreControl_Office365 .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable
    {
        width: 100%;
    }
    .dxreControl_Office365 .dxreDlgColumnsForm .dxflNotFloatedElSys .dxrpControl_Office365 .dxflGroupCell_Office365
    {
        padding: 0px;
    }
}
.dxreControl_Office365 .dxre-Separator
{
    height: 0px;
    margin: 5px 0;
    border-top: 1px solid #808080;
}
.dxreControl_Office365 .dxre-findreplacedialog
{
    max-width: 540px;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-searchResultList
{
    width: 100%;
    height: 180px;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-searchResultList .dxeListBoxItem
{
    white-space: normal;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-dialogContentGroup
{
    padding: 24px !important;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-searchResult
{
    width: 100% !important;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-searchResult > div
{
    float: none !important;
    width: auto !important;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-searchResult .dxflCaptionCell_Office365
{
    padding-top: 0px;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-searchResult .dxflNestedControlCell_Office365
{
    text-align: right;
    white-space: nowrap;
    color: #acacac;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-dialogControlsWrapper > tbody > tr > td:first-child
{
    width: auto;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-dialogControlsWrapper > tbody > tr > td:nth-child(2)
{
    width: 100%;
    text-align: left;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-replaceInfo
{
    position: absolute;
    left: 0;
    visibility: hidden;
}
.dxreControl_Office365 .dxre-findreplacedialog .dxre-replaceInfo > div
{
    padding: 8px;
    background: #FFF2C0;
}
@media (max-width: 500px)
{
    .dxreControl_Office365 .dxre-findreplacedialog .dxre-dialogFooter .dxreDlgFooterBtn
    {
        width: auto !important;
    }
    .dxreControl_Office365 .dxre-findreplacedialog .dxre-dialogFooter .dxreDlgFooterBtn > div.dxb
    {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
}
.dxreControl_Office365 .dxre-fontdialog
{
    max-width: 570px;
}
.dxreControl_Office365 .dxreDlgFontForm .dxreCheckBoxContainer .dxflGroup_Office365,
.dxreControl_Office365 .dxreDlgFontForm .dxreCheckBoxContainer .dxflGroupCell_Office365
{
    padding: 0px;
}
.dxreControl_Office365 .dxreDlgFontForm .dxreCheckBoxContainer .dxflItem_Office365
{
    padding: 0px !important;
}
@media (max-width: 500px)
{
    .dxreControl_Office365 .dxreDlgFontForm .dxre-dialogContentGroup .dxflLastChildSys .dxflGroupSys > div:not(.dxflFirstChildSys)
    {
        margin-top: 7px;
    }
}
.dxreControl_Office365 .dxre-hyperlinkdialog
{
    max-width: 520px;
}
.dxreControl_Office365 .dxre-insertimagedialog
{
    max-width: 450px;
}
.dxreControl_Office365 .dxreDlgInsertImageForm .dxreDlgImagePreview
{
    margin-top: 10px;
    width: 100%;
    height: 170px;
    color: #878787;
    border: dashed 1px #cac8c8;
    text-align: center;
}
.dxreControl_Office365 .dxreDlgInsertImageForm .dxflCaption_Office365
{
    white-space: normal;
}
.dxreControl_Office365 .dxreDlgInsertImageForm .dxre-dialogRadioNavigation
{
    padding-bottom: 7px;
}
.dxreControl_Office365 .dxre-insertmergefielddialog
{
    max-width: 350px !important;
}
.dxreControl_Office365 .dxre-insertmergefielddialog .dxeListBox_Office365
{
    height: 250px;
}
.dxreControl_Office365 .dxre-finishandmergedialog
{
    max-width: 215px;
}
.dxreControl_Office365 .dxre-openfiledialog
{
    max-width: 800px;
}
.dxreControl_Office365 .dxreDlgOpenFileForm
{
    height: 500px;
}
.dxreControl_Office365 .dxreDlgOpenFileForm .dxflGroupCell,
.dxreControl_Office365 .dxreDlgOpenFileForm .dxre-dialogContentGroup,
.dxreControl_Office365 .dxreDlgOpenFileForm .dxre-dialogContentGroup .dxflItem_Office365
{
    padding: 0px !important;
}
.dxreControl_Office365 .dxre-pagesetupdialog
{
    max-width: 420px;
}
.dxreControl_Office365 .dxreDlgPageSetupForm .dxre-headersAndFootersGroup .dxflLastChildSys > .dxre-dialogLGC
{
    padding: 0px;
}
.dxreControl_Office365 .dxreDlgPageSetupForm .dxre-offsetGroup .dxflGroupCell_Office365
{
    padding: 0px;
}
.dxreControl_Office365 .dxreDlgPageSetupForm .dxre-offsetGroup tr:first-child .dxflGroupCell_Office365:first-child
{
    padding-right: 10px;
}
@media (min-width: 500px)
{
    .dxreControl_Office365 .dxreDlgPageSetupForm .dxtc-content
    {
        min-height: 390px;
    }
}
.dxreControl_Office365 .dxre-paragraphdialog
{
    max-width: 500px;
}
.dxreControl_Office365 .dxreDlgParagraphForm .dxtc-content
{
    min-height: 540px;
}
.dxreControl_Office365 .dxreDlgParagraphForm .dxre-dialogControlsWrapper > tbody > tr > td:first-child
{
    text-align: left;
}
@media (min-width: 500px)
{
    .dxreControl_Office365 .dxreDlgParagraphForm .dxre-dialogParagraphInnerLayout
    {
        padding-top: 8px;
    }
    .dxreControl_Office365 .dxreDlgParagraphForm .dxre-dialogParagraphInnerLayout .dxflFirstChildSys .dxflGroupCell_Office365
    {
        padding-right: 8px;
    }
}
.dxreControl_Office365 .dxreDlgSaveFileForm
{
    width: 470px;
}
.dxreControl_Office365 .dxre-spellingdialog
{
    max-width: 560px;
}
.dxreControl_Office365 .dxreDlgSpellingForm .dxreDlgSB
{
    min-width: 80px;
    width: 100%;
    margin-bottom: 5px;
}
.dxreControl_Office365 .dxreDlgSymbolsForm .dxreDlgSymbolsList
{
    height: 250px;
    border: 1px solid #C0C0C0;
}
.dxreControl_Office365 .dxreDlgSymbolsForm .dxreDlgListBox > div
{
    width: 37px;
    height: 37px;
    line-height: 37px;
    font-size: large;
}
.dxreControl_Office365 .dxre-splittablecellsdialog,
.dxreControl_Office365 .dxre-deletetablecellsdialog,
.dxreControl_Office365 .dxre-inserttabledialog
{
    max-width: 300px;
}
.dxreControl_Office365 .dxre-tablepropertiesdialog
{
    max-width: 660px;
}
.dxreControl_Office365 .dxreDlgTablePropertiesForm .dxtc-content
{
    min-height: 560px;
}
.dxreControl_Office365 .dxreDlgTablePropertiesForm .dxre-dialogTableSpacing
{
    text-align: right;
}
.dxreControl_Office365 .dxreDlgTablePropertiesForm .dxre-dialogTableSpacing table
{
    display: inline-block;
}
@media (max-width: 380px)
{
    .dxreControl_Office365 .dxreDlgTablePropertiesForm .dxre-dialogTableSpacing
    {
        text-align: left;
    }
}
.dxreControl_Office365 .dxreDlgTablePropertiesForm .dxreDlgRight .dxreDlgFooterBtn
{
    display: inline-table;
}
.dxreControl_Office365 .dxre-bordershadingdialog
{
    max-width: 440px;
}
.dxreControl_Office365 .dxreDlgBorderShadingForm .dxre-dialogBorderPresets
{
    padding: 6px 0;
}
.dxreControl_Office365 .dxreDlgBorderShadingForm .dxre-dialogBorderPresets .dxre-dialogLGC
{
    padding: 0px;
}
.dxreControl_Office365 .dxreDlgBorderShadingForm .dxre-dialogBorderPresets .dxre-dialogPresetButton
{
    padding-bottom: 5px;
    text-align: center;
}
.dxreControl_Office365 .dxreDlgBorderShadingForm .dxre-dialogBorderPresets .dxre-dialogPresetButton .dxre-buttonLable
{
    display: block;
}
.dxreControl_Office365 .dxreDlgBorderShadingForm .dxreTableBorderPreview
{
    width: 130px !important;
    display: inline-block;
}
.dxreControl_Office365 .dxre-dialogCellMargins td.dxre-dialogLGC
{
    padding: 0 4px 0 0 !important;
}
.dxreControl_Office365 .dxre-dialogCellBlock
{
    width: 78px;
    background-color: #E0E0E0;
    border: dashed 1px #818181;
}
.dxreControl_Office365 .dxreBorderButton div.dxb
{
    padding: 3px !important;
}
.dxreControl_Office365 .dxre-tabsdialog
{
    max-width: 475px;
}
.dxreControl_Office365 .dxreDlgTabsForm .dxreDlgTabsList
{
    height: 70px;
}
.dxreControl_Office365 .dxreDlgTabsForm .dxre-flowRadioButtonList span.dxichCellSys
{
    min-width: 120px;
}
.dxreControl_Office365
{
    border-bottom: 1px solid rgba(0,0,0,0.08);
}
.dxreControl_Office365 .dxrePage
{
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.dxreControl_Office365 .dxreView
{
    border-left: 1px solid rgba(0,0,0,0.08);
    border-right: 1px solid rgba(0,0,0,0.08);
}
.dxreControl_Office365 .dxreBar
{
    border-left: 1px solid rgba(0,0,0,0.08);
    border-right: 1px solid rgba(0,0,0,0.08);
}
.dxreControl_Office365 .dxreBar .dxreLoadingPanel .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 2px solid #009688;
    border-top: 2px solid #EEE;
    width: 12px;
    height: 12px;
}
html.dxIE.dxBrowserVersion-9 .dxreControl_Office365 .dxreBar .dxreLoadingPanel .dxlp-loadingImage
{
    width: 16px;
    height: 16px;
    background: url('reLoadingOnStatusBar.gif');
}
.dxreControl_Office365 .dxreQuickSearchPanel .dxreQuickSearchButton,
.dxreControl_Office365 .dxreQuickSearchPanel .dxreQuickSearchButton .dxb
{
    box-shadow: none;
    width: 0px;
}
.dxreControl_Office365 .dxrControl_Office365 .dxr-minBtn
{
    margin-top: 7px;
}
.dxreControl_Office365.dxreNotInternalRibbon
{
    border-top: 1px solid rgba(0,0,0,0.08);
}
.dxreControl_Office365 .dxreRulerWrapper
{
    border-left: 1px solid rgba(0,0,0,0.08);
    border-right: 1px solid rgba(0,0,0,0.08);
}
.dxreControl_Office365 .dxreDlgColumnsForm .dxreDlgTableWidth .dxreDlgCenter
{
    padding: 0 5px;
}
.dxreControl_Office365 .dxreDlgFindReplaceForm .dxre-dialogContentGroup
{
    padding-bottom: 36px !important;
}
.dxreControl_Office365 .dxreBorderButton.dxbButton_Office365.dxbTSys
{
    visibility: hidden;
    width: 0px;
}
.dxreControl_Office365 .dxre-dialogCellBlock
{
    height: 29px;
}
.dxreControl_Office365 .dxreDlgListBox .dxreDlgListSelected
{
    color: #FFF;
}
.dxreControl_Office365 .dxreDlgFinishMergeForm
{
    width: 300px;
}
.dxreControl_Office365 .dxreDlgPageSetupForm .dxre-dialogContentGroup > tbody > tr:last-child > td
{
    padding-left: 10px;
}
.dxreControl_Office365 .dxreDlgHyperlinkForm.dxflFormLayout_Office365 .dxre-editorsGroupWithPaddings
{
    padding-left: 5px;
    padding-right: 2px;
}
.dxreControl_Office365 .dxreDlgColumnsForm .dxre-dialogPresetsPanel .dxbButton_Office365 div.dxb
{
    padding: 4px 12px 6px;
}
.dxreControl_Office365 .dxreDlgColumnsForm .dxre-dialogPresetsPanel .dxbButton_Office365.dxbTSys
{
    width: 60px;
}
.dxreControl_Office365 .dxreDlgLayoutForm .dxbButton_Office365.dxbTSys
{
    width: 60px;
}
.dxreControl_Office365 .dxre-dialogParagraphInnerLayout .dxflCaptionCell_Office365
{
    padding: 6px 0 !important;
}
.dxreControl_Office365 .dxre-dialogPresetButton .dxbButton_Office365.dxbTSys
{
    width: 55px;
}
.dxreControl_Office365 .dxre-dialogPresetButton .dxbButton_Office365 div.dxb
{
    padding: 6px 2px 6px !important;
}
@media (max-width: 500px)
{
    .dxreControl_Office365 .dxreDialog .dxtcLite_Office365 > .dxtc-content
    {
        padding: 7px;
    }
    .dxreControl_Office365 .dxreDialog .dxre-dialog .dxflElConSys > div
    {
        float: left;
        width: 100% !important;
    }
    .dxreControl_Office365 .dxreDialog .dxflCaptionCellSys
    {
        padding: 13px 0 !important;
    }
    .dxreControl_Office365 .dxreDialog .dxflGroupCell_Office365
    {
        padding: 0px 10px;
    }
    .dxreControl_Office365 .dxreDialog .dxbButton_Office365 div.dxb
    {
        padding: 6px 2px 4px;
    }
    .dxreControl_Office365 .dxreDialog .dxre-dialogCellMarginsGroup
    {
        padding: 0px !important;
    }
    .dxreControl_Office365 .dxreDialog .dxre-dialogCellMarginsGroup .dxre-dialogLG, .dxreControl_Office365 .dxreDialog .dxre-dialogCellMarginsGroup .dxre-dialogLGC
    {
        padding: 0px;
    }
    .dxreControl_Office365 .dxreDialog .dxre-dialogCellMarginsGroup .dxre-dialogCellBlock
    {
        width: 67px;
    }
    .dxreControl_Office365 .dxreDialog .dxre-dialogCellMarginsGroup .dxflLastChildSys:not(.dxflFirstChildSys)
    {
        padding-left: 35px;
    }
    .dxreControl_Office365 .dxreDialog .dxre-dialogCellMarginsGroup .dxre-dialogCellMargins .dxre-dialogShortEditor
    {
        max-width: 88px;
    }
    .dxreControl_Office365 .dxreDialog .dxre-dialogCellMarginsGroup .dxre-dialogCellMargins .dxre-dialogShortEditor td.dxic
    {
        padding: 6px 3px 6px 5px;
    }
    .dxreControl_Office365 .dxreDialog .dxre-dialogCellMarginsGroup .dxre-dialogCellMargins .dxre-dialogShortEditor .dxeButtonEditClearButton_Office365
    {
        padding: 0px;
    }
    .dxreControl_Office365 .dxreDialog .dxreDlgColumnsForm .dxflNotFloatedElSys .dxrpControl_Office365 .dxflGroupCell_Office365 .dxreDlgSpinEdit
    {
        width: 95px;
    }
    .dxreControl_Office365 .dxreDialog .dxreDlgColumnsForm .dxflNotFloatedElSys .dxrpControl_Office365 .dxflGroupCell_Office365 .dxreDlgSpinEdit td.dxic
    {
        padding: 7px 6px 6px 6px;
    }
    .dxreControl_Office365 .dxreDialog .dxreDlgColumnsForm .dxflNotFloatedElSys .dxrpControl_Office365 .dxflGroupCell_Office365 .dxreDlgSpinEdit .dxeButtonEditClearButton_Office365
    {
        padding: 0px;
    }
    .dxreControl_Office365 .dxreDialog .dxreDlgColumnsForm .dxre-dialogPresetsPanel .dxbButton_Office365 div.dxb
    {
        padding: 4px 12px 6px;
    }
    .dxreControl_Office365 .dxreDialog .dxreDlgColumnsForm .dxre-dialogPresetsPanel .dxbButton_Office365.dxbTSys
    {
        width: 40px;
    }
    .dxreControl_Office365 .dxreDialog .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgTextBox
    {
        width: 36px;
    }
    .dxreControl_Office365 .dxreDialog .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgSpinEdit
    {
        width: 78px;
    }
    .dxreControl_Office365 .dxreDialog .dxreDlgLayoutForm .dxbButton_Office365.dxbTSys
    {
        width: 55px;
    }
    .dxreControl_Office365 .dxreDialog .dxre-offsetGroup
    {
        padding: 0px;
    }
    .dxreControl_Office365 .dxreDialog .dxre-offsetGroup .dxre-dialogShortEditor
    {
        max-width: 115px;
    }
}
