.dx-acc-r .dxSpreadsheet_TouchResize_Office2010Silver:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxSpreadsheet_TouchResize_Office2010Silver:before

{
    left: 0px;
    top: 0px;

}

