.dxssControl_Office2010Silver
{
    border-style: solid;
    border-width: 1px;
    border-color: #868b91;
    font: 11px Verdana, Geneva, sans-serif;
}
.dxssControl_Office2010Silver .dxrControl_Office2010Silver .dxr-tabContent
{
    border-left-style: none;
    border-right-style: none;
}
.dxssControl_Office2010Silver .dxss-gl .dxss-v,
.dxssControl_Office2010Silver .dxss-gl .dxss-h
{
    border-color: #dbdee1;
}
.dxssControl_Office2010Silver .dxss-rowHeader
{
    border-right: 1px solid #dbdee1;
    border-top: 1px solid #dbdee1;
}
.dxssControl_Office2010Silver .dxss-colHeader
{
    border-bottom: 1px solid #dbdee1;
    border-left: 1px solid #dbdee1;
}
.dxssControl_Office2010Silver .dxss-crse
{
    background-color: #FCCD41;
}
.dxssControl_Office2010Silver .dxss-trbe
{
    border-top-color: #c27f31;
}
.dxssControl_Office2010Silver .dxss-rrbe
{
    border-right-color: #c27f31;
}
.dxssControl_Office2010Silver .dxss-brbe
{
    border-bottom-color: #c27f31;
}
.dxssControl_Office2010Silver .dxss-lrbe
{
    border-left-color: #c27f31;
}
.dxssControl_Office2010Silver .dxss-fh
{
    background-color: #c27f31;
}
.dxssControl_Office2010Silver .dxss-sbe
{
    border-color: #c27f31;
}
.dxssControl_Office2010Silver .dxss-crs
{
    border-color: #c27f31;
}
.dxssControl_Office2010Silver .dxrControl_Office2010Silver .dxtcLite_Office2010Silver.dxtc-top .dxtc-leftIndent
{
    width: 3px;
}
.dxssControl_Office2010Silver .dxtcLite_Office2010Silver,
.dxssControl_Office2010Silver .dxrControl_Office2010Silver .dxtcLite_Office2010Silver
{
    background-color: #e9edf1;
}
.dxssControl_Office2010Silver .dxss-hrg,
.dxssControl_Office2010Silver .dxss-vrg
{
    background-color: #c27f31;
}
.dxssControl_Office2010Silver .dxtcLite_Office2010Silver.dxtc-bottom .dxtc-stripContainer
{
    padding: 0 !important;
}
.dxssControl_Office2010Silver .dxtcLite_Office2010Silver .dxtc-stripContainer .dxtc-leftIndent
{
    width: 0;
}
.dxssControl_Office2010Silver .dxtcLite_Office2010Silver.dxtc-bottom .dxtc-stripContainer .dxtc-tab,
.dxssControl_Office2010Silver .dxtcLite_Office2010Silver.dxtc-bottom .dxtc-stripContainer .dxtc-activeTab
{
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
}
.dxssControl_Office2010Silver .dxtcLite_Office2010Silver.dxtc-bottom .dxtc-stripContainer .dxtc-link
{
    padding: 4px 35px 5px 34px;
}
.dxssControl_Office2010Silver .dxtcLite_Office2010Silver.dxtc-bottom .dxtc-stripContainer .dxtc-spacer
{
    width: 0px;
}
.dxssControl_Office2010Silver .dxrControl_Office2010Silver .dxr-minBtn
{
    padding-right: 7px;
}
.dxssControl_Office2010Silver .dxss-tse
{
    border-color: #c27f31;
}
.dxssControl_Office2010Silver .dxss-tre
{
    background: url('TouchResize.png');
}
.dxssControl_Office2010Silver .dxss-ddp,
.dxssControl_Office2010Silver .dxss-ddb
{
    border: 1px solid #a5acb5;
}
.dxssControl_Office2010Silver .dxss-ddp tr:hover
{
    background-color: #e2ecf7;
}
/* Loading panel */
.dxssLoadingDiv_Office2010Silver
{
    background: White;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
}
.dxssLoadingPanel_Office2010Silver
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #585e68;
    background: White none;
    border: 1px solid #80858d;
}
.dxssLoadingPanel_Office2010Silver td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxssLoadingPanel_Office2010Silver .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 16px;
    width: 16px;
}
/* DX Spreadsheet Cell Editor Element, Formula Bar, IntelliSense elements */
.dxssControl_Office2010Silver .dxss-ctve
{
    border: 2px solid #c27f31;
    /*the same -dxss-cfe */
}
.dxssControl_Office2010Silver .dxss-fb
{
    height: 21px;
    padding: 10px;
    border-bottom: 1px solid #868b91;
}
.dxFirefox .dxssControl_Office2010Silver .dxss-fb
{
    height: 23px;
}
.dxssControl_Office2010Silver .dxss-fbw
{
    border: 1px solid #a5acb5;
    background-color: white;
    padding: 3px;
}
.dxssControl_Office2010Silver .dxmLite_Office2010Silver .dxss-fbMenu
{
    height: 21px;
    border: 0;
    background-color: transparent;
    background-image: none;
}
.dxssControl_Office2010Silver .dxss-fbMenu .dxm-content
{
    padding-top: 2px !important;
}
.dxssControl_Office2010Silver .dxss-hint
{
    padding: 3px 8px 4px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid #bbbfc4;
    color: inherit;
    background-color: #f7fafc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7fafc', endColorstr='#e7eaee');
    background: -webkit-gradient(linear, left top, left bottom, from(#f7fafc), to(#e7eaee));
    background: -moz-linear-gradient(top, #f7fafc, #e7eaee);
}
.dxssControl_Office2010Silver .dxss-hint.dxss-funcInfo
{
    margin-left: 10px;
    margin-right: 10px;
}
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup .dxm-checked img[class*="ssRibbonIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup .dxm-checked img[class*="ssRibbonIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup .dxm-checked img[class*="ssRibbonIcons_PageMarginsNarrow"],
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup .dxm-checked span[class*="ssRibbonIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup .dxm-checked span[class*="ssRibbonIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup .dxm-checked span[class*="ssRibbonIcons_PageMarginsNarrow"]
{
    margin-top: 2px !important;
}
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup img[class*="ssRibbonIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup img[class*="ssRibbonIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup img[class*="ssRibbonIcons_PageMarginsNarrow"],
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup span[class*="ssRibbonIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup span[class*="ssRibbonIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Office2010Silver .dxm-popup span[class*="ssRibbonIcons_PageMarginsNarrow"]
{
    margin-top: 4px !important;
}
.dxflGroup_Office2010Silver.dxssFCDescription
{
    height: 64px;
    padding-top: 4px !important;
}
.dxeListBox_Office2010Silver.dxssFCType
{
    height: 160px !important;
}
/* Cell Editing */
.dxssControl_Office2010Silver.icbem .dxss-inputTarget
{
    border: 2px solid #c27f31;
}
/*Cell position hint*/
.dxssControl_Office2010Silver .dxss-cell-pos-hint
{
    background-color: #c27f31;
    color: white;
}
.dxrControl_Office2010Silver .dxssRibbonCBSmall
{
    width: 60px;
}
.dxrControl_Office2010Silver .dxssRibbonCBLarge
{
    width: 130px;
}
/* --------------Dialogs----------------- */
.dxssControl_Office2010Silver .dxss-dialogSimpleFooterGroup,
.dxssControl_Office2010Silver .dxss-dialogFooter
{
    background-color: #e9edf1;
    border-top: 1px #c9cdd2 solid;
}
.dxssControl_Office2010Silver .dxss-dialog .dxss-imagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
}
.dxssControl_Office2010Silver .dxss-changeChartTypeForm .dxss-chartsbtn div.dxb
{
    padding: 6px 9px 7px;
}
.dxssControl_Office2010Silver .dxss-changeChartTypeForm .dxss-chartsbtn
{
    width: auto;
}
/*---------Change-Chart-Style-Dialog-------*/
.dxss-modifyChartStyleContent .dxbButtonHover_Office2010Silver
{
    color: #3c3c3c;
    background: #fcf8e5 url('../Editors/edtBtnHBack.png') repeat-x left top;
    border: 1px solid #eecc53;
}
.dxss-modifyChartStyleContent .dxbButtonChecked_Office2010Silver,
.dxss-modifyChartStyleContent .dxbButtonPressed_Office2010Silver
{
    color: #3c3c3c;
    background: #fee287 url('../Editors/edtBtnPBack.png') repeat-x left top;
    border: 1px solid #c2762b;
}
/* Format as Table */
.dxss-modifyChartStyleContent .dxbButton_Office2010Silver div.dxb
{
    padding-left: 3px;
    padding-right: 3px;
}
.dxss-modifyChartStyleContent .dxbButton_Office2010Silver div.dxbf
{
    padding-left: 2px;
    padding-right: 2px;
}
@media (max-width: 400px)
{
    .dxssControl_Office2010Silver .dxss-modifyTableStyleForm .dxss-dialogSimpleContentGroup
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .dxssControl_Office2010Silver .dxss-modifyTableStyleForm .dxtcLite_Office2010Silver.dxtc-left > .dxtc-stripContainer .dxtc-link
    {
        padding-left: 6px;
        padding-right: 5px;
    }
    .dxssControl_Office2010Silver .dxss-modifyTableStyleForm .dxtcLite_Office2010Silver > .dxtc-content
    {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}
/*-----Filter-Dialogs-----*/
.dxss-dataFilterSimpleForm .dxbButton_Office2010Silver div.dxb
{
    padding-left: 5px;
    padding-right: 5px;
}
@media (max-width: 400px)
{
    .dxpnlControl_Office2010Silver .dxss-dataFilterSimpleForm .dxss-dialogControlsWrapper > tbody > tr > td:first-child
    {
        display: none;
    }
}
/***Data*Validation***/
.dxss-dataValidationForm .dxtcLite_Office2010Silver .dxss-dvContent
{
    min-height: 240px;
}
.dxss-dataValidationForm .dxtcLite_Office2010Silver .dxss-dvSettingsContent
{
    min-height: 209px;
}
@media (max-width: 400px)
{
    .dxss-dataValidationForm .dxss-dvDescriptionRow .dxeBase_Office2010Silver .dxichCellSys,
    .dxss-dataValidationForm .dxss-dvApplyChanges .dxeBase_Office2010Silver .dxichCellSys
    {
        vertical-align: top;
        padding-top: 0px;
    }
}
