.dxtlControl_Office365
{
    cursor: default;
    font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #666;
    border: 1px #dfdfdf;
}
.dxtlControl_Office365 caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxtlControl_Office365 .dxtlDataTable
{
    border: 1px solid rgba(0,0,0,0.08);
}
/* Indent cells */
.dxtlIndent_Office365,
.dxtlIndentWithButton_Office365
{
    vertical-align: top;
    background: white none no-repeat top center;
}
.dxtlIndent_Office365
{
    padding: 0 11px;
}
.dxtlIndentWithButton_Office365
{
    padding: 0.8em 0.7em;
}
.dxtlSelectionCell_Office365
{
    padding: 0.4em;
    border: 1px solid rgba(0,0,0,0.1);
}
/* Tree-lines cells */
/* Headers */
.dxtlHeader_Office365
{
    white-space: nowrap;
    padding: 13px 10px 11px;
    border: 1px solid rgba(0,0,0,0.1);
    border-width: 0 0 1px 0;
    background-color: white;
    color: black;
    overflow: hidden;
    font-weight: normal;
    text-align: left;
    font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-size: 1em;
}
.dxtlHeader_Office365 table.dxtl
{
    border-collapse: collapse;
    width: 100%;
}
.dxtlHeader_Office365 td.dxtl
{
    padding: 0;
}
.dxtlHeader_Office365,
.dxtlHeader_Office365 td.dxtl
{
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}
/* Nodes */
.dxtlNode_Office365
{
    background: white none;
}
.dxtlAltNode_Office365
{
    background-color: rgba(0,0,0,0.04);
}
.dxtlSelectedNode_Office365
{
    background: #90AAA6 none;
}
.dxtlFocusedNode_Office365
{
    background: #009688 none;
    color: white;
}
.dxtlInlineEditNode_Office365
{
    background: white none;
}
.dxtlEditFormDisplayNode_Office365
{
    background: white none;
}
.dxtlNode_Office365 td.dxtl,
.dxtlAltNode_Office365 td.dxtl,
.dxtlSelectedNode_Office365 td.dxtl,
.dxtlFocusedNode_Office365 td.dxtl,
.dxtlEditFormDisplayNode_Office365 td.dxtl,
.dxtlCommandCell_Office365
{
    padding: 3px 10px 4px;
    border: 1px solid rgba(0,0,0,0.1);
    white-space: nowrap;
    overflow: hidden;
}
.dxtlHeader_Office365 .dxbButton_Office365,
.dxtlCommandCell_Office365 .dxbButton_Office365
{
    margin-left: 5px;
    margin-right: 5px;
}
.dxtlHeader_Office365 .dxbButton_Office365 .dxb,
.dxtlCommandCel_Office365 .dxbButton_Office365 .dxb
{
    padding-top: 0;
    padding-bottom: 2px;
}
.dxtlInlineEditNode_Office365 td.dxtl
{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1px;
}
/* Preview */
.dxtlPreview_Office365
{
    color: #999999;
    padding: 14px;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}
/* Footers */
.dxtlGroupFooter_Office365 td.dxtl,
.dxtlFooter_Office365 td.dxtl
{
    padding: 5px 10px 6px;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}
.dxtlGroupFooter_Office365 .dx-ar > br,
.dxtlFooter_Office365 .dx-ar > br
{
    float: none;
}
/* Pagers */
.dxtlPagerTopPanel_Office365,
.dxtlPagerBottomPanel_Office365
{
    padding: 3px 0 1px;
}
.dxtlPagerTopPanel_Office365
{
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.08);
}
.dxtlPagerBottomPanel_Office365
{
    border: 1px solid rgba(0,0,0,0.1);
    border-top-style: none;
}
/* Editing */
.dxtlEditForm_Office365
{
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #f4f4f4;
    padding: 12px 10px 12px;
}
.dxtlEditFormCaption_Office365,
.dxtlEditFormEditCell_Office365
{
    padding: 4px;
}
.dxtlEditFormCaption_Office365
{
    padding-left: 10px;
    white-space: nowrap;
}
.dxtlError_Office365
{
    background: #FFC8C8 none;
    color: #FF0000;
    padding: 6px 10px;
    border: 1px solid rgba(0,0,0,0.1);
}
.dxtlPopupEditForm_Office365
{
    padding: 10px;
    min-width: 300px;
}
.dxtlEditForm_Office365 .dxtlCommandCell_Office365,
.dxtlPopupEditForm_Office365 .dxtlCommandCell_Office365
{
    padding-top: 12px;
    padding-bottom: 12px;
}
.dxtlEditForm_Office365 .dxtlCommandCell_Office365 a,
.dxtlPopupEditForm_Office365 .dxtlCommandCell_Office365 a
{
    margin-left: 2px;
    margin-right: 2px;
    padding: 8px 16px;
    margin-top: -8px;
    margin-bottom: -8px;
}
.dxtlEditForm_Office365 .dxtlCommandCell_Office365 a:hover,
.dxtlPopupEditForm_Office365 .dxtlCommandCell_Office365 a:hover
{
    background-color: #d1d1d1;
    text-decoration: none;
}
/* Links */
.dxtlControl_Office365 a
{
    color: #009688;
}
.dxtlFocusedNode_Office365 a
{
    color: white !important;
}
.dxtlCommandCell_Office365 a
{
    margin-right: 5px;
}
/* Customization window */
.dxtlControl_Office365 .dxpcLite_Office365 .dxpc-content
{
    min-width: 220px;
}
.dxtlControl_Office365 .dxpcLite_Office365 .dxpc-content .dxtlHeader_Office365
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: white;
}
/* Loading panel */
.dxtlLoadingPanel_Office365
{
    background-color: white;
    font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #666;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxtlLoadingPanel_Office365 td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxtlLoadingPanel_Office365 .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #009688;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxtlLoadingPanel_Office365 .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
/* Disabled */
.dxtlDisabled_Office365,
.dxtlDisabled_Office365 .dxtl
{
    color: #b8b8b8;
    cursor: default;
}
/* Ripple */
.dxtlControl_Office365 .dxpcLite_Office365
{
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxtlControl_Office365 .dxpcLite_Office365 .dxpc-mainDiv.dxpc-hf
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Filtering */
.dxtlFilterRow_Office365
{
    background-color: #f4f4f4;
}
.dxtlFilterRow_Office365 > td
{
    border-bottom: 1px Solid #DFDFDF;
    border-right: 1px Solid #DFDFDF;
    border-top-width: 0;
    border-left-width: 0;
    padding: 2px;
    overflow: hidden;
}
/* Search Panel */
.dxtlSearchPanel_Office365
{
    padding: 7px 0 16px;
}
.dxtlSearchPanel_Office365 > table
{
    width: 100%;
}
.dxtlSearchPanel_Office365 .dxeButtonEdit_Office365
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    width: 100%;
}
.dxtlSearchPanel_Office365 .dxeButtonEdit_Office365,
.dxtlSearchPanel_Office365 .dxeButtonEdit_Office365 input
{
    background-color: #FAFAFA;
}
.dxtlSearchPanel_Office365 .dxeButtonEdit_Office365 td.dxic
{
    padding: 13px 8px 14px 12px;
}
*[dir="rtl"] .dxtlSearchPanel_Office365 .dxeButtonEdit_Office365 td.dxic
{
    padding: 13px 12px 14px 8px;
}
.dxtlControl_Office365 .dxtlSearchPanel_Office365 > table > tbody > tr > td:nth-child(2) a.dxbButton_Office365
{
    margin-left: 16px;
}
*[dir="rtl"].dxtlControl_Office365 .dxtlSearchPanel_Office365 > table > tbody > tr > td:nth-child(2) a.dxbButton_Office365
{
    margin-right: 16px;
    margin-left: 0;
}
.dxtlControl_Office365 .dxtlSearchPanel_Office365 > table > tbody > tr > td:last-child a.dxbButton_Office365
{
    margin-right: 16px;
}
*[dir="rtl"].dxtlControl_Office365 .dxtlSearchPanel_Office365 > table > tbody > tr > td:last-child a.dxbButton_Office365
{
    margin-left: 16px;
}
.dxtlControl_Office365 .dxtlSearchPanel_Office365 > table > tbody > tr > td a.dxbButton_Office365
{
    margin-left: 10px;
}
*[dir="rtl"].dxtlControl_Office365 .dxtlSearchPanel_Office365 > table > tbody > tr > td a.dxbButton_Office365
{
    margin-right: 10px;
}
.dxtlControl_Office365 .dxtlSearchPanel_Office365 .dxbButton_Office365
{
    margin-left: 8px;
}
/* Filter Builder, Filter Bar */
.dxtlFilterBar_Office365
{
    margin-top: 16px;
    border: 1px solid rgba(0,0,0,0.1);
    border-collapse: separate;
}
.dxtlFilterBar_Office365 a
{
    color: #009688;
    text-decoration: none;
}
.dxtlFilterBar_Office365 a:hover
{
    text-decoration: underline;
}
.dxtlFilterBar_Office365 > tbody > tr > td
{
    padding-top: 6px;
    padding-bottom: 6px;
}
.dxtlFilterBarCheckBoxCell_Office365
{
    padding-left: 8px;
}
*[dir="rtl"] .dxtlFilterBarCheckBoxCell_Office365
{
    padding-right: 8px;
}
.dxtlFilterBarCheckBoxCell_Office365
{
    padding-left: 8px;
}
*[dir="rtl"] .dxtlFilterBarCheckBoxCell_Office365
{
    padding-right: 8px;
}
.dxtlFilterBarImageCell_Office365
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
*[dir="rtl"] .dxtlFilterBarImageCell_Office365
{
    padding: 0 20px 0 8px;
}
.dxtlFilterBarImageCell_Office365 img
{
    margin-top: 3px;
    margin-left: 0;
}
.dxtlFilterBarExpressionCell_Office365
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxtlFilterBarClearButtonCell_Office365
{
    padding: 5px 20px 8px 6px;
}
*[dir="rtl"] .dxtlFilterBarClearButtonCell_Office365
{
    padding: 5px 6px 8px 20px;
}
.dxtlFilterBuilderMainArea_Office365
{
    background: white none;
    padding: 6px 2px;
}
.dxtlFilterBuilderButtonArea_Office365
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxtlFilterBuilderButtonArea_Office365 .dxbButton_Office365
{
    margin-left: 8px;
}
.dxtlControl_Office365 .dxtlHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxtlControl_Office365 .dxtlHFDRC
{
    margin: 15px 15px 25px;
}
.dxtlControl_Office365 .dxtlHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxtlControl_Office365 .dxtlHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxtlControl_Office365 .dxtlHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
.dxtlControl_Office365 .dxtl__IM,
.dxtlControl_Office365 .dxtl__IE
{
    font-size: 14px !important;
}
