.dx-acc-r .dxSpreadsheet_TouchResize_MaterialCompactCustom:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxSpreadsheet_TouchResize_MaterialCompactCustom:before

{
    left: 0px;
    top: 0px;

}

