<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TAAPsServices.Properties.Settings.TAAPsCon" connectionString="Data Source=INWANG3;Initial Catalog=NasarawaTAAPs;Persist Security Info=True;User ID=sa;Password=Password123$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>