.dx-acc-r .dxre-quickSearchButtonHover .dxRichEdit_QuickSearchCloseButton_ModernoCustom:before,
.dx-acc-r .dxre-quickSearchButtonHover .dxRichEdit_QuickSearchCollapseButton_ModernoCustom:before,
.dx-acc-r .dxRichEdit_CenterTabDragHandle_ModernoCustom:before,
.dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_ModernoCustom:before,
.dx-acc-r .dxRichEdit_DecimalTabDragHandle_ModernoCustom:before,
.dx-acc-r .dxRichEdit_FirstLineIdentDragHandle_ModernoCustom:before,
.dx-acc-r .dxRichEdit_LeftIdentDragHandle_ModernoCustom:before,
.dx-acc-r .dxRichEdit_LeftTabDragHandle_ModernoCustom:before,
.dx-acc-r .dxRichEdit_QuickSearchCloseButton_ModernoCustom:before,
.dx-acc-r .dxRichEdit_QuickSearchCollapseButton_ModernoCustom:before,
.dx-acc-r .dxRichEdit_QuickSearchNextButton_ModernoCustom:before,
.dx-acc-r .dxRichEdit_QuickSearchPrevButton_ModernoCustom:before,
.dx-acc-r .dxRichEdit_RightIdentDragHandle_ModernoCustom:before,
.dx-acc-r .dxRichEdit_RightTabDragHandle_ModernoCustom:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxre-quickSearchButtonHover .dxRichEdit_QuickSearchCloseButton_ModernoCustom:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxre-quickSearchButtonHover .dxRichEdit_QuickSearchCollapseButton_ModernoCustom:before

{
    left: 0px;
    top: -57px;

}
.dx-acc-r .dxRichEdit_CenterTabDragHandle_ModernoCustom:before

{
    left: -10px;
    top: -111px;

}
.dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_ModernoCustom:before

{
    left: -10px;
    top: -102px;

}
.dx-acc-r .dxRichEdit_DecimalTabDragHandle_ModernoCustom:before

{
    left: -10px;
    top: -120px;

}
.dx-acc-r .dxRichEdit_FirstLineIdentDragHandle_ModernoCustom:before

{
    left: 0px;
    top: -111px;

}
.dx-acc-r .dxRichEdit_LeftIdentDragHandle_ModernoCustom:before

{
    left: 0px;
    top: -102px;

}
.dx-acc-r .dxRichEdit_LeftTabDragHandle_ModernoCustom:before

{
    left: -7px;
    top: -129px;

}
.dx-acc-r .dxRichEdit_QuickSearchCloseButton_ModernoCustom:before

{
    left: 0px;
    top: -38px;

}
.dx-acc-r .dxRichEdit_QuickSearchCollapseButton_ModernoCustom:before

{
    left: 0px;
    top: -19px;

}
.dx-acc-r .dxRichEdit_QuickSearchNextButton_ModernoCustom:before

{
    left: 0px;
    top: -89px;

}
.dx-acc-r .dxRichEdit_QuickSearchPrevButton_ModernoCustom:before

{
    left: 0px;
    top: -76px;

}
.dx-acc-r .dxRichEdit_RightIdentDragHandle_ModernoCustom:before

{
    left: 0px;
    top: -120px;

}
.dx-acc-r .dxRichEdit_RightTabDragHandle_ModernoCustom:before

{
    left: 0px;
    top: -129px;

}

