.dx-acc-r .dxTreeList_CollapsedButton_Office2010Silver:before,
.dx-acc-r .dxTreeList_CollapsedButtonRtl_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTClearFilter_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTClearFilterDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTCollapseRow_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTCollapseRowDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTDeleteRow_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTDeleteRowDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTEditRow_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTEditRowDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExpandRow_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExpandRowDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExportDocx_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExportDocxDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExportPdf_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExportPdfDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExportRtf_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExportRtfDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExportXls_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExportXlsDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExportXlsx_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTExportXlsxDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTFullCollapse_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTFullCollapseDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTFullExpand_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTFullExpandDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTNewRow_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTNewRowDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTRefresh_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTRefreshDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTShowCustomizationWindow_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTShowCustomizationWindowDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTShowFilterRow_Office2010Silver:before,
.dx-acc-r .dxTreeList_CTShowFilterRowDisabled_Office2010Silver:before,
.dx-acc-r .dxTreeList_DragAndDropArrowDown_Office2010Silver:before,
.dx-acc-r .dxTreeList_DragAndDropArrowUp_Office2010Silver:before,
.dx-acc-r .dxTreeList_DragAndDropHide_Office2010Silver:before,
.dx-acc-r .dxTreeList_DragAndDropNode_Office2010Silver:before,
.dx-acc-r .dxTreeList_ExpandedButton_Office2010Silver:before,
.dx-acc-r .dxTreeList_ExpandedButtonRtl_Office2010Silver:before,
.dx-acc-r .dxTreeList_FilterRowButton_Office2010Silver:before,
.dx-acc-r .dxTreeList_HeaderFilter_Office2010Silver:before,
.dx-acc-r .dxTreeList_HeaderFilterActive_Office2010Silver:before,
.dx-acc-r .dxTreeList_SortAsc_Office2010Silver:before,
.dx-acc-r .dxTreeList_SortDesc_Office2010Silver:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxTreeList_CollapsedButton_Office2010Silver:before

{
    left: -14px;
    top: -108px;

}
.dx-acc-r .dxTreeList_CollapsedButtonRtl_Office2010Silver:before

{
    left: -42px;
    top: -108px;

}
.dx-acc-r .dxTreeList_CTClearFilter_Office2010Silver:before

{
    left: -51px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTClearFilterDisabled_Office2010Silver:before

{
    left: -17px;
    top: -40px;

}
.dx-acc-r .dxTreeList_CTCollapseRow_Office2010Silver:before

{
    left: -68px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTCollapseRowDisabled_Office2010Silver:before

{
    left: -68px;
    top: -40px;

}
.dx-acc-r .dxTreeList_CTDeleteRow_Office2010Silver:before

{
    left: -34px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTDeleteRowDisabled_Office2010Silver:before

{
    left: 0px;
    top: -74px;

}
.dx-acc-r .dxTreeList_CTEditRow_Office2010Silver:before

{
    left: -23px;
    top: 0px;

}
.dx-acc-r .dxTreeList_CTEditRowDisabled_Office2010Silver:before

{
    left: -17px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTExpandRow_Office2010Silver:before

{
    left: -74px;
    top: 0px;

}
.dx-acc-r .dxTreeList_CTExpandRowDisabled_Office2010Silver:before

{
    left: -51px;
    top: -74px;

}
.dx-acc-r .dxTreeList_CTExportDocx_Office2010Silver:before

{
    left: -51px;
    top: -40px;

}
.dx-acc-r .dxTreeList_CTExportDocxDisabled_Office2010Silver:before

{
    left: 0px;
    top: -40px;

}
.dx-acc-r .dxTreeList_CTExportPdf_Office2010Silver:before

{
    left: -85px;
    top: -40px;

}
.dx-acc-r .dxTreeList_CTExportPdfDisabled_Office2010Silver:before

{
    left: -51px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTExportRtf_Office2010Silver:before

{
    left: -68px;
    top: -74px;

}
.dx-acc-r .dxTreeList_CTExportRtfDisabled_Office2010Silver:before

{
    left: -17px;
    top: -91px;

}
.dx-acc-r .dxTreeList_CTExportXls_Office2010Silver:before

{
    left: -17px;
    top: -74px;

}
.dx-acc-r .dxTreeList_CTExportXlsDisabled_Office2010Silver:before

{
    left: -34px;
    top: -74px;

}
.dx-acc-r .dxTreeList_CTExportXlsx_Office2010Silver:before

{
    left: -85px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTExportXlsxDisabled_Office2010Silver:before

{
    left: -57px;
    top: 0px;

}
.dx-acc-r .dxTreeList_CTFullCollapse_Office2010Silver:before

{
    left: -40px;
    top: 0px;

}
.dx-acc-r .dxTreeList_CTFullCollapseDisabled_Office2010Silver:before

{
    left: -51px;
    top: -91px;

}
.dx-acc-r .dxTreeList_CTFullExpand_Office2010Silver:before

{
    left: -17px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTFullExpandDisabled_Office2010Silver:before

{
    left: -34px;
    top: -91px;

}
.dx-acc-r .dxTreeList_CTNewRow_Office2010Silver:before

{
    left: -85px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTNewRowDisabled_Office2010Silver:before

{
    left: 0px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTRefresh_Office2010Silver:before

{
    left: -34px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTRefreshDisabled_Office2010Silver:before

{
    left: 0px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTShowCustomizationWindow_Office2010Silver:before

{
    left: -68px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTShowCustomizationWindowDisabled_Office2010Silver:before

{
    left: 0px;
    top: -91px;

}
.dx-acc-r .dxTreeList_CTShowFilterRow_Office2010Silver:before

{
    left: -34px;
    top: -40px;

}
.dx-acc-r .dxTreeList_CTShowFilterRowDisabled_Office2010Silver:before

{
    left: -85px;
    top: -74px;

}
.dx-acc-r .dxTreeList_DragAndDropArrowDown_Office2010Silver:before

{
    left: -91px;
    top: -13px;

}
.dx-acc-r .dxTreeList_DragAndDropArrowUp_Office2010Silver:before

{
    left: -91px;
    top: 0px;

}
.dx-acc-r .dxTreeList_DragAndDropHide_Office2010Silver:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxTreeList_DragAndDropNode_Office2010Silver:before

{
    left: -56px;
    top: -108px;

}
.dx-acc-r .dxTreeList_ExpandedButton_Office2010Silver:before

{
    left: 0px;
    top: -108px;

}
.dx-acc-r .dxTreeList_ExpandedButtonRtl_Office2010Silver:before

{
    left: -70px;
    top: -108px;

}
.dx-acc-r .dxTreeList_FilterRowButton_Office2010Silver:before

{
    left: -28px;
    top: -108px;

}
.dx-acc-r .dxTreeList_HeaderFilter_Office2010Silver:before

{
    left: -68px;
    top: -91px;

}
.dx-acc-r .dxTreeList_HeaderFilterActive_Office2010Silver:before

{
    left: -84px;
    top: -91px;

}
.dx-acc-r .dxTreeList_SortAsc_Office2010Silver:before

{
    left: -75px;
    top: -17px;

}
.dx-acc-r .dxTreeList_SortDesc_Office2010Silver:before

{
    left: -83px;
    top: -17px;

}

